In [60]:
import pandas as pd
import ast
import re

In [61]:
df = pd.read_excel('/home/trishalaswain/Documents/AGS_PROJECTS/OCR_SERVICE/SCP_42/SCP_42_DUAL_DOCS/mappings.xlsx', index_col=False)

In [57]:
# df = df[['account', 'request_id', 'suggested', 'final', 'local_suggested']]

In [62]:
df.dropna(subset=['local_suggested'], inplace=True)

In [59]:
# df2.reindex()
# df.groupby(['account_number'], axis=0).agg(', '.join)

In [63]:
df.shape
# df.suggested = df.suggested.astype('str')
# df.final = df.final.astype('str')
# df.local_suggested = df.local_suggested.astype('int')

(1935, 5)

In [64]:
df.shape

(1935, 5)

In [7]:
df.columns

Index(['Unnamed: 0', 'ocr_request_id', 'account_number', 'final_code',
       'suggested_code', 'local_suggested'],
      dtype='object')

In [ ]:
# df.encDocIds = df.encDocIds.astype('str')

In [ ]:
# df = df[~df.encDocIds.str.contains(',')]

In [65]:
df

,ocr_request_id,account_number,final_code,suggested_code,local_suggested
0,6675433,90188814,99285,99285,99285
1,6675440,90188808,99284,99284,99284
2,6675442,90188807,99285,99285,99285
3,6675444,90188805,99291,99285,99285
4,6675444,90188805,99285,99285,99285
...,...,...,...,...,...
1930,6917619,90227081,99291,99291,99285
1931,6917619,90227081,99285,99291,99285
1932,6918839,90272706,99284,99284,99285
1933,6922667,90415094,99284,99284,99285
1934,6922666,90415173,99285,99284,99285

In [ ]:
# for i,r in df.iterrows():
#     df.at[i, 'EANDM_Rejected'] = r['EANDM_Rejected'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Added'] = r['EANDM_Added'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Accepted'] = r['EANDM_Accepted'].replace(']', '').replace('[', '')
#     if (df.at[i, 'EANDM_Rejected'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Rejected']
#     else:
#        df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Rejected']
    
    
#     if (df.at[i, 'EANDM_Added'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Added']
#     else:
#        df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Added']

In [ ]:
# for i,r in df.iterrows():
#     df.at[i, 'eandm_rejected'] = r['eandm_rejected'].replace(']', '').replace('[', '')
#     df.at[i, 'eandm_added'] = r['eandm_added'].replace(']', '').replace('[', '')
#     df.at[i, 'eandm_accepted'] = r['eandm_accepted'].replace(']', '').replace('[', '')
#     if (df.at[i, 'eandm_rejected'] != '') & (df.at[i, 'eandm_accepted'] != ''):
#         df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_rejected']
#     else:
#        df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_rejected']
    
    
#     if (df.at[i, 'eandm_added'] != '') & (df.at[i, 'eandm_accepted'] != ''):
#         df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_added']
#     else:
#        df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_added']

In [ ]:
# for i,r in df.iterrows():
#     df.loc[i,'EANDM_Suggested_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Suggested']))])
#     df.loc[i,'EANDM_Final_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Final']))])

In [ ]:
# df=df[['processingDate', 'serviceDate', 'encDocIds', 'accountNumber', 'EANDM_Suggested_Code', 'EANDM_Final_Code', 'local_suggested']]

In [9]:
df = df[df['local_suggested'].notna()]
df.shape

(1935, 6)

In [ ]:
# df.local = df.local.astype('int')

In [10]:
df.local_suggested.value_counts()

99285     977
99284     940
99282      17
NoCode      1
Name: local_suggested, dtype: int64

In [ ]:
# df.suggested_code = df.suggested_code.astype('str')

In [ ]:
# df = df[~df.suggested_code.str.contains('99291')]
# df.shape

In [75]:
def get_counts(x):
    
    suggested = str(x['local_suggested'])
    final = str(x['final_code'])
    
    if suggested != '':
        suggested_set = set(suggested.split(', '))
        final_set = set(final.split(','))
        if '9' not in suggested:
            final_set.clear()
        if '9' not in final:
            final_set.clear()
        if '99291' in suggested or '99291' in final:
            final_set.clear()
            suggested_set.clear()
        accepted = len(suggested_set.intersection(final_set))
        rejected = len(suggested_set - final_set)
        added = len(final_set - suggested_set)
        if (rejected >= 1 or added >= 1):
        
            print('rejected',rejected)
            print('added',added)
            print('suggested_set',suggested_set,'\t final_set',final_set)
            print('accountNumber', str(x['account_number']))
        return pd.Series({'accepted':accepted, 'rejected':rejected, 'added':added})

In [76]:
count_df =  df.apply(get_counts, axis=1)
# def get_accuracy()

rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90188798
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90155081
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90188787
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90188758
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90188766
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99292'}
accountNumber 90122476
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90188870
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90188871
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 89947563
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90107935
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90107935
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207138
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90207128
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90207126
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207118
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207117
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207204
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207196
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207192
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207188
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90207171
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207150
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207148
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90172082
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207189
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207183
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90207166
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207161
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207189
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207183
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90207166
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207161
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90188869
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207220
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207209
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207206
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227057
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244716
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244715
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90244714
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259967
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244710
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259961
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244705
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90244704
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244703
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259958
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244698
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244699
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259949
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227084
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272750
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272749
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226967
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90227086
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272729
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99285'}
accountNumber 90227075
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272717
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244675
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272711
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235399
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235397
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235390
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252554
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235381
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252546
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252543
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235378
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235376
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226959
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227068
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90227065
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226954
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90226951
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226952
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226950
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90227059
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235365
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber 90252530
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235355
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90235361
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90235360
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252525
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244675
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289262
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272802
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252549
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272812
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272810
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272796
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272795
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272797
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272770
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272775
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272773
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227101
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272761
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226985
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226979
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226976
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227101
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226985
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226981
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226979
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226976
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252549
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226963
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226963
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272770
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272775
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272773
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272761
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272802
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272812
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90272810
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259942
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90244687
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244682
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244679
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259933
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244677
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259926
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90259924
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244667
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90252569
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235402
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235401
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90252567
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90235400
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244724
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244723
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244721
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289311
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289305
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289254
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90289292
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289250
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90289288
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289285
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289240
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289235
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289274
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90289227
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289268
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289226
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90289263
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289262
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90289215
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90289255
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226995
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226991
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227104
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90244702
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90244693
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90259946
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226978
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90252563
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310072
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310076
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310050
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310053
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310094
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310034
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310023
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310008
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310093
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310094
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310083
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310082
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310079
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310061
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310076
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310072
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310070
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310054
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310053
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310049
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310050
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310047
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310044
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 89602467
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 89900901
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 89915202
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310058
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310058
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310101
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226989
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227097
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90227080
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90227080
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90226989
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227097
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272745
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272745
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90272766
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90227069
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244689
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90244676
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90289297
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90289233
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99282'}
accountNumber 90289233
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310021
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310024
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310101
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310063
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90310103
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90310113
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325646
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325652
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325653
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325651
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90325649
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325637
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325619
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325607
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325599
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325593
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325596
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325561
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90325564
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325559
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325560
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90325548
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber 90343776
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90343771
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber 90226956
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber 90207140
rejected 1
added 1

In [77]:
df2 = pd.concat([df, count_df], axis = 1)

In [78]:
# df2.drop(labels=['Unnamed: 0'],axis=1, inplace=True)

In [79]:
df2

,ocr_request_id,account_number,final_code,suggested_code,local_suggested,accepted,rejected,added
0,6675433,90188814,99285,99285,99285,1,0,0
1,6675440,90188808,99284,99284,99284,1,0,0
2,6675442,90188807,99285,99285,99285,1,0,0
3,6675444,90188805,99291,99285,99285,0,0,0
4,6675444,90188805,99285,99285,99285,1,0,0
...,...,...,...,...,...,...,...,...
1930,6917619,90227081,99291,99291,99285,0,0,0
1931,6917619,90227081,99285,99291,99285,1,0,0
1932,6918839,90272706,99284,99284,99285,0,1,1
1933,6922667,90415094,99284,99284,99285,0,1,1
1934,6922666,90415173,99285,99284,99285,1,0,0

In [71]:
df2.ocr_request_id = df2.ocr_request_id.astype('str')
df2.account_number = df2.account_number.astype('str')
df2.local_suggested = df2.local_suggested.astype('int')
df2.accepted = df2.accepted.astype('int')

In [83]:
# df2.reindex()
# df2.groupby(['account_number'], axis=0).agg(', '.join)

In [84]:
count_df.accepted.sum(), count_df.rejected.sum(), count_df.added.sum()

(1493, 336, 336)

In [81]:
precision = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.rejected.sum())
recall = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.added.sum())
f1_score = (2 * precision * recall) / (recall + precision)

In [82]:
data = {"precision":precision, "recall":recall, "f1_score":f1_score}
pd.Series(data).to_frame('new_overall_sheet_stats_local')

           new_overall_sheet_stats_local
precision                       0.816293
recall                          0.816293
f1_score                        0.816293

In [20]:
# df.clean_final.value_counts()

In [ ]:
# df.local_output_final.value_counts()

In [ ]:
df.clean_suggested = df.clean_suggested.astype('str')
df.clean_final = df.clean_final.astype('str')
df.local_suggested = df.local_suggested.astype('str')

In [ ]:
def highlight_same(data):
    
    highlighter = pd.DataFrame("", index=data.index, columns=data.columns)
    for col in data.columns:
        for index in data.index:

 

            if col == index:
                highlighter.loc[index, col] = 'background-color : springgreen'
                
            elif str(col)>str(index) and data.loc[index, col]>10:
                highlighter.loc[index, col] = 'background-color : lightskyblue'

            elif data.loc[index, col]>10:
                highlighter.loc[index, col] = 'background-color : PaleVioletRed'

    return highlighter

 

crosstab = cs.style.apply(highlight_same, axis=None)

In [ ]:
crosstab.to_excel('/home/trishalaswain/ClientData/PH/CHINO_JULY_1_TO_10/CHINO_JULY_1_TO_10_local_crosstab.xlsx')

In [ ]:
crosstab

In [ ]:
df.clean_final.value_counts()

In [ ]:
df.local_suggested_2 = df.local_suggested_2.astype('str')
df.clean_final = df.clean_final.astype('str')

In [ ]:
new = df[(df.local_suggested_2.str.contains('99285')) & (df.clean_final.str.contains('99284'))]
new[['account_number', 'clean_final', 'clean_suggested', 'local_suggested_2']]

In [ ]:
cols_to_use = ['service_date', 'account_number', 'facility_code', 'local_suggested', 'clean_suggested', 'clean_final']

In [ ]:
df[df.clean_final.str.contains('99284') & df.local_suggested_2.str.contains('99285')][cols_to_use]

In [ ]:
# confusion_matrix

In [ ]:
# cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix, display_labels = df.clean_suggested.unique().tolist())

In [ ]:
# confusion_matrix = pd.crosstab(df.clean_final, df.clean_suggested,margins = True, margins_name='Total')

In [ ]:
# confusion_matrix.to_excel('/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_ALL_OP/25_MAY/test_matrix.xlsx')

In [ ]:
# for i, r in df_fac.iterrows():
    
#     precision = df_fac.at[i,'accepted'] / (df_fac.at[i,'accepted'] + df_fac.at[i,'rejected'])
#     recall = df_fac.at[i,'accepted'] / (df_fac.at[i,'accepted'] + df_fac.at[i,'added'])
#     f1_score = (2 * precision * recall) / (recall + precision)
#     df_fac.at[i,'precision'] = precision
#     df_fac.at[i,'recall'] = recall
#     df_fac.at[i,'f1_score'] = f1_score

In [ ]:
# df_fac

In [ ]:
# df_fac.to_excel('/home/trishalaswain/Downloads/Script_Testing/excel_1.xlsx')

In [ ]:
# precision, recall, f1_score

In [ ]:
# def check_suggested(df):
#     for ind,row in df.iterrows():
#         row['new_suggested'] = str(row['new_suggested']).split(',')
#         for item in row['new_suggested']:
#             if str(item) == '{No Code}':
#                 df.at[ind,'rejected'] = 0
#                 continue
#             if str(item) in str(row['final']):
#                 df.at[ind,'accepted'] += 1
#             if str(item) not in str(row['final']):
#                 df.at[ind,'rejected'] +=1

In [ ]:
# def check_final(df):
#     for ind,row in df.iterrows():
#         row['final'] = str(row['final']).split(',')
#         for final_code in row['final']:
#             if final_code not in str(row['new_suggested']):
#                 df.at[ind,'added'] +=1

In [ ]:
# check_suggested(df)
# check_final(df)

In [ ]:
# df['EANDM_Suggested_code'] = None

In [ ]:
# def emsugg_filtered(df):
#     df['EANDM_Suggested_code'] = None
#     for ind, row in df.iterrows():

#         li = ast.literal_eval(row["EM_accepted"])
#         li2 = ast.literal_eval(row["EM_rejected"])
#         li3 = li + li2
#         df.at[ind,'EANDM_Suggested_code'] = li3

In [ ]:
# emsugg_filtered(df)

In [ ]:
# df

In [ ]:
# def check_suggested2(df):
#     for ind,row in df.iterrows():
#         for item in row['EANDM_Suggested_code']:
#             if str(item) in str(row['final']):
#                 df.at[ind,'old_accepted'] += 1
#             if str(item) not in str(row['final']):
#                 df.at[ind,'old_rejected'] +=1

In [ ]:
# def check_final2(df):
#     for ind,row in df.iterrows():
#         row['final'] = str(row['final']).split(',')
#         for final_code in row['final']:
#             if final_code not in str(row['EANDM_Suggested_code']):
#                 df.at[ind,'old_added'] +=1

In [ ]:
# check_suggested2(df)
# check_final2(df)

In [ ]:
# df2 = pd.read_excel('/home/trishalaswain/Downloads/Script_Testing/CHINO_ALL_TEXT_&_OUTPUT.xlsx', index_col=False)

In [ ]:
# df2.final_code.value_counts()