In [1]:
import pandas as pd
from sqlalchemy import create_engine
import regex as re
import time
from datetime import datetime
import os
import glob

In [49]:
# all_data = pd.DataFrame()
# allExcelFiles =glob.glob("/home/trishalaswain/Documents/AGS_PROJECTS/EANDM/CHINO_POC/chino_overall_sheets/*.xlsx")
# chino_all_overall_sheets_combined = pd.concat(pd.read_excel(excelFile) for excelFile in allExcelFiles)

In [2]:
chino_all_overall_sheets_combined = pd.read_excel('/home/trishalaswain/Documents/CHINO_DATA_JUNE_TILL_25th.xlsx', index_col=False)

In [3]:
chino_all_overall_sheets_combined.columns

Index(['service_date', 'last_coding_date', 'last_processing_date',
       'account_number', 'encounter_id', 'final', 'suggested', 'accepted',
       'rejected', 'added'],
      dtype='object')

In [4]:
# cols_to_use = ['id', 'serviceDate', 'processingDate', 'lastCodingDate', 'month', 'accountNumber', 'encDocIds', 'EANDM_Final', 'EANDM_Accepted', 'EANDM_Rejected', 'EANDM_Added', 'EANDM_Suggested', 'EANDM_Accepted_Count', 'EANDM_Rejected_Count', 'EANDM_Added_Count']

In [5]:
# chino_all_overall_sheets_combined.columns

In [6]:
# filtering accounts with single document
# chino_all_overall_sheets_combined = chino_all_overall_sheets_combined[~chino_all_overall_sheets_combined.encDocIds.str.contains(',')]
# chino_all_overall_sheets_combined.shape
chino_all_overall_sheets_combined.local_output_3 = chino_all_overall_sheets_combined.local_output_3.astype('str')
# chino_all_overall_sheets_combined.dropna(inplace=True)
chino_all_overall_sheets_combined = chino_all_overall_sheets_combined[~chino_all_overall_sheets_combined.local_output_3.str.contains('nan')]

AttributeError: 'DataFrame' object has no attribute 'local_output_3'

In [55]:
# applying filter of lastProcessingDate >= 01-01-2023
# chino_all_overall_sheets_combined['serviceDate'] = pd.to_datetime( chino_all_overall_sheets_combined.serviceDate)
# chino_all_overall_sheets_combined = chino_all_overall_sheets_combined[chino_all_overall_sheets_combined.serviceDate >= '2023-01-01']

In [7]:
chino_all_overall_sheets_combined

,service_date,last_coding_date,last_processing_date,account_number,encounter_id,final,suggested,accepted,rejected,added
0,2023-01-07 02:00:00,2023-06-13 18:13:05,2023-01-08 07:32:45,V00001028676,4412621,99283,99283,1,0,0
1,2023-04-27 02:00:00,2023-06-12 23:14:41,2023-05-04 07:06:08,V00001043978,6805843,99283,99284,0,1,1
2,2023-04-27 02:00:00,2023-06-12 23:14:41,2023-06-01 07:04:44,V00001043978,6805843,99283,99284,0,1,1
3,2023-04-28 02:00:00,2023-06-12 23:18:10,2023-04-29 08:07:41,V00001044071,6704942,99284,99284,1,0,0
4,2023-04-28 02:00:00,2023-06-12 23:23:22,2023-04-29 08:12:41,V00001044074,6705005,99284,99284,1,0,0
...,...,...,...,...,...,...,...,...,...,...
2279,2023-06-22 02:00:00,2023-06-24 05:49:24,2023-06-23 08:19:59,V00001051615,7942493,99284,99284,1,0,0
2280,2023-06-08 02:00:00,2023-06-14 06:16:39,2023-06-09 07:34:30,V90807060262,7616248,99291,99291,1,0,0
2281,2023-06-08 02:00:00,2023-06-15 08:01:20,2023-06-15 07:41:35,V90807060263,7760652,99284,99284,1,0,0
2282,2023-06-08 02:00:00,2023-06-15 08:04:48,2023-06-15 07:39:41,V90807060264,7760638,"99284,99406","99284,99406",2,0,0
2283,2023-06-08 02:00:00,2023-06-15 08:10:09,2023-06-15 07:41:19,V90807060265,7760643,99284,99284,1,0,0

In [ ]:
chino_all_overall_sheets_combined = chino_all_overall_sheets_combined[cols_to_use]
chino_all_overall_sheets_combined.reset_index(inplace=True)
chino_all_overall_sheets_combined

In [8]:
for i,r in chino_all_overall_sheets_combined.iterrows():
    chino_all_overall_sheets_combined.loc[i,'clean_suggested'] = ', '.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['suggested']))])
    chino_all_overall_sheets_combined.loc[i,'clean_final'] = ', '.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['final']))])

In [ ]:
# df_custom_cpt_filtered = pd.read_table('/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_ALL_OP/devansh_chino.tsv', index_col=False)

In [ ]:
# df_custom_cpt_accounts_filtered = df_custom_cpt_filtered.accountNumber.to_list()

In [ ]:
# type(df_custom_cpt_accounts_filtered[0])

In [ ]:
# chino_all_overall_sheets_combined.reset_index(inplace=True)

In [ ]:
# for i, row in chino_all_overall_sheets_combined.iterrows():
#     if str(row['accountNumber']) not in df_custom_cpt_accounts_filtered:
#         chino_all_overall_sheets_combined.drop([i], inplace=True)
# chino_all_overall_sheets_combined.reset_index(inplace=True)

In [9]:
chino_all_overall_sheets_combined

,service_date,last_coding_date,last_processing_date,account_number,encounter_id,final,suggested,accepted,rejected,added,clean_suggested,clean_final
0,2023-01-07 02:00:00,2023-06-13 18:13:05,2023-01-08 07:32:45,V00001028676,4412621,99283,99283,1,0,0,99283,99283
1,2023-04-27 02:00:00,2023-06-12 23:14:41,2023-05-04 07:06:08,V00001043978,6805843,99283,99284,0,1,1,99284,99283
2,2023-04-27 02:00:00,2023-06-12 23:14:41,2023-06-01 07:04:44,V00001043978,6805843,99283,99284,0,1,1,99284,99283
3,2023-04-28 02:00:00,2023-06-12 23:18:10,2023-04-29 08:07:41,V00001044071,6704942,99284,99284,1,0,0,99284,99284
4,2023-04-28 02:00:00,2023-06-12 23:23:22,2023-04-29 08:12:41,V00001044074,6705005,99284,99284,1,0,0,99284,99284
...,...,...,...,...,...,...,...,...,...,...,...,...
2279,2023-06-22 02:00:00,2023-06-24 05:49:24,2023-06-23 08:19:59,V00001051615,7942493,99284,99284,1,0,0,99284,99284
2280,2023-06-08 02:00:00,2023-06-14 06:16:39,2023-06-09 07:34:30,V90807060262,7616248,99291,99291,1,0,0,99291,99291
2281,2023-06-08 02:00:00,2023-06-15 08:01:20,2023-06-15 07:41:35,V90807060263,7760652,99284,99284,1,0,0,99284,99284
2282,2023-06-08 02:00:00,2023-06-15 08:04:48,2023-06-15 07:39:41,V90807060264,7760638,"99284,99406","99284,99406",2,0,0,"99284, 99406","99284, 99406"
2283,2023-06-08 02:00:00,2023-06-15 08:10:09,2023-06-15 07:41:19,V90807060265,7760643,99284,99284,1,0,0,99284,99284

In [ ]:
# chino_all_overall_sheets_combined.EANDM_Final = chino_all_overall_sheets_combined.EANDM_Accepted.apply(lambda x:chino_all_overall_sheets_combined(x))+chino_all_overall_sheets_combined.EANDM_Added.apply(lambda x:chino_all_overall_sheets_combined(x))
# chino_all_overall_sheets_combined.EANDM_Suggested = chino_all_overall_sheets_combined.EANDM_Accepted.apply(lambda x:chino_all_overall_sheets_combined(x))+chino_all_overall_sheets_combined.EANDM_Rejected.apply(lambda x:chino_all_overall_sheets_combined(x))

In [10]:
from collections import OrderedDict
def get_accuracy(data_df, codetype):
    accept = data_df[codetype+'_Accepted_Count'].sum()
    reject = data_df[codetype+'_Rejected_Count'].sum()
    add = data_df[codetype+'_Added_Count'].sum()
    
    d = OrderedDict()
    
    d['encounters'] = data_df.shape[0]
    
    d[codetype+'_accepted'] = accept
    d[codetype+'_rejected'] = reject
    d[codetype+'_added'] = add
    
    d[codetype+'_billed'] = accept+add
    
    if accept == 0:
        if add + reject == 0:
            d['precision'] = 1
            d['recall'] = 1
            d['f1'] = 1
        else:
            d['precision'] = 0.0
            d['recall'] = 0.0
            d['f1'] = 0.0
    else:
        d['precision'] = accept / (accept + reject)
        d['recall'] = accept / (accept + add)
        d['f1'] = 2 * d['precision'] * d['recall'] / (d['precision'] + d['recall'])
    
    return pd.Series(d)

In [11]:
chino_all_overall_sheets_combined.clean_final.value_counts()

99284                  1413
99285                   356
99283                   162
99291                   153
99223                   115
99284, 99406             15
99213, 99285             11
99223, 99285             11
99291, 99406              7
99282                     6
99213, 99214, 99291       5
99406                     4
99222                     4
99285, 99406              4
99212, 99285              3
99284, 99285              3
99283, 99284              3
99223, 99291              2
99283, 99406              2
99236                     2
99223, 99406              1
99223, 99291, 99406       1
99222, 99284              1
Name: clean_final, dtype: int64

In [12]:
chino_all_overall_sheets_combined.clean_suggested.value_counts()

99284           1487
99285            345
99223            199
99291            145
99282             51
99291, 99292      11
99284, 99406       8
99221              7
99222              7
99283              6
99236              6
99285, 99406       4
99291, 99406       4
99223, 99406       3
99234              1
Name: clean_suggested, dtype: int64

In [13]:
# valid_encounter_ids = chino_all_overall_sheets_combined.id.to_list()

In [ ]:
# filtering multiple documents in singke encounter
import shutil
encounter_downloaded = []
dir_path = '/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_COMBINED_EMCS (copy)'
deleted_file_count = 0
for path in os.listdir(dir_path):
    sub_dir = os.path.join(dir_path, path)
    # print(path)
    
    if str(path) not in str(valid_encounter_ids):
        
        # print(sub_dir)
        deleted_file_count += 1
        shutil.rmtree(sub_dir)
    else:
        encounter_downloaded.append(str(path))
    # for file in os.listdir(sub_dir):
    #     count += 1
    # if count > 2:
    #     print('Deleting multiple docs:', sub_dir)
    #     shutil.rmtree(sub_dir)
    #     deleted_file_count += 1
    # else:
    #     encounter_downloaded.append(str(path))
print('Deleted encounter counts: ',deleted_file_count)

In [ ]:
dir_path = '/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_COMBINED_EMCS (copy)'
deleted_file_count = 0
for path in os.listdir(dir_path):
    sub_dir = os.path.join(dir_path, path)
    count = 0
    for file in os.listdir(sub_dir):
        count += 1
        if count > 2:
            print('Deleting multiple docs:', sub_dir)
            # shutil.rmtree(sub_dir)
            deleted_file_count += 1
print(deleted_file_count)

In [ ]:
rows_to_delete = 0
for i, r in chino_all_overall_sheets_combined.iterrows():
    if str(r['id']) not in str(encounter_downloaded):
        rows_to_delete += 1
        chino_all_overall_sheets_combined.drop([i], inplace=True)
print('rows_to_delete', rows_to_delete)

In [ ]:
# chino_all_overall_sheets_combined

In [ ]:
chino_all_overall_sheets_combined.shape

In [14]:
acc = chino_all_overall_sheets_combined.groupby(['month']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).reset_index()
acc

KeyError: 'month'

In [ ]:
acc.to_excel('/home/trishalaswain/acc.xlsx')

In [ ]:
# local_output_dataframe = pd.read_excel('/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_LOCAL_OUTPUT_AS_ON_JUNE_9.xlsx', index_col=False)

In [ ]:
chino_all_overall_sheets_combined.accountNumber = chino_all_overall_sheets_combined.accountNumber.astype('str')

In [ ]:
chino_all_overall_sheets_combined.shape

In [ ]:
# chino_all_overall_sheets_combined.reset_index(inplace=True)

In [ ]:
# chino_all_overall_sheets_combined.to_excel('/home/trishalaswain/chino_all_overall_sheets_combined_FINAL.xlsx')

In [ ]:
new_chino_all_overall_sheets_combined = pd.read_excel('/home/trishalaswain/chino_all_overall_sheets_combined_FINAL.xlsx', index_col=False)

In [ ]:
# for i, r in local_output_dataframe.iterrows():
#     chino_all_overall_sheets_combined.loc[chino_all_overall_sheets_combined.accountNumber==str(r['account_number']), 'local_suggested'] = str(r['local_output'])

In [ ]:
# new_chino_all_overall_sheets_combined_2 = new_chino_all_overall_sheets_combined.copy()

In [ ]:
new_chino_all_overall_sheets_combined.clean_final.value_counts()

In [ ]:
    # x=str(x)
    # new_code=''
    # if re.match('.*9921[1-5].*',x) and re.match('.*9920[1-5].*',x):
    #         codes=x.split(',')
    #         for code in codes:
    #             if re.match('.*9921[1-5].*', code):
    #                 new_code=code.strip()

In [ ]:
# for i, r in new_chino_all_overall_sheets_combined.iterrows():
    
#     if re.match('.*9922[1-5].*',str(r['clean_final'])) and re.match('.*9928[1-5].*',str(r['clean_final'])):
#         # codes = str(r['clean_final']).split(',')
        
#         for code in codes:
#             obv_code = re.findall('9922[1-5].*',code)
            
#             if '9' in str(obv_code):
#                 code_to_remove = str(obv_code).replace("['", "").replace("']", "")
#                 print(str(obv_code))
#                 # codes=codes.remove(code_to_remove)
        
#         # print(codes)
#         # new_chino_all_overall_sheets_combined.loc[i,'clean_final'] = r['clean_final'].remove(code)
new_chino_all_overall_sheets_combined.local_suggested.value_counts()

In [ ]:
# for i,r in new_chino_all_overall_sheets_combined.iterrows():
#     new_chino_all_overall_sheets_combined.loc[i, 'local_suggested_set'] = r['local_suggested'].split(', ')
# new_chino_all_overall_sheets_combined.local_suggested_set = new_chino_all_overall_sheets_combined.local_suggested_set.astype('str')

In [ ]:
# new_chino_all_overall_sheets_combined_2.reset_index(inplace=True)
# for i,r in new_chino_all_overall_sheets_combined_2.iterrows():
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99418, 99223':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99223'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99284,99222':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99222'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99285,99223':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99223'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99239,99223':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99223'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99285,99236':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99285'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99285,99213':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99285'
        
#     if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final']) == '99292,99223':
#         new_chino_all_overall_sheets_combined_2.loc[i, 'clean_final'] = '99292'
#         # 
        
    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99222':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99284'

    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99223':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99285'

    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99223,99406':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99284, 99406'

    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99222,99406':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99284,99406'

    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99221':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = ''

    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99418,99223':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99285'
        
    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99236':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99285'
        
    # if str(new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested']) == '99418,99236':
    #     new_chino_all_overall_sheets_combined_2.loc[i, 'clean_suggested'] = '99418,99285'
        
    #

In [19]:
def get_counts(x):
    
    suggested = str(x['clean_suggested'])
    final = str(x['clean_final'])
    
    if suggested != '':
        suggested_set = set(suggested.split(', '))
        final_set = set(final.split(', '))

        if '9' not in suggested:
            suggested_set.clear()
            # final_set.clear()
        if '9' not in final:
            final_set.clear()
        # if '99406' in suggested:
        #     print(suggested)
        #     suggested_set.remove('99406')

            
        # if '99418' in suggested:
        #     print(suggested)
        #     suggested_set.remove('99418')
            
        # if '9922' in suggested:
        #     suggested_set.clear()
        #     final_set.clear()
        
        # if '9922' in suggested:
        #     suggested_set.clear()
        #     final_set.clear()
        
    
        accepted = len(suggested_set.intersection(final_set))
        rejected = len(suggested_set - final_set)
        added = len(final_set - suggested_set)
        if (rejected >= 1 or added >= 1):
            print('rejected',rejected)
            print('added',added)
            print('suggested_set',suggested_set,'\t final_set',final_set)
            print('accountNumber', str(x['account_number']))

        return pd.Series({'NEW_EANDM_Accepted_Count':accepted, 'NEW_EANDM_Rejected_Count':rejected, 'NEW_EANDM_Added_Count':added})

In [20]:
# count_df =  new_chino_all_overall_sheets_combined[new_chino_all_overall_sheets_combined.month=='2023-05'].apply(get_counts, axis=1)
chino_all_overall_sheets_combined.columns

Index(['service_date', 'last_coding_date', 'last_processing_date',
       'account_number', 'encounter_id', 'final', 'suggested', 'accepted',
       'rejected', 'added', 'clean_suggested', 'clean_final'],
      dtype='object')

In [21]:
count_df =  chino_all_overall_sheets_combined.apply(get_counts, axis=1)

rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001043978
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001043978
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001045593
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001045709
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001045709
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001046351
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001047628
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001047715
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001047812
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001047931
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001047955
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001047963
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048040
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048123
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048136
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048161
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048163
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048203
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048214
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001048216
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048219
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048223
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048224
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048234
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048236
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048249
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048251
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048252
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048259
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048262
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048263
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048264
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048268
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048269
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048270
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048271
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048276
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048280
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048284
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048288
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048298
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048300
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048301
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048306
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048309
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048313
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048324
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048332
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048336
rejected 1
added 3
suggested_set {'99221'} 	 final_set {'99214', '99291', '99213'}
accountNumber V00001048338
rejected 1
added 3
suggested_set {'99221'} 	 final_set {'99214', '99291', '99213'}
accountNumber V00001048338
rejected 1
added 3
suggested_set {'99221'} 	 final_set {'99214', '99291', '99213'}
accountNumber V00001048338
rejected 0
added 2
suggested_set {'99291'} 	 final_set {'99214', '99291', '99213'}
accountNumber V00001048338
rejected 1
added 3
suggested_set {'99234'} 	 final_set {'99214', '99291', '99213'}
accountNumber V00001048338
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048346
rejected 0
added 1
suggested_set {'99223'} 	 final_set {'99223', '99406'}
accountNumber V00001048349
rejected 1
added 2
suggested_set {'99221'} 	 final_set {'99285', '99213'}
accountNumber V00001048372
rejected 1
added 2
suggested_set {'99221'} 	 final_set {'99285', '99213'}
accountNumber V00001048372
rejected 1
added 2
suggested_set {'99284'} 	 final_set {'99285', '99213'}
accountNumber V00001048372
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001048400
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048404
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048407
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048411
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048414
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048425
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048427
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
accountNumber V00001048437
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
accountNumber V00001048437
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048440
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048448
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048450
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048464
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048465
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048477
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048480
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048480
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048482
rejected 1
added 2
suggested_set {'99223'} 	 final_set {'99212', '99285'}
accountNumber V00001048484
rejected 1
added 2
suggested_set {'99223'} 	 final_set {'99212', '99285'}
accountNumber V00001048484
rejected 1
added 2
suggested_set {'99223'} 	 final_set {'99212', '99285'}
accountNumber V00001048484
rejected 0
added 1
suggested_set {'99291'} 	 final_set {'99291', '99406'}
accountNumber V00001048487
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048491
rejected 1
added 2
suggested_set {'99223'} 	 final_set {'99285', '99213'}
accountNumber V00001048492
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048496
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048506
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048515
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048517
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048521
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048523
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048531
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048536
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048537
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048538
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048539
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048542
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048546
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99284'}
accountNumber V00001048549
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048554
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048557
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048558
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048561
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048563
rejected 0
added 1
suggested_set {'99223'} 	 final_set {'99223', '99285'}
accountNumber V00001048565
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048583
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048584
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048587
rejected 1
added 2
suggested_set {'99236'} 	 final_set {'99285', '99213'}
accountNumber V00001048593
rejected 1
added 2
suggested_set {'99236'} 	 final_set {'99285', '99213'}
accountNumber V00001048593
rejected 1
added 2
suggested_set {'99223'} 	 final_set {'99285', '99213'}
accountNumber V00001048593
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048599
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048603
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99223'}
accountNumber V00001048616
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048622
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048635
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048649
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048650
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048658
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048659
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048664
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048665
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048681
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001048682
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048687
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001048691
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048709
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048714
rejected 0
added 1
suggested_set {'99223'} 	 final_set {'99223', '99285'}
accountNumber V00001048720
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
accountNumber V00001048727
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048732
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99284'}
accountNumber V00001048733
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048736
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048742
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048744
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048753
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048766
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048780
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048792
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048794
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048808
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048825
rejected 1
added 1
suggested_set {'99283'} 	 final_set {'99284'}
accountNumber V00001048828
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048843
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048844
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001048850
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048856
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048882
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048907
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99406'}
accountNumber V00001048915
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99406'}
accountNumber V00001048915
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048927
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048935
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048940
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048942
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048942
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048959
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048959
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048972
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001048984
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001048990
rejected 0
added 1
suggested_set {'99284'} 	 final_set {'99284', '99406'}
accountNumber V00001048994
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001048999
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049007
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049017
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049020
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049025
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049047
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049048
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049051
rejected 1
added 0
suggested_set {'99292', '99291'} 	 final_set {'99291'}
accountNumber V00001049058
rejected 1
added 0
suggested_set {'99292', '99291'} 	 final_set {'99291'}
accountNumber V00001049058
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049059
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049060
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049074
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049078
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049084
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049095
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049109
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049111
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99223'}
accountNumber V00001049112
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049122
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049124
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049127
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049129
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049145
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049147
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049152
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049161
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049161
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
accountNumber V00001049173
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049189
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049190
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049201
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049226
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049253
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049258
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049263
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
accountNumber V00001049270
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049273
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99285'}
accountNumber V00001049278
rejected 1
added 1
suggested_set {'99223'} 	 final_set {'99285'}
accountNumber V00001049284
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
accountNumber V00001049288
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049292
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049297
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
accountNumber V00001049298
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049319
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049323
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
accountNumber V00001049324
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049326
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049327
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049330
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049330
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049343
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049346
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
accountNumber V00001049357

In [22]:
# chino_all_overall_sheets_combined
count_df

,NEW_EANDM_Accepted_Count,NEW_EANDM_Rejected_Count,NEW_EANDM_Added_Count
0,1,0,0
1,0,1,1
2,0,1,1
3,1,0,0
4,1,0,0
...,...,...,...
2279,1,0,0
2280,1,0,0
2281,1,0,0
2282,2,0,0
2283,1,0,0

In [23]:
count_df.NEW_EANDM_Accepted_Count.sum(), count_df.NEW_EANDM_Rejected_Count.sum(), count_df.NEW_EANDM_Added_Count.sum()

(1816, 498, 543)

In [24]:
precision = count_df.NEW_EANDM_Accepted_Count.sum() / (count_df.NEW_EANDM_Accepted_Count.sum() + count_df.NEW_EANDM_Rejected_Count.sum())
recall = count_df.NEW_EANDM_Accepted_Count.sum() / (count_df.NEW_EANDM_Accepted_Count.sum() + count_df.NEW_EANDM_Added_Count.sum())
f1_score = (2 * precision * recall) / (recall + precision)

In [25]:
precision,recall, f1_score

(0.7847882454624028, 0.7698177193726156, 0.7772309009201798)

In [26]:
new_chino_all_overall_sheets_combined_3 = pd.concat([new_chino_all_overall_sheets_combined, count_df], axis = 1)
# new_chino_all_overall_sheets_combined_3.to_excel('/home/trishalaswain/new_chino_all_overall_sheets_combined_3.xlsx')

NameError: name 'new_chino_all_overall_sheets_combined' is not defined

In [27]:
data = {"precision":precision, "recall":recall, "f1_score":f1_score}
pd.Series(data).to_frame('new_overall_sheet_stats_local')

           new_overall_sheet_stats_local
precision                       0.784788
recall                          0.769818
f1_score                        0.777231

In [ ]:
# new_chino_all_overall_sheets_combined_3 = new_chino_all_overall_sheets_combined_3[new_chino_all_overall_sheets_combined_3.month=='2023-05']
# new_chino_all_overall_sheets_combined_3

In [ ]:
new_chino_all_overall_sheets_combined_3.NEW_EANDM_Accepted_Count.sum(), new_chino_all_overall_sheets_combined_3.NEW_EANDM_Rejected_Count.sum(), new_chino_all_overall_sheets_combined_3.NEW_EANDM_Added_Count.sum()

In [ ]:
from collections import OrderedDict
def get_code_counts(data_df, codetype):
    accept = data_df[codetype+'_Accepted_Count'].sum()
    reject = data_df[codetype+'_Rejected_Count'].sum()
    add = data_df[codetype+'_Added_Count'].sum()
    
    d = OrderedDict()
    d['encounters'] = data_df.shape[0]
    d['total_accepted_counts'] = accept
    d['total_rejected_counts'] = reject
    d['total_added_counts'] = add

    d['precision'] = accept / (accept + reject)
    d['recall'] = accept / (accept + add)
    d['f1'] = 2 * d['precision'] * d['recall'] / (d['precision'] + d['recall'])

    return pd.Series(d)

In [ ]:
from collections import OrderedDict
def get_accuracy(data_df, codetype):
    accept = data_df[codetype+'_Accepted_Count'].sum()
    reject = data_df[codetype+'_Rejected_Count'].sum()
    add = data_df[codetype+'_Added_Count'].sum()
    
    d = OrderedDict()
    
    d['encounters'] = data_df.shape[0]
    
    d[codetype+'_accepted'] = accept
    d[codetype+'_rejected'] = reject
    d[codetype+'_added'] = add
    
    d[codetype+'_billed'] = accept+add
    
    if accept == 0:
        if add + reject == 0:
            d['precision'] = 1
            d['recall'] = 1
            d['f1'] = 1
        else:
            d['precision'] = 0.0
            d['recall'] = 0.0
            d['f1'] = 0.0
    else:
        d['precision'] = accept / (accept + reject)
        d['recall'] = accept / (accept + add)
        d['f1'] = 2 * d['precision'] * d['recall'] / (d['precision'] + d['recall'])
    
    return pd.Series(d)

In [ ]:
new_chino_all_overall_sheets_combined_2_accuracy = new_chino_all_overall_sheets_combined_3.groupby(['month']).apply(get_code_counts, 'NEW_EANDM').reset_index()
# new_chino_all_overall_sheets_combined_2_accuracy.to_excel('/home/trishalaswain/new_chino_all_overall_sheets_combined_2_accuracy.xlsx')
new_chino_all_overall_sheets_combined_2_accuracy

In [ ]:
chino_all_overall_sheets_combined_acc  = new_chino_all_overall_sheets_combined.groupby(['month']).apply(get_accuracy, 'EANDM').reset_index()
# chino_all_overall_sheets_combined_acc.to_excel('/home/trishalaswain/chino_all_overall_sheets_combined_acc1.xlsx')
chino_all_overall_sheets_combined_acc

In [ ]:
new_chino_all_overall_sheets_combined.columns

In [ ]:
new_chino_all_overall_sheets_combined_may = new_chino_all_overall_sheets_combined[new_chino_all_overall_sheets_combined.month=='2023-05']

In [ ]:
cs =  pd.crosstab(new_chino_all_overall_sheets_combined.clean_final, new_chino_all_overall_sheets_combined.clean_suggested, margins=True)

In [ ]:
# cs.to_excel('/home/trishalaswain/crosstab_2.xlsx')
new_chino_all_overall_sheets_combined_may.local_suggested_new = new_chino_all_overall_sheets_combined_may.local_suggested_new.astype('str')
new_chino_all_overall_sheets_combined_may.clean_suggested = new_chino_all_overall_sheets_combined_may.clean_suggested.astype('str')

new_chino_all_overall_sheets_combined_may.clean_final = new_chino_all_overall_sheets_combined_may.clean_final.astype('str')
new_chino_all_overall_sheets_combined_may.local_suggested.value_counts()

In [ ]:
new_chino_all_overall_sheets_combined_may['local_suggested_new'].str.contains('99284').sum()

In [91]:
from operator import length_hint


code_wise_count = pd.DataFrame()
code_wise_count['code']=None


code_list = ['99213',
'99222',
'99223',
'99236',
'99239',
'99282',
'99283',
'99284',
'99285',
'99291',
'99292',
'99406',
'99418']
def get_codewise_counts(code_list, df_to_use):
    code_wise_count = pd.DataFrame(code_list, columns=['code'])
    code_wise_count['clean_suggested']=0
    code_wise_count['final']=0  
    code_wise_count.set_index('code', inplace=True)
        
    # code_wise_count
    for code in code_list:
        # code = str(code)
        # print(code)
        code_wise_count.loc[code,'clean_suggested'] += df_to_use['clean_suggested'].str.contains(code).sum()
        code_wise_count.loc[code, 'final'] += df_to_use['clean_final'].str.contains(code).sum()
        
        
    return code_wise_count

In [93]:
get_codewise_counts(code_list, chino_all_overall_sheets_combined).to_excel('/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/code_wise_counts.xlsx')

In [ ]:
get_codewise_counts(code_list, new_chino_all_overall_sheets_combined_may)

In [ ]:
new_chino_all_overall_sheets_combined['clean_suggested'].str.contains('99284').sum()