In [17]:
import pandas as pd
import ast
import matplotlib.pyplot as plt
import numpy
from sklearn import metrics
import seaborn as sns
import ast

In [29]:
df = pd.read_excel('/home/trishalaswain/Downloads/Script_Testing/CROSSTABS/CHINO_EMCS_LOCAL_VS_FINAL_MONTHWISE/CHNINO_COMBINED_EMCS_LOCAL_VS_FINAL.xlsx', index_col=False)

In [30]:
df.shape

(12989, 3)

In [31]:
df

      local_accounts local_output final_code
0       V00001039788        99282          0
1       V00001041003        99284      99285
2       V00001040765        99284      99284
3       V00001039678        99284      99285
4       V00001040706        99284      99284
...              ...          ...        ...
12984   V00001030640        99284      99283
12985   V00001027990        99285      99284
12986   V00001028107        99284      99284
12987   V00001029182        99284      99284
12988   V00001030618        99285      99284

[12989 rows x 3 columns]

In [34]:
df.final_code.unique().tolist()

[0,
 99285,
 99284,
 99292,
 99223,
 99283,
 99406,
 99291,
 99282,
 99239,
 99222,
 99359,
 99236,
 '99291, 99292',
 99418,
 99215,
 99281,
 99221,
 99220,
 '993X0',
 99219,
 99218]

In [37]:
df.local_output = df.local_output.astype('str')
df.final_code = df.final_code.astype('str')

In [38]:
confusion_matrix = metrics.confusion_matrix(df.final_code, df.local_output, labels=df.local_output.unique().tolist())

In [39]:
confusion_matrix

array([[  39,   39,    0,    0,    0,   49,    0,    0,    0,    0,    0,
           0,    1,    0,    0],
       [  84, 6174,    0,   33,  455,  233,    1,    0,   11,    6,    1,
           0,    4,    0,    0],
       [   0,    0,   24,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0],
       [   1,    0,    1,  278,    0,    0,    0,    1,   16,    0,    1,
           0,    0,    0,    0],
       [   2,  643,    0,  312, 1604,   15,    1,    4,   19,    2,    0,
          10,    9,    2,    0],
       [ 134, 1365,    0,    2,   13,  285,    0,    0,    5,    3,    2,
           0,    8,    0,    0],
       [   0,    0,  227,    1,    0,    0,  485,    0,    0,    0,    0,
           0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    4,    0,    0,    0,
           0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,   15,    0,    1,
           0,    0,    0,    0],
       [   0,    1,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    1,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    3,
           0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          13,    3,    0,    0],
       [  99,   18,    0,    1,    8,   14,    1,    0,    1,    2,    0,
           0,    0,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    3,    0,    0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           1,    0,    0,    1]])

In [40]:
confusion_matrix = pd.crosstab(df.final_code, df.local_output,margins = True, margins_name='Total')

In [42]:
confusion_matrix.to_excel('/home/trishalaswain/Downloads/excel_test.xlsx')