In [1]:
import pandas as pd

In [2]:
def initialize(index):
    df_final.at[index,'1_doc_only_counts'] = 0
    df_final.at[index,'2_doc_only_counts'] = 0
    df_final.at[index,'3_doc_only_counts'] = 0
    df_final.at[index,'4_doc_only_counts'] = 0
    df_final.at[index,'other_no_of_docs_counts'] = 0

In [3]:
import os

dir_path = r'/home/trishalaswain/Downloads/PIMG-STATS/'

res = []

for path in os.listdir(dir_path):
#     if path.startswith("."):
#         continue
#     if '28.tsv' not in path:
#         continue
#     else:
    res.append(path)

In [4]:
def fill_df_final(index,facility_code,facility_name,total_no_of_encounters,total_no_of_docs):
    df_final.at[index,'facility_code'] = str(facility_code)
    df_final.at[index,'facility_name'] = facility_name
    df_final.at[index,'no_of_encounters'] = total_no_of_encounters
    df_final.at[index,'total_docs'] = total_no_of_docs
    initialize(index)

In [5]:
from collections import defaultdict

In [6]:
def get_counts(code_list, df_to_use, col, codetype):
    count_dict = {}
    for code in code_list:
        count_dict[code+'_'+codetype] = df_to_use[col].str.contains(code).sum()
        
    return count_dict

In [7]:
code_list = ['99281','99282','99283','99284','99285', '99291', '99292','99239','99238','99232','99233','99497','99223','99221','99231']

In [8]:
l = []

for item in res:
#     if '2563' not in item:
#         continue
    
    path = '/home/trishalaswain/Downloads/PIMG-STATS/'
#     df = pd.read_csv(path+item,sep='\t',index_col = False)
    df = pd.read_excel(path+item,index_col = False)
    
#     print(df.shape)
#     print(item)
#     if str(df["month"]).__contains__("22-12"):
#         continue

#     df = df[df.month=='2023-01']

#     df['serviceDate'] = pd.to_datetime( df.serviceDate)
    
#     df = df[df.serviceDate>='2023-01-01']
    
#     print(df['EANDM_Suggested'])
#     print(df.shape)
    if df.shape[0]<1:
        continue
    
#     code_list = ['99281','99282','99283','99284','99285']
    
#     for i in code_list:
#         find_count_of_code(i,df,"final")
#         find_count_of_code(i,df,"suggested")
    
#     print(get_counts(code_list, df, 'EANDM_Suggested', 'Suggested')) 
#     print(get_counts(code_list, df, 'EANDM_Final', 'Final'))
    
    df['doc_count'] = df['encDocIds'].apply(lambda x:len(str(x).split(', ')))

    final_dict = {}
    
    final_dict['facility_code'] = df.iloc[0].loc['facilityCode']
    final_dict['facility_name'] = df.iloc[0].loc['facilityName']
    final_dict['no_of_encounters'] = df.shape[0]
    final_dict['total_docs'] = df.doc_count.sum()
    

    new_dict = defaultdict(int)
    for k, v in df.doc_count.value_counts().to_dict().items():
        if k >= 1 and k <= 4:
            new_dict["{}_doc_only_counts".format(k)] = v
        else:
            new_dict["other_no_of_docs_counts"]+= v
            
    final_dict['1_doc_only_counts'] = new_dict['1_doc_only_counts']
    final_dict['2_doc_only_counts'] = new_dict['2_doc_only_counts']
    final_dict['3_doc_only_counts'] = new_dict['3_doc_only_counts']
    final_dict['4_doc_only_counts'] = new_dict['4_doc_only_counts']
    final_dict['other_no_of_docs_counts'] = new_dict['other_no_of_docs_counts']


    final_dict.update(df['doc_count'].describe().to_dict())
    
#     display(df['EANDM_Accepted'].value_counts())
    
    final_dict.update(get_counts(code_list, df, 'EANDM_Suggested', 'Suggested'))
    final_dict.update(get_counts(code_list, df, 'EANDM_Final', 'Final'))
    
    l.append(final_dict)
#     print(item)

In [9]:
final_analysis = pd.DataFrame(l)

In [10]:
# final_analysis = pd.concat(l)

In [11]:
final_analysis.T

,0,1,2
facility_code,PIMG,PIMG,PIMG
facility_name,"Palomar Intensivist Medical Group, Inc.","Palomar Intensivist Medical Group, Inc.","Palomar Intensivist Medical Group, Inc."
no_of_encounters,337,585,860
total_docs,379,670,1027
1_doc_only_counts,303,515,741
2_doc_only_counts,27,55,87
3_doc_only_counts,6,15,19
4_doc_only_counts,1,0,11
other_no_of_docs_counts,0,0,2
count,337.0,585.0,860.0
mean,1.124629,1.145299,1.194186
std,0.403724,0.419249,0.561234
min,1.0,1.0,1.0
25%,1.0,1.0,1.0
50%,1.0,1.0,1.0
75%,1.0,1.0,1.0
max,4.0,3.0,6.0
99281_Suggested,0,0,45
99282_Suggested,0,0,5
99283_Suggested,0,0,0
99284_Suggested,0,0,0
99285_Suggested,0,0,0
99291_Suggested,279,453,629
99292_Suggested,12,9,20
99239_Suggested,0,1,1
99238_Suggested,10,26,35
99232_Suggested,16,49,73
99233_Suggested,17,33,52
99497_Suggested,0,0,0
99223_Suggested,1,4,0
99221_Suggested,1,1,1
99231_Suggested,10,12,42
99281_Final,0,0,0
99282_Final,0,0,0
99283_Final,0,0,0
99284_Final,0,0,0
99285_Final,0,0,0
99291_Final,278,460,647
99292_Final,4,1,7
99239_Final,0,1,1
99238_Final,8,27,31
99232_Final,11,17,16
99233_Final,30,70,142
99497_Final,0,1,1
99223_Final,2,0,4
99221_Final,0,1,0
99231_Final,0,2,0

In [12]:
final_analysis.facility_code.nunique()

1

In [13]:
final_analysis.to_excel("/home/trishalaswain/Downloads/PIMG-STATS/pimg_stats.xlsx",index = False)

In [14]:
df_99281 = final_analysis[final_analysis["99281_Final"] > 0]

In [15]:
# df_99281[df_99281['99281_final','facility_code','facility_name']]
df_99281

Empty DataFrame
Columns: [facility_code, facility_name, no_of_encounters, total_docs, 1_doc_only_counts, 2_doc_only_counts, 3_doc_only_counts, 4_doc_only_counts, other_no_of_docs_counts, count, mean, std, min, 25%, 50%, 75%, max, 99281_Suggested, 99282_Suggested, 99283_Suggested, 99284_Suggested, 99285_Suggested, 99291_Suggested, 99292_Suggested, 99239_Suggested, 99238_Suggested, 99232_Suggested, 99233_Suggested, 99497_Suggested, 99223_Suggested, 99221_Suggested, 99231_Suggested, 99281_Final, 99282_Final, 99283_Final, 99284_Final, 99285_Final, 99291_Final, 99292_Final, 99239_Final, 99238_Final, 99232_Final, 99233_Final, 99497_Final, 99223_Final, 99221_Final, 99231_Final]
Index: []

[0 rows x 47 columns]

In [16]:
df

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count,doc_count
0,4248968,13853,2022-12-14 00:00:00.0,2022-12-31 01:07:23.0,2022-12-06 11:56:39.0,5847,1,2023-01-01 15:29:28.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1
1,4256752,13796,2022-12-26 00:00:00.0,2023-01-01 01:17:39.0,2022-12-21 15:29:04.0,5847,1,2023-01-01 15:33:33.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1
2,4208567,13796,2022-12-28 00:00:00.0,2022-12-29 01:16:41.0,2022-12-25 11:19:13.0,5847,1,2023-01-01 15:39:30.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1
3,4208578,13796,2022-12-28 00:00:00.0,2022-12-29 01:17:47.0,2022-12-26 02:53:40.0,5847,1,2023-01-01 15:44:38.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1
4,4208591,3618,2022-12-28 00:00:00.0,2022-12-29 01:18:05.0,2022-12-25 20:37:56.0,5847,1,2023-01-01 15:48:05.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,4766169,3498,2023-01-24 00:00:00.0,2023-01-25 01:15:01.0,2023-01-14 20:07:43.0,4752,1,2023-01-25 19:14:27.0,2023-01,New Patient,...,1,[],[],[],[],[],0,0,0,1
856,4766165,6931,2023-01-24 00:00:00.0,2023-01-26 01:13:21.0,2023-01-18 10:23:00.0,4752,1,2023-01-25 19:17:05.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,3
857,4766161,13796,2023-01-24 00:00:00.0,2023-01-25 01:16:13.0,2023-01-23 04:01:48.0,4752,1,2023-01-25 19:31:52.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,2
858,4766146,3498,2023-01-24 00:00:00.0,2023-01-25 01:14:04.0,2023-01-21 10:05:34.0,4752,1,2023-01-25 19:33:30.0,2023-01,New Patient,...,1,[],[],[],[],[],0,0,0,1
859,4766124,13796,2023-01-24 00:00:00.0,2023-01-25 01:13:45.0,2023-01-06 10:56:38.0,4752,1,2023-01-25 19:35:03.0,2023-01,New Patient,...,0,[],[],[],[],[],0,0,0,1

In [17]:
df2 = pd.read_excel('/home/trishalaswain/Downloads/stats/PH-HIG-Hollywood Intensivist Group-2023-01-01-2023-01-31 (1).xlsx', index_col= False)

In [18]:
df2.columns

Index(['id', 'physicianId', 'serviceDate', 'processingDate', 'admissionDate',
       'userId', 'processId', 'lastCodingDate', 'month', 'visitType',
       'placeOfService', 'accountId', 'facilityCode', 'facilityName',
       'accountNumber', 'gender', 'pointOfCare', 'visitType.1',
       'placeOfService.1', 'patientClass', 'patientType', 'serviceLine',
       'financialClass', 'payor', 'encDocIds', 'encDocTypes', 'refDocIds',
       'refDocTypes', 'refCodes', 'CM_Final', 'CM_Accepted', 'CM_Rejected',
       'CM_Added', 'CM_Suggested', 'CM_Accepted_Count', 'CM_Rejected_Count',
       'CM_Added_Count', 'CPT_Final', 'CPT_Accepted', 'CPT_Rejected',
       'CPT_Added', 'CPT_Suggested', 'CPT_Accepted_Count',
       'CPT_Rejected_Count', 'CPT_Added_Count', 'EANDM_Final',
       'EANDM_Accepted', 'EANDM_Rejected', 'EANDM_Added', 'EANDM_Suggested',
       'EANDM_Accepted_Count', 'EANDM_Rejected_Count', 'EANDM_Added_Count',
       'HCPCS_Final', 'HCPCS_Accepted', 'HCPCS_Rejected', 'HCPCS_Added',
       'HCPCS_Suggested', 'HCPCS_Accepted_Count', 'HCPCS_Rejected_Count',
       'HCPCS_Added_Count'],
      dtype='object')

In [19]:
len(df2)

312

In [20]:
df2.head()

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
0,4213788,19566,2022-12-17 00:00:00.0,2022-12-29 06:45:48.0,2022-11-30 21:35:00.0,4752,1,2023-01-01 15:13:58.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
1,4213778,19566,2022-12-18 00:00:00.0,2022-12-29 06:44:52.0,2022-12-08 15:00:00.0,4752,1,2023-01-01 15:15:43.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
2,4213795,19566,2022-12-18 00:00:00.0,2022-12-29 06:45:55.0,2022-11-30 21:35:00.0,4752,1,2023-01-01 15:18:06.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
3,4258556,19566,2022-12-18 00:00:00.0,2023-01-01 06:33:37.0,2022-12-18 16:17:00.0,4752,1,2023-01-01 15:19:39.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
4,4258563,19566,2022-12-19 00:00:00.0,2023-01-01 06:35:13.0,2022-12-18 16:17:00.0,4752,1,2023-01-01 15:22:30.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0

In [21]:
df2['EANDM_Final'].value_counts()

99291                                                                                                                                                                                                                 231
99291 = [25-Sig/Sep ID E&M Same Pro/Day]                                                                                                                                                                               20
99292 = [25-Sig/Sep ID E&M Same Pro/Day], 99291 = [25-Sig/Sep ID E&M Same Pro/Day]                                                                                                                                     13
99233                                                                                                                                                                                                                  11
99292, 99291                                                                                                                                                                                                           10
99232                                                                                                                                                                                                                   4
99292, 99291 = [25-Sig/Sep ID E&M Same Pro/Day]                                                                                                                                                                         4
99291 = [25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day]                                                                                                                                                1
99292 = [25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day], 99291 = [25-Sig/Sep ID E&M Same Pro/Day]                                                                      1
99292 = [25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day, 25-Sig/Sep ID E&M Same Pro/Day], 99291 = [25-Sig/Sep ID E&M Same Pro/Day]      1
99223                                                                                                                                                                                                                   1
Name: EANDM_Final, dtype: int64

In [22]:
get_counts(code_list, df2, 'EANDM_Final', 'Final')

{'99281_Final': 0,
 '99282_Final': 0,
 '99283_Final': 0,
 '99284_Final': 0,
 '99285_Final': 0,
 '99291_Final': 281,
 '99292_Final': 29,
 '99239_Final': 0,
 '99238_Final': 0,
 '99232_Final': 4,
 '99233_Final': 11,
 '99497_Final': 0,
 '99223_Final': 1,
 '99221_Final': 0,
 '99231_Final': 0}

In [23]:
final_analysis['99282_Final'].sum()

0

In [24]:
final_analysis.head()

,facility_code,facility_name,no_of_encounters,total_docs,1_doc_only_counts,2_doc_only_counts,3_doc_only_counts,4_doc_only_counts,other_no_of_docs_counts,count,...,99291_Final,99292_Final,99239_Final,99238_Final,99232_Final,99233_Final,99497_Final,99223_Final,99221_Final,99231_Final
0,PIMG,"Palomar Intensivist Medical Group, Inc.",337,379,303,27,6,1,0,337.0,...,278,4,0,8,11,30,0,2,0,0
1,PIMG,"Palomar Intensivist Medical Group, Inc.",585,670,515,55,15,0,0,585.0,...,460,1,1,27,17,70,1,0,1,2
2,PIMG,"Palomar Intensivist Medical Group, Inc.",860,1027,741,87,19,11,2,860.0,...,647,7,1,31,16,142,1,4,0,0