In [8]:
import pandas as pd
import ast
import matplotlib.pyplot as plt
import numpy
from sklearn import metrics
import seaborn as sns
import ast

df = pd.read_excel('/home/trishalaswain/ClientData/CHS/CHS_JULY/CHS_JULY_Overall_sheet_till_11th.xlsx', index_col=False)

In [9]:
df.columns

Index(['Unnamed: 0', 'id', 'encounter_id', 'physician_id', 'service_date',
       'processing_date', 'admission_date', 'user_id', 'process_id',
       'last_coding_date', 'month', 'enc_visit_type', 'enc_place_of_service',
       'account_id', 'client_code', 'facility_code', 'account_number',
       'date_of_birth', 'gender', 'point_of_care', 'acc_visit_type',
       'acc_place_of_service', 'patient_class', 'patient_type', 'service_line',
       'financial_class', 'payor', 'enc_doc_id', 'enc_doc_type', 'ref_doc_id',
       'ref_doc_type', 'ref_codes', 'cm_final', 'cm_suggested', 'cm_accepted',
       'cm_rejected', 'cm_added', 'cm_accepted_count', 'cm_rejected_count',
       'cm_added_count', 'cpt_final', 'cpt_suggested', 'cpt_accepted',
       'cpt_rejected', 'cpt_added', 'cpt_accepted_count', 'cpt_rejected_count',
       'cpt_added_count', 'eandm_final', 'eandm_suggested', 'eandm_accepted',
       'eandm_rejected', 'eandm_added', 'eandm_accepted_count',
       'eandm_rejected_count', 'eandm_added_count', 'hcpcs_final',
       'hcpcs_suggested', 'hcpcs_accepted', 'hcpcs_rejected', 'hcpcs_added',
       'hcpcs_accepted_count', 'hcpcs_rejected_count', 'hcpcs_added_count'],
      dtype='object')

In [10]:
# cols_to_use = ['processingDate', 'lastCodingDate', 'facilityCode', 'accountNumber', 'EANDM_Final', 'EANDM_Suggested', 'encDocTypes']

In [11]:
# df3 = df[df.EANDM_Final.fillna('').str.contains('9928') & df.EANDM_Suggested.fillna('').str.contains('9929') & (~df.encDocTypes.str.contains(','))][cols_to_use]

In [12]:
# df3

In [13]:
# df3.accountNumber.to_list()

In [14]:
# df = df[~df.EANDM_Suggested.fillna('').str.contains(',') & df.EANDM_Final.fillna('').str.contains(',')]

In [15]:
df.facility_code = df.facility_code.astype('str')

In [16]:
df = df[df.facility_code.str.contains('9954')]

In [17]:
df.shape

(130, 64)

In [9]:
df = df[~df.encDocTypes.str.contains(',')]

In [10]:
df = df[['processingDate','serviceDate','lastCodingDate','facilityCode','accountNumber','EANDM_Final','EANDM_Accepted','EANDM_Rejected','EANDM_Added','EANDM_Suggested', 'CPT_Suggested']]

In [11]:
df.EANDM_Rejected.value_counts()

[]         835
[99284]    244
[99285]     21
[99291]     17
[99282]     15
[99283]      1
[99292]      1
Name: EANDM_Rejected, dtype: int64

In [12]:
df.EANDM_Accepted.value_counts()

[99284]           531
[]                309
[99285]           256
[99291]            37
[99292, 99291]      1
Name: EANDM_Accepted, dtype: int64

In [13]:
df[~df.EANDM_Accepted.str.contains('99282') & df.EANDM_Rejected.str.contains('99282')]

,processingDate,serviceDate,lastCodingDate,facilityCode,accountNumber,EANDM_Final,EANDM_Accepted,EANDM_Rejected,EANDM_Added,EANDM_Suggested,CPT_Suggested
1,2023-05-08 05:07:00.0,2023-04-29 00:00:00.0,2023-05-10 05:32:26.0,484982,88533459,99284,[],[99282],[99284],{99282=[]},{}
85,2023-05-02 07:09:09.0,2023-04-22 00:00:00.0,2023-05-12 01:55:24.0,484982,88410862,99284,[],[99282],[99284],{99282=[]},{}
102,2023-05-04 11:51:01.0,2023-04-25 00:00:00.0,2023-05-09 00:42:25.0,484982,88441080,99283,[],[99282],[99283],{99282=[]},{}
209,2023-05-02 05:13:03.0,2023-04-20 00:00:00.0,2023-05-03 02:53:13.0,484982,88394333,99284 = [25-Sig/Sep ID E&M Same Pro/Day],[],[99282],[99284],{99282=[]},{}
237,2023-05-03 19:49:16.0,2023-04-24 00:00:00.0,2023-05-05 06:15:33.0,484982,88425415,99284,[],[99282],[99284],{99282=[]},{}
315,2023-05-04 15:02:23.0,2023-04-23 00:00:00.0,2023-05-08 00:17:15.0,484982,88410191,99283,[],[99282],[99283],{99282=[]},{}
350,2023-04-28 12:22:00.0,2023-04-18 00:00:00.0,2023-05-02 03:51:20.0,484982,88376965,99283,[],[99282],[99283],{99282=[]},{}
433,2023-05-03 17:05:16.0,2023-04-22 00:00:00.0,2023-05-04 23:57:32.0,484982,88410875,99284 = [25-Sig/Sep ID E&M Same Pro/Day],[],[99282],[99284],{99282=[]},{}
488,2023-05-07 22:56:38.0,2023-04-27 00:00:00.0,2023-05-10 03:50:16.0,484982,88502050,99283,[],[99282],[99283],{99282=[]},{}
634,2023-05-10 09:55:27.0,2023-05-01 00:00:00.0,2023-05-10 22:15:54.0,484982,88595328,99284 = [25-Sig/Sep ID E&M Same Pro/Day],[],[99282],[99284],{99282=[]},{}
668,2023-05-10 13:59:36.0,2023-05-04 00:00:00.0,2023-05-12 01:10:17.0,484982,88619867,99285,[],[99282],[99285],{99282=[]},{}
799,2023-05-02 03:54:57.0,2023-04-26 00:00:00.0,2023-05-09 02:50:29.0,484982,88458299,99284,[],[99282],[99284],{99282=[]},{}
853,2023-04-28 11:30:12.0,2023-04-18 00:00:00.0,2023-05-02 02:52:55.0,484982,88376951,99284,[],[99282],[99284],{99282=[]},{}
924,2023-05-02 01:41:49.0,2023-04-19 00:00:00.0,2023-05-03 00:26:56.0,484982,88376855,99284,[],[99282],[99284],{99282=[]},{}
1118,2023-05-04 11:38:16.0,2023-04-23 00:00:00.0,2023-05-07 22:55:24.0,484982,88410185,99284,[],[99282],[99284],{99282=[]},{}

In [14]:
df

,processingDate,serviceDate,lastCodingDate,facilityCode,accountNumber,EANDM_Final,EANDM_Accepted,EANDM_Rejected,EANDM_Added,EANDM_Suggested,CPT_Suggested
0,2023-05-01 05:29:17.0,2023-04-04 00:00:00.0,2023-05-01 22:15:09.0,484982,88161967,99284,[99284],[],[],{99284=[]},{}
1,2023-05-08 05:07:00.0,2023-04-29 00:00:00.0,2023-05-10 05:32:26.0,484982,88533459,99284,[],[99282],[99284],{99282=[]},{}
2,2023-05-01 05:29:12.0,2023-04-04 00:00:00.0,2023-05-01 22:19:49.0,484982,88161970,99285 = [25-Sig/Sep ID E&M Same Pro/Day],[99285],[],[],{99285=[25]},{93010=[]}
3,2023-05-02 15:23:28.0,2023-04-20 00:00:00.0,2023-05-03 23:10:13.0,484982,88394370,99285,[],[99284],[99285],{99284=[]},{}
4,2023-04-04 02:12:52.0,2023-03-26 00:00:00.0,2023-05-05 04:12:44.0,484982,87988827,99285 = [25-Sig/Sep ID E&M Same Pro/Day],[99285],[],[],{99285=[25]},{}
...,...,...,...,...,...,...,...,...,...,...,...
1152,2023-05-04 06:17:56.0,2023-04-13 00:00:00.0,2023-05-04 22:06:08.0,484982,88281131,99285 = [25-Sig/Sep ID E&M Same Pro/Day],[99285],[],[],{99285=[25]},{93010=[]}
1153,2023-05-05 09:08:06.0,2023-04-25 00:00:00.0,2023-05-09 00:18:11.0,484982,88441125,99285 = [25-Sig/Sep ID E&M Same Pro/Day],[99285],[],[],{99285=[25]},{93010=[]}
1154,2023-05-02 06:39:44.0,2023-04-20 00:00:00.0,2023-05-03 02:45:27.0,484982,88394325,99284,[99284],[],[],{99284=[]},{}
1155,2023-05-04 06:17:55.0,2023-04-13 00:00:00.0,2023-05-04 21:50:02.0,484982,88281147,99291 = [25-Sig/Sep ID E&M Same Pro/Day],[99291],[],[],{99291=[25]},{93010=[]}
1156,2023-05-05 09:08:10.0,2023-04-25 00:00:00.0,2023-05-08 04:48:11.0,484982,88441100,99285,[99285],[],[],{99285=[]},{}

In [15]:
# for i,r in df.iterrows():
#     df.at[i, 'EANDM_Rejected'] = r['EANDM_Rejected'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Added'] = r['EANDM_Added'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Accepted'] = r['EANDM_Accepted'].replace(']', '').replace('[', '')
#     if (df.at[i, 'EANDM_Rejected'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Rejected']
#     else:
#        df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Rejected']
    
    
#     if (df.at[i, 'EANDM_Added'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Added']
#     else:
#        df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Added']

In [18]:
for i,r in df.iterrows():
    df.at[i, 'eandm_rejected'] = r['eandm_rejected'].replace(']', '').replace('[', '')
    df.at[i, 'eandm_added'] = r['eandm_added'].replace(']', '').replace('[', '')
    df.at[i, 'eandm_accepted'] = r['eandm_accepted'].replace(']', '').replace('[', '')
    if (df.at[i, 'eandm_rejected'] != '') & (df.at[i, 'eandm_accepted'] != ''):
        df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_rejected']
    else:
       df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_rejected']
    
    
    if (df.at[i, 'eandm_added'] != '') & (df.at[i, 'eandm_accepted'] != ''):
        df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_added']
    else:
       df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_added']

In [19]:
# df = df[~df.clean_suggested.str.contains(',') & df.clean_final.str.contains(',')]

In [20]:
df

,Unnamed: 0,id,encounter_id,physician_id,service_date,processing_date,admission_date,user_id,process_id,last_coding_date,...,hcpcs_final,hcpcs_suggested,hcpcs_accepted,hcpcs_rejected,hcpcs_added,hcpcs_accepted_count,hcpcs_rejected_count,hcpcs_added_count,clean_suggested,clean_final
1041,1041,11918369,8213629,21762,2023-07-05 13:45:00,2023-07-05 15:35:21,2023-07-05 13:45:00,4984,1,2023-07-06 12:50:31,...,NaN,{},[],[],[],0,0,0,99204,99214
1042,1042,11918370,8114041,18828,2023-06-30 10:00:00,2023-06-30 12:35:08,2023-06-30 10:00:00,6523,1,2023-07-05 13:23:23,...,NaN,{L4360=[]},[],[L4360],[],0,1,0,,
1043,1043,11918371,7617910,34366,2023-06-09 08:15:00,2023-07-05 10:23:23,2023-06-09 08:09:00,4984,1,2023-07-06 13:31:29,...,NaN,{},[],[],[],0,0,0,99214,99442
1044,1044,11918372,8108408,34366,2023-06-30 08:15:00,2023-06-30 08:31:33,2023-06-30 08:15:00,4984,1,2023-07-03 15:34:44,...,NaN,{},[],[],[],0,0,0,99212,99442
1045,1045,11918373,8068478,18828,2023-06-28 10:30:00,2023-06-28 12:35:45,2023-06-28 10:30:00,6523,1,2023-07-03 14:47:43,...,NaN,{},[],[],[],0,0,0,99212,99212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,1166,11918494,8114304,27822,2023-06-29 13:00:00,2023-06-30 12:45:47,2023-06-29 13:00:00,4984,1,2023-07-03 12:57:34,...,NaN,{S2900=[]},[],[S2900],[],0,1,0,99202,99203
1167,1167,11918495,8260227,18828,2023-07-07 09:30:00,2023-07-07 11:48:25,2023-07-07 09:30:00,6523,1,2023-07-10 15:56:48,...,NaN,{},[],[],[],0,0,0,99213,99212
1168,1168,11918496,8068229,18828,2023-06-28 11:45:00,2023-06-28 12:22:37,2023-06-28 11:45:00,6523,1,2023-07-05 13:08:11,...,NaN,{},[],[],[],0,0,0,99213,99212
1169,1169,11918497,8156034,34373,2023-07-03 07:15:00,2023-07-03 07:47:22,2023-07-03 07:11:00,4984,1,2023-07-06 13:36:31,...,NaN,{},[],[],[],0,0,0,99213,99213
1170,1170,11918498,8114308,18828,2023-06-30 10:30:00,2023-06-30 12:45:54,2023-06-30 10:30:00,6523,1,2023-07-05 13:29:07,...,NaN,{},[],[],[],0,0,0,99213,99212

In [21]:
df.clean_final.value_counts()

99213    37
         27
99203    27
99204    12
99212    11
99442     7
99214     5
99443     2
99441     1
99202     1
Name: clean_final, dtype: int64

In [22]:
df.clean_suggested.value_counts()

99213    35
99203    34
99214    25
         18
99212     9
99204     7
99202     2
Name: clean_suggested, dtype: int64

In [20]:
# print(type(df['EANDM_Suggested'][1]))

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1134 entries, 0 to 1156
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   processingDate   1134 non-null   object
 1   serviceDate      1134 non-null   object
 2   lastCodingDate   1134 non-null   object
 3   facilityCode     1134 non-null   int64
 4   accountNumber    1134 non-null   int64
 5   EANDM_Final      1134 non-null   object
 6   EANDM_Accepted   1134 non-null   object
 7   EANDM_Rejected   1134 non-null   object
 8   EANDM_Added      1134 non-null   object
 9   EANDM_Suggested  1134 non-null   object
 10  CPT_Suggested    1134 non-null   object
 11  clean_suggested  1134 non-null   object
 12  clean_final      1134 non-null   object
dtypes: int64(2), object(11)
memory usage: 156.3+ KB

In [22]:
df.shape

(1134, 13)

In [23]:
# df[~df.clean_final.fillna('').str.contains('99292') & df.clean_suggested.fillna('').str.contains('99292')].sort_values('serviceDate', ascending=False).accountNumber.to_list()

In [24]:
# df = df[df.clean_final.fillna('').str.contains('99291') | df.clean_suggested.fillna('').str.contains('99291')].sort_values('serviceDate', ascending=False)

In [23]:
confusion_matrix = metrics.confusion_matrix(df.clean_final, df.clean_suggested, labels=df.clean_suggested.unique().tolist())

In [24]:
confusion_matrix

array([[ 1,  0,  1,  0,  0, 10,  0],
       [ 0, 17,  4,  2,  3,  1,  0],
       [ 1,  0,  4,  0,  0,  0,  0],
       [ 0,  0,  2,  1,  8,  0,  0],
       [ 2,  1, 11,  0, 20,  3,  0],
       [ 3,  0,  0,  0,  3, 20,  1],
       [ 0,  0,  0,  0,  0,  0,  1]])

In [27]:
cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix, display_labels = df.clean_suggested.unique().tolist())

In [28]:
# fig, ax = plt.subplots(figsize=(10,10))

# cm_display.plot(ax=ax, colorbar=False, xticks_rotation=45)
# plt.show()

In [25]:
confusion_matrix = pd.crosstab(df.clean_final, df.clean_suggested,margins = True, margins_name='Total')

In [26]:
# confusion_matrix.to_excel('/home/trishalaswain/Downloads/Script_Testing/PH_CHINO_APRIL_CROSSTAB.xlsx')

In [27]:
confusion_matrix

clean_suggested      99202  99203  99204  99212  99213  99214  Total
clean_final
                 17      0      1      0      2      3      4     27
99202             0      1      0      0      0      0      0      1
99203             0      1     20      3      0      3      0     27
99204             0      0     10      1      0      0      1     12
99212             0      0      0      0      1      8      2     11
99213             1      0      3      2      0     20     11     37
99214             0      0      0      1      0      0      4      5
99441             0      0      0      0      1      0      0      1
99442             0      0      0      0      5      1      1      7
99443             0      0      0      0      0      0      2      2
Total            18      2     34      7      9     35     25    130

In [30]:
cols_to_use = ['encounter_id', 'service_date', 'enc_visit_type', 'enc_place_of_service', 'facility_code', 'account_number', 'eandm_suggested', 'eandm_final', 'cpt_suggested', 'cpt_final']

In [32]:
df[df.clean_suggested.str.contains('99213')  & df.clean_final.str.contains('99212')][cols_to_use]

,encounter_id,service_date,enc_visit_type,enc_place_of_service,facility_code,account_number,eandm_suggested,eandm_final,cpt_suggested,cpt_final
1046,8260731,2023-07-07 09:45:00,RECHECK,OV,9954,10973908,{99213=[]},99212,"{3008F=[], 1036F=[]}",NaN
1049,8208497,2023-07-05 11:15:00,RECHECK,OV,9954,10977366,{99213=[]},99212,{},NaN
1057,8108889,2023-06-30 08:00:00,RECHECK,OV,9954,12640610,{99213=[]},99212,{3008F=[]},NaN
1077,8260916,2023-07-07 10:30:00,RECHECK,OV,9954,10973911,{99213=[]},99212,"{3008F=[], 1036F=[]}",NaN
1083,8210474,2023-07-05 11:30:00,RECHECK,OV,9954,10977367,{99213=[]},99212,"{3008F=[], 1036F=[]}",NaN
1167,8260227,2023-07-07 09:30:00,RECHECK,OV,9954,10973896,{99213=[]},99212,"{3008F=[], 1160F=[], 1125F=[], 1159F=[]}",NaN
1168,8068229,2023-06-28 11:45:00,RECHECK,OV,9954,10977285,{99213=[25]},99212,{3008F=[]},NaN
1170,8114308,2023-06-30 10:30:00,RECHECK,OV,9954,10973878,{99213=[]},99212,"{3008F=[], 1036F=[]}",NaN

In [33]:
confusion_matrix.to_excel('/home/trishalaswain/Downloads/Script_Testing/SCP-JEFFERSON_MAY_1_TO_15_CROSSTAB.xlsx')

In [34]:
cols_to_use = ['processingDate', 'lastCodingDate', 'facilityCode', 'accountNumber', 'clean_suggested', 'clean_final', 'CPT_Suggested']

In [37]:
df[(df.clean_final.str.contains('99285')) & (df.clean_suggested =='99284')][cols_to_use].sort_values('lastCodingDate').to_excel('/home/trishalaswain/Downloads/Script_Testing/23_MAY/accounts_analysis.xlsx')

In [295]:
acc = df2.accountNumber.tolist()

In [44]:
acc

['V00001027861',
 'V00001027870',
 'V00001028015',
 'V00001028313',
 'V00001028322',
 'V00001028498',
 'V00001028630',
 'V00001028745',
 'V00001029216',
 'V00001029223',
 'V00001029235',
 'V00001029244',
 'V00001029332',
 'V00001029341',
 'V00001029577',
 'V00001029954',
 'V00001029984',
 'V00001030368',
 'V00001030938',
 'V00001030946',
 'V00001031087',
 'V00001031227',
 'V00001031248',
 'V00001031254',
 'V00001031345',
 'V00001031428',
 'V00001031438',
 'V00001031443',
 'V00001031449',
 'V00001031674',
 'V00001031826',
 'V00001031896',
 'V00001032131',
 'V00001032582',
 'V00001032326',
 'V00001032451',
 'V00001032470',
 'V00001032633',
 'V00001032639',
 'V00001032653',
 'V00001032853',
 'V00001032874',
 'V00001032876',
 'V00001033054',
 'V00001033055',
 'V00001033059',
 'V00001033281',
 'V00001033285',
 'V00001033299',
 'V00001033301',
 'V00001033302',
 'V00001033307',
 'V00001033392',
 'V00001033415',
 'V00001033421',
 'V00001033578',
 'V00001033588',
 'V00001031784',
 'V00001034187',
 'V00001034585',
 'V00001034616',
 'V00001032622',
 'V00001034881',
 'V00001035079',
 'V00001035607',
 'V00001036030',
 'V00001036089',
 'V00001036344',
 'V00001036366',
 'V00001036346',
 'V00001036379',
 'V00001036340',
 'V00001036461',
 'V00001036467',
 'V00001036504',
 'V00001036508',
 'V00001036528',
 'V00001036265',
 'V00001036669',
 'V00001036678',
 'V00001036701',
 'V00001036709',
 'V00001036921',
 'V00001036949',
 'V00001036976',
 'V00001036229',
 'V00001036545',
 'V00001037431',
 'V00001037599',
 'V00001037736',
 'V00001037690',
 'V00001037851',
 'V00001037869',
 'V00001038087',
 'V00001038545',
 'V00001038386',
 'V00001038817',
 'V00001038784',
 'V00001038776',
 'V00001038749',
 'V00001038908',
 'V00001038874',
 'V00001038905',
 'V00001038926',
 'V00001038927',
 'V00001038922',
 'V00001038906',
 'V00001039459',
 'V00001039676',
 'V00001039942',
 'V00001040962',
 'V00001040975',
 'V00001041224',
 'V00001041295',
 'V00001042758',
 'V00001042763',
 'V00001042774',
 'V00001042779',
 'V00001042944',
 'V00001042921',
 'V00001042942',
 'V00001042931',
 'V00001042941',
 'V00001042965',
 'V00001043313',
 'V00001043475',
 'V00001043992']

In [116]:
#  .to_excel('/home/trishalaswain/Downloads/Script_Testing/accounts_analysis.xlsx')
# .to_excel('/home/trishalaswain/Downloads/Script_Testing/23_MAY/chino_time_based_accounts_analysis.xlsx')

In [120]:
import pandas as pd
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
import regex as re
import time
from datetime import datetime
import os

# prod
user = 'read_only'
pwd = 'WHC63fKyjudfSz2U'
host = 'ezcapc-webdb-production-readrep.cncmk5ndlbjo.us-east-1.rds.amazonaws.com'
db_name = 'CAPC_APIGATEWAY'
env='production'

db_connection_str = 'mysql+pymysql://{}:{}@{}/{}'.format(user,pwd,host,db_name)
db_connection = create_engine(db_connection_str)

In [129]:
query = '''SELECT 
    CONVERT_TZ(em.service_date, 'UTC', 'US/Central') AS service_date,
    GROUP_CONCAT(DISTINCT eandm.code) AS final,
    GROUP_CONCAT(DISTINCT dc.code) AS suggested,
    GROUP_CONCAT(DISTINCT dc.time_spent_in_mins) AS time_spent,
    am.account_number AS account_number,
    facility_id, client_id
FROM
    account_mst am
        INNER JOIN
    document_mst dm ON dm.account_id = am.id
        AND dm.is_physician_document = 1
        AND dm.is_active = 1
        INNER JOIN
    document_processing_detail dpd ON dpd.document_id = dm.id
        INNER JOIN
    document_code dc ON dc.document_id = dm.id
        AND dc.is_active = 1
        AND dc.code_category = 'EANDM'
        AND dc.calculation_mode = 'TIME'
        INNER JOIN
    encounter_mst em ON em.account_id = dm.account_id
        AND em.service_date = dm.service_date
        AND em.physician_id = dm.physician_id
        AND em.is_active = 1
        INNER JOIN
    encounter_status_map esm ON esm.encounter_id = em.id
        AND esm.is_active = 1
        AND esm.encounter_status_id IN (9 , 17)
        INNER JOIN
    eandm_code eandm ON eandm.encounter_id = em.id
        AND eandm.process_id = esm.process_id
        AND eandm.user_id = esm.user_id
        AND eandm.status = 'ACCEPTED'
        AND eandm.is_active = 1
        
WHERE
    am.account_number in ({})
    AND dpd.id = (SELECT 
            id
        FROM
            document_processing_detail
        WHERE
            document_id = dm.id
        ORDER BY created_date DESC
        LIMIT 1)
        AND esm.id = (SELECT 
            id
        FROM
            encounter_status_map
        WHERE
            encounter_id = em.id
                AND encounter_status_id IN (9 , 17)
        ORDER BY last_coding_date DESC
        LIMIT 1)
        AND am.is_active = 1

        AND CONVERT_TZ(em.service_date,
            'UTC',
            'US/Central') > '2023-03-01'
        AND dc.code LIKE '9929%%'
        AND eandm.code LIKE '9929%%'
        AND am.facility_id = '221'
        
GROUP BY am.account_number , em.physician_id , em.service_date , dm.id
ORDER BY am.facility_id DESC;'''.format(','.join('"'+str(x)+'"' for x in acc))

        # AND CONVERT_TZ(esm.last_coding_date,
        #     'UTC',
        #     'US/Central') >= '2023-03-15'
        # AND CONVERT_TZ(esm.last_coding_date,
        #     'UTC',
        #     'US/Central') < '2023-04-24'

In [130]:
df_query = pd.read_sql(query, con=db_connection)

In [133]:
df3 = df_query.sort_values('time_spent')

In [134]:
df3.account_number.to_list()

['V00001036346',
 'V00001038906',
 'V00001036698',
 'V00001038784',
 'V00001037851',
 'V00001038776',
 'V00001036678',
 'V00001036921',
 'V00001044352',
 'V00001036924',
 'V00001036669',
 'V00001036949',
 'V00001038927',
 'V00001037431',
 'V00001040958',
 'V00001044982',
 'V00001038767',
 'V00001039652',
 'V00001044693',
 'V00001041284',
 'V00001043427',
 'V00001041288',
 'V00001041155',
 'V00001044539',
 'V00001041183',
 'V00001044856',
 'V00001043433',
 'V00001036229',
 'V00001036976',
 'V00001036709',
 'V00001038749',
 'V00001037869',
 'V00001038926',
 'V00001036379',
 'V00001036344',
 'V00001038766',
 'V00001036265',
 'V00001038922',
 'V00001036528',
 'V00001038817',
 'V00001038386',
 'V00001038762',
 'V00001036512',
 'V00001036504',
 'V00001038779',
 'V00001038905',
 'V00001038874',
 'V00001036089',
 'V00001040647',
 'V00001041645',
 'V00001042544',
 'V00001037545',
 'V00001043571',
 'V00001038087',
 'V00001036461',
 'V00001038775',
 'V00001036507',
 'V00001038908',
 'V00001037690',
 'V00001036545',
 'V00001040708',
 'V00001038910',
 'V00001038796',
 'V00001038705',
 'V00001038494',
 'V00001038483',
 'V00001039499',
 'V00001038915',
 'V00001040174',
 'V00001035829',
 'V00001040304',
 'V00001045011',
 'V00001044808',
 'V00001044724',
 'V00001044512',
 'V00001044491',
 'V00001044172',
 'V00001043563',
 'V00001043489',
 'V00001043337',
 'V00001043331',
 'V00001043128',
 'V00001043028',
 'V00001042879',
 'V00001042825',
 'V00001040215',
 'V00001042280',
 'V00001041910',
 'V00001041842',
 'V00001041739',
 'V00001041543',
 'V00001041439',
 'V00001041405',
 'V00001038409',
 'V00001041249',
 'V00001040988',
 'V00001040686',
 'V00001040405',
 'V00001040375',
 'V00001040332',
 'V00001040323',
 'V00001041998',
 'V00001041274',
 'V00001040463',
 'V00001036849',
 'V00001037880',
 'V00001036679',
 'V00001036115',
 'V00001036476',
 'V00001037715',
 'V00001037713',
 'V00001037941',
 'V00001036520',
 'V00001037561',
 'V00001036506',
 'V00001036954',
 'V00001037306',
 'V00001036485',
 'V00001036459',
 'V00001036786',
 'V00001038094',
 'V00001036482',
 'V00001038201',
 'V00001035897',
 'V00001036596',
 'V00001038225',
 'V00001035951',
 'V00001037062',
 'V00001035930',
 'V00001035853',
 'V00001035925',
 'V00001037094',
 'V00001036542',
 'V00001036833',
 'V00001036340',
 'V00001038395',
 'V00001042976',
 'V00001042354',
 'V00001040427',
 'V00001041026',
 'V00001039669',
 'V00001041269',
 'V00001042980',
 'V00001036792',
 'V00001042709',
 'V00001040828',
 'V00001039694',
 'V00001042319',
 'V00001042548',
 'V00001042199',
 'V00001039943',
 'V00001039950',
 'V00001042499',
 'V00001039965',
 'V00001042246',
 'V00001042383',
 'V00001042736',
 'V00001041328',
 'V00001042116',
 'V00001043434',
 'V00001038420',
 'V00001036839',
 'V00001044961',
 'V00001044864',
 'V00001038549',
 'V00001044677',
 'V00001038691',
 'V00001044664',
 'V00001044563',
 'V00001036042',
 'V00001037878',
 'V00001037850',
 'V00001037776',
 'V00001044475',
 'V00001043281',
 'V00001041166',
 'V00001037655',
 'V00001043440',
 'V00001041170',
 'V00001041191',
 'V00001041194',
 'V00001040965',
 'V00001043738',
 'V00001037670',
 'V00001040924',
 'V00001041198',
 'V00001043609',
 'V00001043600',
 'V00001036818',
 'V00001043728',
 'V00001038375',
 'V00001044283',
 'V00001041798',
 'V00001036761',
 'V00001041207',
 'V00001038232',
 'V00001043023',
 'V00001042155',
 'V00001045016',
 'V00001044429',
 'V00001036176',
 'V00001036185',
 'V00001043982',
 'V00001043970',
 'V00001043905',
 'V00001043711',
 'V00001036273',
 'V00001036281',
 'V00001042153',
 'V00001043546',
 'V00001043057',
 'V00001042862',
 'V00001042735',
 'V00001042684',
 'V00001042583',
 'V00001042537',
 'V00001042449',
 'V00001042426',
 'V00001042306',
 'V00001042230',
 'V00001043456',
 'V00001041114',
 'V00001045165',
 'V00001040117',
 'V00001039401',
 'V00001039620',
 'V00001039392',
 'V00001036907',
 'V00001039376',
 'V00001039215',
 'V00001037961',
 'V00001039416',
 'V00001040512',
 'V00001040498',
 'V00001045112',
 'V00001037077',
 'V00001040217',
 'V00001037122',
 'V00001040212',
 'V00001040202',
 'V00001039160',
 'V00001040748',
 'V00001039395',
 'V00001040770',
 'V00001038491',
 'V00001040982',
 'V00001039570',
 'V00001039049',
 'V00001039974',
 'V00001038626',
 'V00001040971',
 'V00001041104',
 'V00001038508',
 'V00001038570',
 'V00001039467',
 'V00001040908',
 'V00001040903',
 'V00001039791',
 'V00001037217',
 'V00001039251',
 'V00001043721',
 'V00001039759',
 'V00001039267',
 'V00001036831',
 'V00001039053',
 'V00001038610',
 'V00001038220',
 'V00001043698',
 'V00001041474',
 'V00001038218',
 'V00001037794',
 'V00001039112',
 'V00001043867',
 'V00001037411',
 'V00001043737',
 'V00001039855',
 'V00001043166',
 'V00001043750',
 'V00001043903',
 'V00001043077',
 'V00001042068',
 'V00001038049',
 'V00001036925',
 'V00001036023',
 'V00001037467',
 'V00001036641',
 'V00001038684',
 'V00001042196',
 'V00001038129',
 'V00001040092',
 'V00001039981',
 'V00001042448',
 'V00001044309',
 'V00001038899',
 'V00001037563',
 'V00001038819',
 'V00001044969',
 'V00001044859',
 'V00001044857',
 'V00001044996',
 'V00001044850',
 'V00001043428',
 'V00001038925',
 'V00001043601',
 'V00001044663',
 'V00001044561',
 'V00001044538',
 'V00001043606',
 'V00001043611',
 'V00001043622',
 'V00001044506',
 'V00001038897',
 'V00001043454',
 'V00001041151',
 'V00001039662',
 'V00001039656',
 'V00001042512',
 'V00001042498',
 'V00001039933',
 'V00001042493',
 'V00001039693',
 'V00001039685',
 'V00001042745',
 'V00001042746',
 'V00001039650',
 'V00001042759',
 'V00001039977',
 'V00001036532',
 'V00001036946',
 'V00001036938',
 'V00001042521',
 'V00001042520',
 'V00001042914',
 'V00001042915',
 'V00001041301',
 'V00001041294',
 'V00001041289',
 'V00001041277',
 'V00001040957',
 'V00001040964',
 'V00001041173',
 'V00001041171',
 'V00001040979',
 'V00001041163',
 'V00001040987',
 'V00001039665',
 'V00001036728',
 'V00001036714',
 'V00001036718',
 'V00001043475',
 'V00001039459',
 'V00001044320',
 'V00001044358',
 'V00001041224',
 'V00001038545',
 'V00001036030',
 'V00001036701',
 'V00001036467',
 'V00001036366',
 'V00001036508',
 'V00001044188',
 'V00001043992',
 'V00001037736',
 'V00001043313',
 'V00001042628',
 'V00001042345',
 'V00001037599',
 'V00001040962',
 'V00001042944',
 'V00001044861',
 'V00001042965',
 'V00001040975',
 'V00001039664',
 'V00001045000',
 'V00001044995',
 'V00001044959',
 'V00001044845',
 'V00001039964',
 'V00001041287',
 'V00001039942',
 'V00001042758',
 'V00001042763',
 'V00001042774',
 'V00001042779',
 'V00001044527',
 'V00001044555',
 'V00001039676',
 'V00001042921',
 'V00001041295',
 'V00001044668',
 'V00001039952',
 'V00001042941',
 'V00001044698',
 'V00001044708',
 'V00001042942',
 'V00001042931']