In [8]:
import pandas as pd, numpy as np

In [9]:
# pip install openpyxl

In [12]:
def applytab(row):
    print('\t'.join(map(str,row.values)))

In [13]:
merge_df = pd.DataFrame()

In [14]:
# import os

# folder = "/home/trishalaswain/Downloads/APR_01_to_30/"
# # folder = "/home/trishalaswain/Downloads/Feb_01_to_28_tsv (1)/"
# dfs = []
# for filename in os.listdir(folder):
#     print(filename)
#     if filename.startswith('PH-'):
#         if filename.endswith("30.xlsx"):
#             print(os.path.join(folder, filename))
#             dfs.append(pd.read_table(os.path.join(folder, filename),index_col=False))
#         # if filename.endswith("15.xlsx"):
#         #     print(os.path.join(folder, filename))
#         #     dfs.append(pd.read_excel(os.path.join(folder, filename),index_col=False))

# df = pd.concat(dfs)

import os

folder = "/home/trishalaswain/Downloads/APR_01_to_30/"
# folder = "/home/trishalaswain/Downloads/Feb_01_to_28_tsv (1)/"
# dfs = []
for filename in os.listdir(folder):
    # print(filename)
    if filename.startswith('PH-'):
        if filename.endswith("30.xlsx"):
            print(os.path.join(folder, filename))
            df = pd.read_table(os.path.join(folder, filename),index_col=False)
        # if filename.endswith("15.xlsx"):
        #     print(os.path.join(folder, filename))
        #     dfs.append(pd.read_excel(os.path.join(folder, filename),index_col=False))

merge_df = pd.concat([merge_df,df])

/home/trishalaswain/Downloads/APR_01_to_30/PH-AHE-Alvarado Hospital EMA-2023-04-01-2023-04-30.xlsx

ParserError: Error tokenizing data. C error: Expected 3 fields in line 3, saw 4

In [5]:
df =  pd.read_excel('/home/trishalaswain/Downloads/CHS-4696-CHS - Tablespace 4696-2023-04-01-2023-04-21.xlsx',index_col=False).fillna('0')

In [6]:
df

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
0,6456419,29457,2023-04-19 08:30:00.0,2023-04-19 08:52:56.0,2023-04-19 08:30:00.0,6519,1,2023-04-20 11:41:15.0,2023-04,Established Patient 15,...,1,1,0,[],[],[],{},0,0,0
1,6324322,37502,2023-04-13 08:30:00.0,2023-04-13 08:58:43.0,2023-04-13 08:28:00.0,6519,1,2023-04-17 09:40:40.0,2023-04,Established Patient 5,...,0,0,0,[],[],[],{},0,0,0
2,6123611,29334,2023-04-03 14:15:00.0,2023-04-03 14:29:10.0,2023-04-03 14:15:00.0,6519,1,2023-04-04 10:07:28.0,2023-04,New Patient 30,...,1,1,0,[],[],[],{},0,0,0
3,6143066,37502,2023-04-04 14:40:00.0,2023-04-04 15:29:25.0,2023-04-04 14:38:00.0,6519,1,2023-04-06 12:15:31.0,2023-04,Established Patient 5,...,1,1,J3301,[J3301],[],[],{J3301=[]},1,0,0
4,6142036,37502,2023-04-04 13:30:00.0,2023-04-04 14:31:29.0,2023-04-04 13:34:00.0,6519,1,2023-04-06 13:37:48.0,2023-04,NEW PATIENT,...,1,1,0,[],[G8421],[],{G8421=[]},0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,6332306,38246,2023-04-13 14:30:00.0,2023-04-13 16:09:01.0,2023-04-13 14:36:00.0,6519,1,2023-04-14 14:19:13.0,2023-04,Established OB 15,...,0,1,0,[],[],[],{},0,0,0
492,6137771,37502,2023-04-04 09:40:00.0,2023-04-04 10:35:59.0,2023-04-04 09:40:00.0,6519,1,2023-04-06 11:36:25.0,2023-04,Established Patient 5,...,1,1,0,[],[],[],{},0,0,0
493,6143909,29344,2023-04-04 15:00:00.0,2023-04-04 16:19:14.0,2023-04-04 14:42:00.0,6519,1,2023-04-10 10:35:52.0,2023-04,Office Procedure,...,0,0,0,[],[],[],{},0,0,0
494,6324122,37502,2023-04-13 08:30:00.0,2023-04-13 08:49:50.0,2023-04-13 08:30:00.0,6519,1,2023-04-17 09:30:09.0,2023-04,NEW PATIENT,...,0,0,0,[],[],[],{},0,0,0
495,6406047,29334,2023-04-17 09:15:00.0,2023-04-17 10:13:20.0,2023-04-17 09:15:00.0,6519,1,2023-04-17 12:58:01.0,2023-04,New Patient 30,...,1,0,0,[],[],[],{},0,0,0

In [7]:
# df[df.EANDM_Final.isna()].EANDM_Suggested.value_counts()
df[df.EANDM_Final.isna()].shape

(0, 61)

In [8]:
# pep_folder = '/home/vivekkumar/EandMTXT/docs_PEP/PEP/'

# enc_pcs_dict = {}
# # enc_req_dict = {}

# for subfoldername in os.listdir(pep_folder):
#     subfolder = os.path.join(pep_folder, subfoldername)
#     for filename in os.listdir(subfolder):
        
#         enc_id = int(filename[:filename.index('_')])
#         if filename.endswith('_pcs.xml'):
#             enc_pcs_dict[enc_id] = os.path.join(subfolder, filename)
# df.to_excel('/home/trishalaswain/Downloads/excel.xlsx')

In [9]:
df.month.nunique()

1

In [10]:
# df.to_csv('/home/vivekkumar/AccuracySheets/testt.csv', index=False)

In [11]:
df.facilityName.value_counts()

CHS - Tablespace 4696    496
Name: facilityName, dtype: int64

In [12]:
# df.columns

In [13]:
from collections import OrderedDict
def get_accuracy(data_df, codetype):
    
    # display(data_df)
    # print(data_df.columns)
    
    accept = data_df[codetype+'_Accepted_Count'].sum()
    reject = data_df[codetype+'_Rejected_Count'].sum()
    add = data_df[codetype+'_Added_Count'].sum()
    
    d = OrderedDict()
    
    d['encounters'] = data_df.shape[0]
    
    d[codetype+'_accepted'] = accept
    d[codetype+'_rejected'] = reject
    d[codetype+'_added'] = add
    
    d[codetype+'_billed'] = accept+add
    
    if accept == 0:
        if add + reject == 0:
            d['precision'] = 1
            d['recall'] = 1
            d['f1'] = 1
        else:
            d['precision'] = 0.0
            d['recall'] = 0.0
            d['f1'] = 0.0
    else:
        d['precision'] = accept / (accept + reject)
        d['recall'] = accept / (accept + add)
        d['f1'] = 2 * d['precision'] * d['recall'] / (d['precision'] + d['recall'])
    
    return pd.Series(d)

In [14]:
df_accuracy = df.groupby(['facilityCode', 'month']).apply(get_accuracy, codetype='EANDM').reset_index()
df_accuracy
pep_df = df.copy()

In [15]:
df['serviceDate'] = pd.to_datetime(df['serviceDate'])

In [16]:
set_cpt = set()
set_rejected = set()

In [17]:
def get_cpt_counts(code_list, df_to_use, col, codetype):
    count_dict = {}
    for code in code_list:
        count_dict[code] = df_to_use[col].str.contains(code).sum()
        
    return count_dict

In [18]:
def clean_cpt(x):
    
    clean = str(x['CPT_Final']).split(', ')
    for i in clean:
        i = i[0:5]
        set_cpt.add(i)
    return clean
cpt_code_list = set_cpt
clean_cpt = df.apply(clean_cpt, axis=1)

In [19]:
pep_df[pep_df.EANDM_Final.isna()].shape

(0, 61)

In [20]:
count_dict_cpt = get_cpt_counts(cpt_code_list, pep_df[pep_df.EANDM_Final.isna()], 'CPT_Suggested', 'CPT_Suggested')

In [21]:
cpt_stats = pd.DataFrame(count_dict_cpt.items(), columns = ['cpt_code','code_counts']).sort_values(by=['code_counts'], ascending=False).reset_index()

In [22]:
cpt_stats.head(20)

    index cpt_code  code_counts
0       0    11642            0
1      32    3077F            0
2      24    0500F            0
3      25    1170F            0
4      26        0            0
5      27    58100            0
6      28    1160F            0
7      29    99024            0
8      30    11402            0
9      31    1159F            0
10     33    TC-Te            0
11     22    73100            0
12     34    73630            0
13     35    20551            0
14     36    20610            0
15     37    73020            0
16     38    72170            0
17     39    0502F            0
18     40    73130            0
19     41    3075F            0

In [23]:
from ast import literal_eval
# from collections import Counter
# def get_counts(x):
#     d= Counter([c for y in x for c in literal_eval(y)])
    
#     for k, v in d.most_common():
#         print(k, v)
    # print(d)

In [24]:
# get_counts(df[df.facilityCode==1475]['CPT_Accepted'])

In [25]:
# get_counts(df[df.facilityCode=='PEP']['CPT_Rejected'])

In [26]:
# get_counts(df[df.facilityCode=='PEP']['CPT_Added'])

In [27]:
# df.facilityCode.value_counts()

In [28]:
pep_df = df.copy()
# pep_df[pep_df['encDocIds'].fillna('').astype(str).apply(lambda x:len(literal_eval('['+str(x)+']'))==1)].shape, pep_df.shape

In [29]:
# len(set(pep_df.id).intersection(set(enc_pcs_dict)))

In [30]:
# pep_df['filepath'] = pep_df.id.apply(lambda x:enc_pcs_dict[x] if x in enc_pcs_dict else np.nan)
# pep_df = pep_df[~pep_df.filepath.isna()].copy()

In [31]:
pep_df.EANDM_Final = pep_df.EANDM_Accepted.apply(lambda x:literal_eval(x))+pep_df.EANDM_Added.apply(lambda x:literal_eval(x))
pep_df.EANDM_Suggested = pep_df.EANDM_Accepted.apply(lambda x:literal_eval(x))+pep_df.EANDM_Rejected.apply(lambda x:literal_eval(x))

In [32]:
def get_counts_group(x, grouped_col):
    print(x[grouped_col].unique())
    d= Counter([c for y in x['EANDM_Final'] for c in y])
    
    for k, v in d.most_common():
        print(k, v)
    print('\n')

In [33]:
pep_df.EANDM_Final.value_counts()

[99213]    147
[]         144
[99204]     67
[99203]     62
[99214]     50
[99212]      8
[99202]      7
[99215]      3
[99386]      3
[99211]      1
[99385]      1
[99205]      1
[99396]      1
[99395]      1
Name: EANDM_Final, dtype: int64

In [34]:
pep_df.EANDM_Suggested.value_counts()

[]                145
[99212]            94
[99213]            73
[99203]            73
[99202]            59
[99204]            16
[99214]            13
[99202, 99212]     11
[99203, 99213]      6
[99386]             2
[99385]             1
[99396]             1
[99395]             1
[99211]             1
Name: EANDM_Suggested, dtype: int64

In [35]:
# for col in pep_df.columns:
#     print(col)
#     display(pep_df[col].value_counts())
#     print('\n\n')

In [36]:
pep_df.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).reset_index()

,visitType,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
0,STAPLE/STITCH REMOVAL,18.0,0.0,35.0,0.0,0.0,0.000000,0.000000,0.000000
1,Surgery Follow Up,17.0,0.0,17.0,2.0,2.0,0.000000,0.000000,0.000000
2,POST-OP,47.0,0.0,13.0,0.0,0.0,0.000000,0.000000,0.000000
3,Post Partum 15,7.0,0.0,2.0,7.0,7.0,0.000000,0.000000,0.000000
4,New Patient/PostOp,6.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.000000
5,0,1.0,0.0,0.0,1.0,1.0,0.000000,0.000000,0.000000
6,3 Month Follow Up,4.0,0.0,0.0,4.0,4.0,0.000000,0.000000,0.000000
7,Established OB 15,71.0,0.0,0.0,50.0,50.0,0.000000,0.000000,0.000000
8,Nurse Visit 5,2.0,0.0,0.0,1.0,1.0,0.000000,0.000000,0.000000
9,Follow Up 15,32.0,4.0,5.0,26.0,30.0,0.444444,0.133333,0.205128
10,NEW PATIENT,38.0,9.0,29.0,29.0,38.0,0.236842,0.236842,0.236842
11,Established Patient 15,8.0,2.0,6.0,6.0,8.0,0.250000,0.250000,0.250000
12,"New Patient, Routine",26.0,8.0,18.0,17.0,25.0,0.307692,0.320000,0.313725
13,Established Patient 5,75.0,21.0,54.0,34.0,55.0,0.280000,0.381818,0.323077
14,New Patient 30,60.0,24.0,36.0,31.0,55.0,0.400000,0.436364,0.417391
15,"Established Patient, F/U",37.0,18.0,19.0,16.0,34.0,0.486486,0.529412,0.507042
16,New Gynecology 30,11.0,6.0,5.0,5.0,11.0,0.545455,0.545455,0.545455
17,Office Procedure,4.0,2.0,2.0,0.0,2.0,0.500000,1.000000,0.666667
18,*New Patient 15,3.0,2.0,1.0,1.0,3.0,0.666667,0.666667,0.666667
19,Established GYN 15,17.0,11.0,6.0,4.0,15.0,0.647059,0.733333,0.687500
20,*New OB 30,10.0,7.0,3.0,2.0,9.0,0.700000,0.777778,0.736842
21,6 month f/u,1.0,1.0,0.0,0.0,1.0,1.000000,1.000000,1.000000
22,Established GYN 30,1.0,1.0,0.0,0.0,1.0,1.000000,1.000000,1.000000

In [91]:
# pep_df.groupby('physicianId').apply(get_counts_group, grouped_col='pointOfCare')
pep_df_1 = df[df.EANDM_Final.isna()]
pep_df_1.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False])

/tmp/ipykernel_123037/1749184928.py:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  pep_df_1.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False])

KeyError: 'f1'

In [ ]:
pep_df.EANDM_Final.value_counts()

[99213]    147
[]         144
[99204]     67
[99203]     62
[99214]     50
[99212]      8
[99202]      7
[99215]      3
[99386]      3
[99211]      1
[99385]      1
[99205]      1
[99396]      1
[99395]      1
Name: EANDM_Final, dtype: int64

In [38]:
# pep_df = pep_df.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).reset_index()
# df[df.visitType.fillna('').str.contains('Follow-up 15') & (~df.EANDM_Final.isna())][cols_to_use]
# temp[temp.encounters>10]

In [39]:
# df.groupby(['payor','visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1'],ascending=[True]).head(50).reset_index()

In [40]:
# pep_df.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).head(60).reset_index()

In [41]:
# df[df.visitType.fillna('').str.contains('Follow-up 15')][cols_to_use].head(50)

In [39]:
cols_to_use = ['physicianId', 'userId', 'month', 'visitType','accountNumber',
       'placeOfService', 'gender', 'pointOfCare','payor', 'EANDM_Final', 'EANDM_Suggested','CPT_Suggested', 'CPT_Final', 'HCPCS_Suggested', 'HCPCS_Final', 'CM_Suggested', 'CM_Final']

In [40]:
df.shape

(496, 61)

In [62]:
df7 = df[df.CPT_Suggested.fillna('').str.contains('0502F') & ~(df.EANDM_Final=='0')]
# df7 = df[((df.visitType.fillna('').str.contains('STAPLE/STITCH REMOVAL')))]
# df7 = df[(df.CPT_Suggested.str.contains('57456')) | (df.CPT_Suggested.str.contains('58301'))]
# df.CPT_Suggested.str.contains('96372')) & 

# df7 = df[(df.CPT_Suggested.str.contains('0502F'))  & (df.EANDM_Final.isna())]
# df7 = df[((df.EANDM_Suggested.str.contains('99212')) & (~df.EANDM_Suggested.str.contains('99202'))) & df.CPT_Final.str.contains('20610')]
# df7 = df[~(df.CPT_Suggested.str.contains('99024')) & ~(df.CPT_Final.str.contains('99024'))& ((df.EANDM_Suggested.str.contains('99212'))) & (df.EANDM_Final=='0')]
# df7 = df[((df.EANDM_Suggested.str.contains('99212')) & (~df.EANDM_Suggested.str.contains('99202'))) & (df.EANDM_Final.isna())]

# df7 = df[(df.EANDM_Final.str.contains('99212') | df.EANDM_Final.str.contains('99213')) & (~df.EANDM_Suggested.str.contains('9'))]

# df7 = df[(df.CPT_Suggested.str.contains('99024')) & (df.EANDM_Suggested.str.contains('9'))]
# df7 = df[(df.visitType.str.contains('Established OB 15')) & ~(df.EANDM_Final=='0')]
# df7 = df[(df.visitType.str.contains('Established Patient 5')) & (df.pointOfCare.str.contains('OSSM_Sparks')) & (df.CPT_Final.str.contains('206'))]

# df7 = df[(df.pointOfCare.fillna('').str.contains('OSSM_Sparks'))]

df7[cols_to_use]

,physicianId,userId,month,visitType,accountNumber,placeOfService,gender,pointOfCare,payor,EANDM_Final,EANDM_Suggested,CPT_Suggested,CPT_Final,HCPCS_Suggested,HCPCS_Final,CM_Suggested,CM_Final
8,38245,6519,2023-04,Established OB 15,26759174,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z34.82, Z68.41, E66.01, D64.9, Z3A.15, O99.01...","[Z34.82, Z68.41, Z3A.15]"
11,38245,6519,2023-04,Established OB 15,26759230,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 3074F=[], 90636...","3008F, 3074F, 3078F, 1036F",{},0,"[Z3A.31, O09.523, O24.419, Z68.28]","[Z3A.31, O09.523, O24.419, Z68.28]"
40,38246,6519,2023-04,Established OB 15,27578273,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 3074F=[], 90636...","3008F, 3074F, 3078F, 1036F",{},0,"[Z34.83, Z3A.31, Z98.890, Z68.30, O24.419, O09...","[Z34.83, Z3A.31, Z68.30, O24.419, O09.899]"
54,38245,6519,2023-04,Post Partum 15,26759254,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59430=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[Z68.33, Z39.2, Z30.011, Z79.3]","[Z68.33, Z39.2, Z30.011]"
58,38245,6519,2023-04,Established OB 15,26759198,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[Z68.36, Z88.0, Z68.35, Z34.83, E66.9, Z3A.36,...","[Z68.36, Z34.83, Z3A.36, D64.9]"
59,38245,6519,2023-04,Established OB 15,26759258,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 81002=[], 90636=[], 1036F=[]}",1036F,{G8421=[]},0,"[O99.019, Z34.83, Z3A.33, O99.013]","[Z34.83, Z3A.33, O99.013]"
68,38245,6519,2023-04,Established OB 15,26759188,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{59426=[], 0502F=[], 3079F=[], 3008F=[], 3074F...","3008F, 1034F",{},0,"[D56.0, Z01.83, Z68.25, O13.2, Z34.82, O16.2, ...","[Z01.83, Z68.25, Z34.82, O16.2, Z3A.24, Z14.8]"
93,38246,6519,2023-04,Nurse Visit 5,27601665,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99211,{},"{0502F=[], 59425=[], 90636=[], 1036F=[]}",0,{G8421=[]},0,[Z34.01],[Z34.01]
96,38245,6519,2023-04,Established OB 15,27575418,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 3074F=[], 90636...","3008F, 3074F, 3078F",{},0,"[Z68.27, Z3A.30, Z34.03, O24.419]","[Z68.27, Z3A.30, Z34.03, O24.419]"
103,38248,6519,2023-04,Established OB 15,27484784,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z3A.12, Z34.01, Z68.39]","[Z3A.12, Z34.01, Z68.39]"
114,38245,6519,2023-04,Post Partum 15,26759214,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59430=[], 90636=[]}",3008F,{},0,"[Z68.24, Z39.2]","[Z68.24, Z39.2]"
121,38246,6519,2023-04,Post Partum 15,27583838,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59430=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z39.2, Z68.39]","[Z39.2, Z68.39]"
129,38246,6519,2023-04,Established OB 15,26945211,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.23, Z3A.37, O09.523]","[Z68.23, Z3A.37, O09.523]"
133,38245,6519,2023-04,Established OB 15,27593283,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 90636=[]}",0,{},0,"[Z34.83, Z3A.37, Z68.29, O09.613]","[Z34.83, Z3A.37, Z68.29, O09.613]"
134,38246,6519,2023-04,Established OB 15,26942566,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.38, Z34.83, Z98.890, Z3A.34, R19.7, O26.8...","[Z68.38, Z34.83, Z3A.34, R19.7, O09.899]"
136,38245,6519,2023-04,Established OB 15,26759223,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99214,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...",3008F,{},0,"[O99.019, D56.0, Z68.33, Z34.82, Z3A.27, O99.0...","[Z68.33, Z34.82, Z3A.27, O99.012, D56.3]"
139,38245,6519,2023-04,Established OB 15,26759306,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...",3008F,{J3490=[]},0,"[O23.593, A74.9, Z68.23, R80.9, N76.0, Z3A.37,...","[A74.9, Z68.23, R80.9, N76.0, Z3A.37, Z34.03]"
147,38245,6519,2023-04,Established OB 15,26759211,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 59425=[], 90636=[], 76805=[]}",0,{},0,"[Z68.24, Z3A.16, Z34.02]","[Z68.24, Z3A.16, Z34.02]"
148,38246,6519,2023-04,Established OB 15,26942609,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 81002=[], 84443=[QW], 90636=[], 103...",1034F,{G8421=[]},0,"[Z3A.20, Z34.82]","[Z3A.20, Z34.82]"
152,38245,6519,2023-04,Established OB 15,26759182,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 90636=[]}",0,{G8421=[]},0,"[Z88.0, Z3A.36, Z34.03, O99.820]","[Z3A.36, Z34.03]"
165,38245,6519,2023-04,Established OB 15,26759168,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 90636=[]}",0,{},0,"[Z68.33, O09.619, D64.9, Z34.03, O09.611, O24....","[Z68.33, O09.619, D64.9, Z34.03, O24.419]"
181,38246,6519,2023-04,Established OB 15,27576910,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1034F...","3008F, 1034F",{J3490=[]},0,"[Z68.23, Z34.83, Z3A.38, Z86.19]","[Z68.23, Z34.83, Z3A.38]"
185,38245,6519,2023-04,Established OB 15,26759169,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...","3008F, 1034F",{},0,"[Z68.22, Z34.82, R80.9, O99.353, Z14.8, G12.9,...","[Z68.22, Z34.82, Z14.8, Z3A.28]"
195,38245,6519,2023-04,Established OB 15,26759210,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: O-EPIC,99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.36, Z34.83, Z3A.33]","[Z68.36, Z34.83, Z3A.33]"
205,38245,6519,2023-04,Established OB 15,26759181,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 59425=[], 3074F=[], 90636=[], 3078F...",0,{G8421=[]},0,"[Z01.83, O10.012, I10, Z3A.15, Z34.02]","[Z01.83, I10, Z3A.15, Z34.02]"
209,38245,6519,2023-04,Established OB 15,26759175,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 85025...","3008F, 1036F",{},0,"[Z68.23, Z3A.24, Z34.02]","[Z68.23, Z3A.24, Z34.02]"
229,38246,6519,2023-04,Established OB 15,27583862,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 90636=[]}",0,{},0,"[Z68.33, O09.619, Z3A.34, Z34.03, O24.419, O09...","[Z3A.34, Z68.54, Z34.03, O24.419, O09.613]"
232,38245,6519,2023-04,Established OB 15,26759278,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3074F=[], 90636=[], 3078F...","3074F, 3078F, 1036F",{G8421=[]},0,"[O10.013, Z3A.32, Z34.83, I10, R63.5]","[Z3A.32, Z34.83, I10, R63.5]"
244,38245,6519,2023-04,Post Partum 15,26759304,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (INSTITUTIONAL),99213,{},"{0502F=[], 3008F=[], 59430=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z39.2, Z68.29, R10.2]","[Z39.2, Z68.29, R10.2]"
268,38245,6519,2023-04,Established OB 15,26759277,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.27, Z34.82, R80.9, Z3A.15]","[Z68.27, Z34.82, R80.9, Z3A.15]"
273,38245,6519,2023-04,Established OB 15,27573777,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[Z01.84, R87.610, Z98.890, Z34.81, Z3A.09, Z68...","[Z01.84, R87.610, Z34.81, Z3A.09, Z68.29]"
274,38245,6519,2023-04,Established OB 15,26759272,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[]}",3008F,{},0,"[Z68.27, Z3A.34, Z34.03]","[Z68.27, Z3A.34, Z34.03]"
278,38246,6519,2023-04,Established OB 15,26942596,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 3074F=[], 90636...","3008F, 3074F, 1036F, 3078F",{},0,"[O09.522, O24.112, Z3A.26, O24.119, Z68.39]","[O09.522, O24.112, Z3A.26, Z68.39]"
292,38246,6519,2023-04,Established OB 15,26942568,OV,F,KCRHC_PONCA CITY RHC,SLIDING FEE SCHEDULE - DISCOUNT,99213,{},"{59426=[], 0502F=[]}",0,"{Q0091=[], G8427=[]}",0,"[Z68.27, Z3A.30, Z34.03]","[Z3A.30, Z34.03]"
294,38245,6519,2023-04,Established OB 15,26759194,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 85025...","3008F, 1036F",{},0,"[D75.839, Z68.26, Z34.82, Z3A.24, D64.9, D47.3...","[Z68.26, Z34.82, Z3A.24, D64.9]"
320,38245,6519,2023-04,Established OB 15,26759261,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[Z68.23, Z22.330, Z3A.01, Z34.81, O99.011, D64...","[Z68.23, Z22.330, Z3A.01, Z34.81, D64.9]"
343,38245,6519,2023-04,Established OB 15,26759273,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...",3008F,{},0,"[E05.90, Z68.22, Z3A.34, O99.283, Z34.03, R03.0]","[E05.90, Z68.22, Z3A.34, Z34.03, R03.0]"
348,38245,6519,2023-04,Post Partum 15,26759189,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59430=[], 90636=[]}",3008F,{},0,"[Z68.1, Z39.2, F32.A, F41.9, Z79.3]","[Z68.1, Z39.2, F41.9]"
350,38245,6519,2023-04,Established OB 15,26759200,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.35, Z3A.32, Z34.83, D64.9, O99.013]","[Z68.35, Z3A.32, Z34.83, D64.9]"
368,38245,6519,2023-04,Established OB 15,26759291,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{0502F=[], 59425=[], 90636=[], 85025=[], 1034F...",1034F,{G8421=[]},0,"[Z34.82, Z3A.24]","[Z34.82, Z3A.24]"
383,38245,6519,2023-04,Established OB 15,26759238,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59425=[], 85025=[], 90636...","3008F, 1036F",{},0,"[E03.9, O99.282, Z3A.24, Z34.02, Z68.29]","[E03.9, Z3A.24, Z34.02, Z68.29]"
391,38246,6519,2023-04,Established OB 15,26942612,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[O09.521, Z3A.12, Z68.30]","[O09.521, Z3A.12, Z68.30]"
398,38245,6519,2023-04,Established OB 15,26759225,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 90636=[], 1036F=[]}",1036F,{G8421=[]},0,"[Z01.83, Z88.0, Z34.83, Z3A.36, O99.820]","[Z01.83, Z34.83, Z3A.36]"
404,38246,6519,2023-04,Established OB 15,26942617,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 3079F=[], 0502F=[], 3008F=[], 3074F...","3079F, 3008F, 3074F, 1036F",{},0,"[Z68.35, O24.112, E66.9, Z34.82, Z3A.25, Z68.4...","[Z68.35, O24.112, Z34.82, Z3A.25]"
406,38246,6519,2023-04,Established OB 15,26940260,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99214,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 85025...","3008F, 1036F",{},0,"[Z68.38, Z98.890, O09.892, Z34.82, Z3A.26, O09...","[Z68.38, O09.892, Z34.82, Z3A.26]"
410,38245,6519,2023-04,Established OB 15,26759312,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...","3008F, 1036F",{},0,"[Z98.890, Z34.82, Z68.41, E66.01, Z87.59, O99....","[Z98.890, Z34.82, Z68.41, Z87.59, O99.213, Z3A..."
413,38246,6519,2023-04,Established OB 15,26942598,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 59425=[], 90636=[]}",3008F,{},0,"[Z68.23, Z34.03, Z3A.28]","[Z68.23, Z34.03, Z3A.28]"
414,38246,6519,2023-04,0,27600174,OV,F,0,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 0503F=[], 3008F=[], 59425=[], 3074F...","3008F, 3074F, 1036F, 3078F",{},0,"[Z34.83, Z68.31, O24.419]","[Z34.83, Z68.31, O24.419]"
415,38245,6519,2023-04,Established OB 15,26759270,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[O99.019, O99.612, Z34.82, Z68.30, O82, Z3A.24...","[O99.019, Z34.82, Z68.30, Z3A.24, K80.20]"
417,38245,6519,2023-04,Established OB 15,26759264,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[]}",3008F,{},0,"[Z3A.30, Z68.34, Z34.83]","[Z3A.30, Z34.83, Z68.54]"
422,38245,6519,2023-04,Established OB 15,26759177,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.43, Z3A.12, Z34.81, E66.01, O99.211]","[Z68.43, Z3A.12, Z34.81]"
444,38245,6519,2023-04,Established OB 15,26759224,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99214,{},"{0502F=[], 3008F=[], 59425=[], 85025=[], 90636...","3008F, 1034F",{},0,"[Z22.330, Z3A.25, O99.712, E66.9, Z34.82, Z68....","[Z22.330, Z34.82, Z68.31, Z3A.25, L29.3]"
457,38246,6519,2023-04,Established OB 15,26945212,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{0502F=[], 3008F=[], 81002=[], 90636=[]}",3008F,{},0,"[Z68.22, Z3A.15, Z34.02]","[Z68.52, Z3A.15, Z34.02]"
458,38245,6519,2023-04,Established OB 15,26759245,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...","3008F, 1036F",{},0,"[Z68.38, Z68.37, E66.9, Z34.82, Z3A.25, Z14.1,...","[Z68.38, Z34.82, Z3A.25, Z14.1]"
462,38245,6519,2023-04,Established OB 15,27573778,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[E05.90, Z88.0, Z68.33, Z34.83, O99.283, Z3A.3...","[E05.90, Z68.33, Z34.83, Z3A.36]"
465,38245,6519,2023-04,Established OB 15,26759290,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","3008F, 1036F",{},0,"[Z68.35, E56.9, Z34.83, O99.283, Z3A.36, D64.9...","[Z68.35, E56.9, Z34.83, Z3A.36, D64.9]"
491,38246,6519,2023-04,Established OB 15,26942583,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),99213,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1034F...","3008F, 1034F",{},0,"[Z3A.21, Z68.20, Z34.02]","[Z3A.21, Z68.20, Z34.02]"

In [51]:
df7[df7.CPT_Suggested.str.contains('0502F')].shape

(50, 61)

In [38]:
df7.CPT_Final = df7.CPT_Final.astype('str')

/tmp/ipykernel_13875/3329104516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7.CPT_Final = df7.CPT_Final.astype('str')

In [237]:
df7[(~df.CPT_Final.str.contains("99024"))]

/tmp/ipykernel_74486/2401621757.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df7[(~df.CPT_Final.str.contains("99024"))]

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
53,6267917,29366,2023-04-10 13:45:00,2023-04-10 13:52:03.0,2023-04-10 13:45:00.0,6519,1,2023-04-12 09:19:16.0,2023-04,"Established Patient, F/U",...,1,0,NaN,[],[],[],{},0,0,0
67,6279223,37502,2023-04-06 13:30:00,2023-04-11 08:36:10.0,2023-04-06 13:13:00.0,6519,1,2023-04-11 16:31:11.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
98,6280431,37502,2023-04-06 10:30:00,2023-04-11 10:07:30.0,2023-04-06 10:20:00.0,6519,1,2023-04-11 15:59:00.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[G8427],[],"{J3301=[], G8427=[]}",1,1,0
117,6136972,37502,2023-04-04 08:50:00,2023-04-04 09:52:27.0,2023-04-04 08:50:00.0,6519,1,2023-04-06 11:49:10.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
153,6136156,37502,2023-04-04 08:30:00,2023-04-04 08:47:08.0,2023-04-04 08:30:00.0,6519,1,2023-04-06 12:12:06.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
174,6325545,37502,2023-04-13 09:40:00,2023-04-13 10:17:36.0,2023-04-13 09:27:00.0,6519,1,2023-04-17 10:02:47.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
196,6185262,37502,2023-04-06 13:00:00,2023-04-06 14:10:10.0,2023-04-06 13:00:00.0,6519,1,2023-04-10 09:21:25.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
225,6278648,37502,2023-04-10 09:30:00,2023-04-11 08:02:38.0,2023-04-10 09:34:00.0,6519,1,2023-04-11 16:38:02.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
255,6180283,37502,2023-04-06 08:50:00,2023-04-06 08:50:38.0,2023-04-06 08:29:00.0,6519,1,2023-04-06 09:33:54.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
312,6180384,37502,2023-04-06 08:30:00,2023-04-06 08:56:46.0,2023-04-06 08:30:00.0,6519,1,2023-04-06 10:17:06.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
315,6285856,29366,2023-04-11 13:45:00,2023-04-11 15:27:00.0,2023-04-11 13:45:00.0,6519,1,2023-04-12 09:48:56.0,2023-04,Office Procedure,...,1,0,NaN,[],[],[],{},0,0,0
316,6279900,37502,2023-04-06 11:20:00,2023-04-11 09:45:04.0,2023-04-06 10:58:00.0,6519,1,2023-04-11 16:08:57.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
347,6137581,37502,2023-04-04 09:10:00,2023-04-04 10:29:11.0,2023-04-04 09:03:00.0,6519,1,2023-04-06 14:23:58.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
362,6279826,37502,2023-04-11 08:40:00,2023-04-11 09:41:51.0,2023-04-11 08:28:00.0,6519,1,2023-04-12 10:04:29.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
379,6281045,37502,2023-04-11 09:40:00,2023-04-11 10:40:34.0,2023-04-11 09:20:00.0,6519,1,2023-04-12 10:21:00.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
386,6286147,37502,2023-04-11 14:20:00,2023-04-11 15:39:20.0,2023-04-11 14:20:00.0,6519,1,2023-04-12 11:36:00.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0
443,6143961,29344,2023-04-04 13:45:00,2023-04-04 16:22:29.0,2023-04-04 13:37:00.0,6519,1,2023-04-10 11:50:02.0,2023-04,"Established Patient, F/U",...,1,0,NaN,[],[],[],{},0,0,0
470,6332324,29366,2023-04-13 15:00:00,2023-04-13 16:20:30.0,2023-04-13 14:20:00.0,6519,1,2023-04-14 15:36:26.0,2023-04,"Established Patient, F/U",...,1,0,NaN,[],[],[],{},0,0,0
483,6136764,37502,2023-04-04 08:40:00,2023-04-04 09:45:45.0,2023-04-04 08:37:00.0,6519,1,2023-04-06 14:31:42.0,2023-04,Established Patient 5,...,1,0,J3301,[J3301],[],[],{J3301=[]},1,0,0

In [215]:
df7.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False])

,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
visitType,,,,,,,,
Established Patient 5,16.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0
Surgery Follow Up,9.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
POST-OP,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
"Established Patient, F/U",3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Established GYN 15,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Office Procedure,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [151]:
# df8[df8.EANDM_Final.isna()]

In [70]:
df7[df7.EANDM_Final.isna()][cols_to_use]
count_dict_cpt = get_cpt_counts(cpt_code_list, df7[df7.EANDM_Final.isna()][cols_to_use], 'CPT_Suggested', 'CPT_Suggested')
cpt_stats = pd.DataFrame(count_dict_cpt.items(), columns = ['cpt_code','code_counts']).sort_values(by=['code_counts'], ascending=False).reset_index()

In [71]:
cpt_stats.head()

   index cpt_code  code_counts
0     28    0502F           21
1     41    1036F           19
2     20    3008F           18
3      4    3078F            2
4     37    3074F            2

In [72]:
# df7.payor.value_counts()

In [73]:
df7[df7.EANDM_Final.isna()][cols_to_use].shape

(21, 13)

In [74]:
df7[~df7.EANDM_Final.isna()][cols_to_use].shape

(0, 13)

In [75]:
# df7.groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).head(60).reset_index()

In [76]:
df7[cols_to_use].EANDM_Final.value_counts()

Series([], Name: EANDM_Final, dtype: int64)

In [77]:
df7[cols_to_use].EANDM_Suggested.value_counts()

{}    21
Name: EANDM_Suggested, dtype: int64

In [78]:
df7[df7.EANDM_Final.isna()][cols_to_use]

,physicianId,userId,month,visitType,accountNumber,placeOfService,gender,pointOfCare,payor,EANDM_Final,EANDM_Suggested,CPT_Suggested,CPT_Final
44,38245,6519,2023-04,Established OB 15,26759183,OV,F,KCRHC_PONCA CITY RHC,UNITED HEALTHCARE,NaN,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
49,38246,6519,2023-04,Established OB 15,27600291,OV,F,KCRHC_PONCA CITY RHC,UMR - HEALTHCHOICE - DOS ON OR AFTER 01/01/202...,NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
62,38246,6519,2023-04,Established OB 15,27578284,OV,F,KCRHC_PONCA CITY RHC,UMR - HEALTHCHOICE - DOS ON OR AFTER 01/01/202...,NaN,{},"{59426=[], 0502F=[], 3008F=[], 85025=[], 90636...","0502F, 3008F"
69,38245,6519,2023-04,Established OB 15,26759247,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
73,38245,6519,2023-04,Established OB 15,26759309,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
130,38245,6519,2023-04,Established OB 15,26759208,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 3008F=[], 81002=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
200,38245,6519,2023-04,Established OB 15,26759228,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
208,38246,6519,2023-04,Established OB 15,26945215,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 81002=[], 90636=[], 1036F=[]}",1036F
238,38246,6519,2023-04,Established OB 15,26942557,OV,F,KCRHC_PONCA CITY RHC,UMR - HEALTHCHOICE - DOS ON OR AFTER 01/01/202...,NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
241,38246,6519,2023-04,Established OB 15,26945220,OV,F,KCRHC_PONCA CITY RHC,AETNA,NaN,{},"{3079F=[], 0502F=[], 3008F=[], 81002=[], 3074F...","3079F, 0502F, 3008F, 3074F, 1036F"
248,38245,6519,2023-04,Established OB 15,26759308,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
253,38246,6519,2023-04,Established OB 15,26945206,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
266,38245,6519,2023-04,Established OB 15,26759202,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
288,38246,6519,2023-04,Established OB 15,26942570,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{0502F=[], 81002=[], 90636=[], 1034F=[]}","0502F, 1034F"
295,38246,6519,2023-04,Established OB 15,26940257,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OKLAHOMA,NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 85025...","0502F, 3008F, 1036F"
373,38245,6519,2023-04,Established OB 15,26759271,OV,F,KCRHC_PONCA CITY RHC,UMR - UNITED HEALTHCARE (PPO),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
375,38245,6519,2023-04,Established OB 15,27575484,OV,F,KCRHC_PONCA CITY RHC,MEDICAID-OK (MEDICAID),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"
430,38246,6519,2023-04,Established OB 15,26942587,OV,F,KCRHC_PONCA CITY RHC,BCBS-MA: BCBS (PPO),NaN,{},"{0502F=[], 3008F=[], 59425=[], 3074F=[], 90636...","0502F, 3008F, 3074F, 3078F, 1036F"
459,38246,6519,2023-04,Established OB 15,27602035,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OKLAHOMA,NaN,{},"{0502F=[], 3008F=[], 59425=[], 90636=[], 3078F...","0502F, 3008F, 1036F, 3078F, 3075F"
476,38245,6519,2023-04,Established OB 15,26759259,OV,F,KCRHC_PONCA CITY RHC,IHS/PRC/FI,NaN,{},"{59426=[], 0502F=[], 90636=[], 1036F=[]}","0502F, 1036F"
486,38246,6519,2023-04,Established OB 15,26942597,OV,F,KCRHC_PONCA CITY RHC,BCBS-OK: BCBS OF OK (PPO),NaN,{},"{59426=[], 0502F=[], 3008F=[], 90636=[], 1036F...","0502F, 3008F, 1036F"

In [79]:
df7[~df7.EANDM_Final.isna()][cols_to_use]

Empty DataFrame
Columns: [physicianId, userId, month, visitType, accountNumber, placeOfService, gender, pointOfCare, payor, EANDM_Final, EANDM_Suggested, CPT_Suggested, CPT_Final]
Index: []

In [80]:
# df9[cols_to_use]

In [81]:
df7.EANDM_Final.value_counts()

Series([], Name: EANDM_Final, dtype: int64)

In [82]:
df7.groupby(['visitType','pointOfCare']).apply(get_accuracy, 'EANDM').sort_values(['f1','EANDM_rejected'],ascending=[True,False]).reset_index()

,visitType,pointOfCare,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
0,Established OB 15,KCRHC_PONCA CITY RHC,21,0,0,0,0,1,1,1

In [83]:
# new_df.sort_values('EANDM_rejected', ascending=False).reset_index()

In [84]:
visitTypes_to_ignore = ['VNG', 'FNA', 'Cochlear Implant 60', 'CLINIC Hearing Evaluation (30','Hearing Test','*Nurse Visit','*Procedure 15','Physical: Sports 15','Botox',]
# physicianIds_to_ignore = [28480,28485,10569]
# visitTypes_to_ignore = []
# df1 = pep_df[~pep_df.physicianId.isin(physicianIds_to_ignore)]
get_accuracy(pep_df[~pep_df.visitType.isin(visitTypes_to_ignore)], 'EANDM')
# get_accuracy(pep_df[~pep_df.physicianId.isin(physicianIds_to_ignore)], 'EANDM')

encounters        496.000000
EANDM_accepted    116.000000
EANDM_rejected    252.000000
EANDM_added       236.000000
EANDM_billed      352.000000
precision           0.315217
recall              0.329545
f1                  0.322222
dtype: float64

In [85]:
# df1 = pep_df[pep_df.physicianId.isin(physicianIds_to_ignore)].visitType.value_counts()

In [86]:
get_accuracy(pep_df, 'EANDM')

encounters        496.000000
EANDM_accepted    116.000000
EANDM_rejected    252.000000
EANDM_added       236.000000
EANDM_billed      352.000000
precision           0.315217
recall              0.329545
f1                  0.322222
dtype: float64

In [87]:
pep_df = pep_df[~pep_df.visitType.isin(visitTypes_to_ignore)]

In [88]:
# pep_df[pep_df.pointOfCare=='ENT_MERIT HEALTH ENT'].groupby(['visitType']).apply(get_accuracy, 'EANDM').sort_values('f1').reset_index()

In [90]:
pep_df.groupby(['payor']).apply(get_accuracy, 'EANDM').sort_values('EANDM_rejected',ascending=False).reset_index().head(15)

,payor,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
0,MEDICAID-OK (MEDICAID),142.0,31.0,59.0,83.0,114.0,0.344444,0.271930,0.303922
1,MEDICARE B-OK: NOVITAS SOLUTIONS - OKLAHOMA,77.0,16.0,54.0,37.0,53.0,0.228571,0.301887,0.260163
2,BCBS-OK: BCBS OF OK (PPO),64.0,16.0,29.0,21.0,37.0,0.355556,0.432432,0.390244
3,UNITED HEALTHCARE (MEDICARE REPLACEMENT/ADVANT...,28.0,6.0,19.0,13.0,19.0,0.240000,0.315789,0.272727
4,HUMANA (MEDICARE REPLACEMENT/ADVANTAGE - PPO),28.0,4.0,14.0,12.0,16.0,0.222222,0.250000,0.235294
5,MEDICAID-OK: OKLAHOMA HEALTH CARE AUTHORITY,19.0,4.0,8.0,13.0,17.0,0.333333,0.235294,0.275862
6,BCBS-OK: BCBS OKLAHOMA,17.0,6.0,8.0,7.0,13.0,0.428571,0.461538,0.444444
7,UMR - HEALTHCHOICE - DOS ON OR AFTER 01/01/202...,18.0,6.0,7.0,7.0,13.0,0.461538,0.461538,0.461538
8,OPTUM - VA COMMUNITY CARE NETWORK (VA CCN),9.0,2.0,5.0,7.0,9.0,0.285714,0.222222,0.250000
9,BCBS-TX: BCBS OF TX (PPO),6.0,2.0,4.0,2.0,4.0,0.333333,0.500000,0.400000
10,UHC - MEDICARE COMPLETE (MEDICARE REPLACEMENT ...,5.0,0.0,4.0,5.0,5.0,0.000000,0.000000,0.000000
11,UNITED HEALTHCARE,8.0,0.0,3.0,3.0,3.0,0.000000,0.000000,0.000000
12,AETNA (POS),4.0,2.0,2.0,1.0,3.0,0.500000,0.666667,0.571429
13,BCBS-OK: OUT OF STATE - BLUE CARD,2.0,0.0,2.0,2.0,2.0,0.000000,0.000000,0.000000
14,UNITEDHEALTH SHARED SERVICES - GEHA - UNITED H...,2.0,0.0,2.0,1.0,1.0,0.000000,0.000000,0.000000

In [91]:
pep_df.columns

Index(['id', 'physicianId', 'serviceDate', 'processingDate', 'admissionDate',
       'userId', 'processId', 'lastCodingDate', 'month', 'visitType',
       'placeOfService', 'accountId', 'facilityCode', 'facilityName',
       'accountNumber', 'gender', 'pointOfCare', 'visitType.1',
       'placeOfService.1', 'patientClass', 'patientType', 'serviceLine',
       'financialClass', 'payor', 'encDocIds', 'encDocTypes', 'refDocIds',
       'refDocTypes', 'refCodes', 'CM_Final', 'CM_Accepted', 'CM_Rejected',
       'CM_Added', 'CM_Suggested', 'CM_Accepted_Count', 'CM_Rejected_Count',
       'CM_Added_Count', 'CPT_Final', 'CPT_Accepted', 'CPT_Rejected',
       'CPT_Added', 'CPT_Suggested', 'CPT_Accepted_Count',
       'CPT_Rejected_Count', 'CPT_Added_Count', 'EANDM_Final',
       'EANDM_Accepted', 'EANDM_Rejected', 'EANDM_Added', 'EANDM_Suggested',
       'EANDM_Accepted_Count', 'EANDM_Rejected_Count', 'EANDM_Added_Count',
       'HCPCS_Final', 'HCPCS_Accepted', 'HCPCS_Rejected', 'HCPCS_Added',
       'HCPCS_Suggested', 'HCPCS_Accepted_Count', 'HCPCS_Rejected_Count',
       'HCPCS_Added_Count'],
      dtype='object')

In [92]:
df4 = df[(df.CPT_Final.str.contains('57456')) | (df.CPT_Final.str.contains('58301'))]

In [93]:
df4.EANDM_Final.value_counts()

Series([], Name: EANDM_Final, dtype: int64)

In [94]:
df4.groupby(['visitType','payor']).apply(get_accuracy, 'EANDM').sort_values('EANDM_billed',ascending=False).reset_index()

/tmp/ipykernel_74486/376999686.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df4.groupby(['visitType','payor']).apply(get_accuracy, 'EANDM').sort_values('EANDM_billed',ascending=False).reset_index()

KeyError: 'EANDM_billed'

In [69]:
df5 = df[df.visitType.str.contains('Botox')]

In [70]:
df4.shape

(78, 61)

In [71]:
df6 = pd.concat([df4[cols_to_use],df5[cols_to_use]])

In [72]:
df6.shape

(159, 13)

In [73]:
df6 = df6.drop_duplicates()

In [74]:
df6

,physicianId,userId,month,visitType,accountNumber,placeOfService,gender,pointOfCare,payor,EANDM_Final,EANDM_Suggested,CPT_Suggested,CPT_Final
92,18759,4983,2023-03,IUD Removal 10,68546381,OV,F,POR_COMPREHENSIVE WOMENS HEALTHCARE_PUNTA GORDA,BCBS-FL: BLUE OPTIONS (PPO),NaN,{99212=[]},"{58301=[], 3008F=[], 1036F=[]}","58301, 3008F, 1036F"
230,18952,5317,2023-03,Procedures 20,69940392,OV,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,SUNSHINE STATE HEALTH PLAN (MEDICAID REPLACEME...,99212 = [25-Sig/Sep ID E&M Same Pro/Day],{99213=[]},"{3079F=[], 58301=[], 3008F=[], 3074F=[], 1036F...",58301
1062,18713,5924,2023-03,*New Patient 15,69411222,OV,F,POR_COMPREHENSIVE WOMEN'S HEALTH CARE_NORTH PORT,BCBS-FL: BLUE OPTIONS (PPO),99386,{99386=[]},"{3008F=[], 58301=[], 1036F=[]}",58301
1098,18713,5924,2023-03,Annual Gyn. Exam 15,69411263,OV,F,POR_COMPREHENSIVE WOMEN'S HEALTH CARE_NORTH PORT,UNITED HEALTHCARE,99396 = [25-Sig/Sep ID E&M Same Pro/Day],{99396=[]},"{3008F=[], 58301=[], 1036F=[]}",58301
1336,18691,4983,2023-03,Annual - Established,68469786,OV,F,POR_COMPREHENSIVE WOMENS HEALTHCARE_PUNTA GORDA,SUNSHINE STATE HEALTH PLAN (MEDICAID REPLACEME...,NaN,{99212=[]},"{3008F=[], 58301=[], 1036F=[]}",58301
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3949,18682,5324,2023-02,Botox,67814914,OV,F,POR_NEUROLOGY ASSOC OF CHARLOTTE COUNTY,AETNA - ELECT CHOICE (EPO),NaN,{99212=[]},{64616=[]},64616
3950,18682,5324,2023-02,Botox,67814915,OV,F,POR_NEUROLOGY ASSOC OF CHARLOTTE COUNTY,CIGNA HEALTHCARE (PPO),NaN,{99213=[]},{64615=[]},64615
4061,18682,4015,2023-02,Botox,67814917,OV,F,POR_NEUROLOGY ASSOC OF CHARLOTTE COUNTY,AETNA (MEDICARE REPLACEMENT HMO),NaN,{99212=[]},"{1036F=[], 64615=[]}",64615
4069,18682,4015,2023-02,Botox,67813204,OV,F,POR_NEUROLOGY ASSOC OF CHARLOTTE COUNTY,UMR - UNITED HEALTHCARE,NaN,{99212=[]},{64615=[]},64615
4070,18682,4015,2023-02,Botox,68380954,OV,F,POR_NEUROLOGY ASSOC OF CHARLOTTE COUNTY,BCBS-FL: BLUE OPTIONS (PPO),NaN,{99212=[]},"{64615=[], 1036F=[]}",64615

In [75]:
cols_to_use = ['physicianId', 'userId', 'month', 'visitType','accountNumber',
       'placeOfService', 'gender', 'pointOfCare','payor', 'EANDM_Final', 'EANDM_Suggested','CPT_Final']
pep_df[pep_df.userId==6000][cols_to_use].T

Empty DataFrame
Columns: []
Index: [physicianId, userId, month, visitType, accountNumber, placeOfService, gender, pointOfCare, payor, EANDM_Final, EANDM_Suggested, CPT_Final]

In [76]:
df5.EANDM_Final.value_counts()

Series([], Name: EANDM_Final, dtype: int64)

In [77]:
for facility in pep_df.facilityCode.unique():
    temp = pep_df[pep_df.facilityCode==facility]
    print(facility)
    display(temp.groupby('visitType').apply(get_accuracy, 'EANDM').sort_values('EANDM_rejected', ascending=False).reset_index())
    print()

4692

,visitType,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
0,*Follow-up 10,828.0,450.0,255.0,215.0,665.0,0.638298,0.676692,0.656934
1,Established GYN 15,758.0,513.0,227.0,216.0,729.0,0.693243,0.703704,0.698434
2,Established Patient 15,707.0,494.0,213.0,208.0,702.0,0.698727,0.703704,0.701207
3,*New Patient 15,600.0,380.0,200.0,214.0,594.0,0.655172,0.639731,0.647359
4,*New Patient 10,627.0,453.0,174.0,161.0,614.0,0.722488,0.737785,0.730056
...,...,...,...,...,...,...,...,...,...
148,Post op 20,34.0,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000
149,Post op 10,423.0,0.0,0.0,31.0,31.0,0.000000,0.000000,0.000000
150,Follow Up Complex,5.0,5.0,0.0,0.0,5.0,1.000000,1.000000,1.000000
151,Hospital Follow UP,2.0,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000
152,Established OB - Sick,2.0,1.0,0.0,1.0,2.0,1.000000,0.500000,0.666667

In [78]:
for facility in pep_df.facilityCode.unique():
    temp = pep_df[pep_df.facilityCode==facility]
    print(facility)
    display(temp.groupby('visitType').apply(get_accuracy, 'EANDM').sort_values('EANDM_rejected', ascending=False).reset_index())
    print()

4692

,visitType,encounters,EANDM_accepted,EANDM_rejected,EANDM_added,EANDM_billed,precision,recall,f1
0,*Follow-up 10,828.0,450.0,255.0,215.0,665.0,0.638298,0.676692,0.656934
1,Established GYN 15,758.0,513.0,227.0,216.0,729.0,0.693243,0.703704,0.698434
2,Established Patient 15,707.0,494.0,213.0,208.0,702.0,0.698727,0.703704,0.701207
3,*New Patient 15,600.0,380.0,200.0,214.0,594.0,0.655172,0.639731,0.647359
4,*New Patient 10,627.0,453.0,174.0,161.0,614.0,0.722488,0.737785,0.730056
...,...,...,...,...,...,...,...,...,...
148,Post op 20,34.0,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000
149,Post op 10,423.0,0.0,0.0,31.0,31.0,0.000000,0.000000,0.000000
150,Follow Up Complex,5.0,5.0,0.0,0.0,5.0,1.000000,1.000000,1.000000
151,Hospital Follow UP,2.0,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000
152,Established OB - Sick,2.0,1.0,0.0,1.0,2.0,1.000000,0.500000,0.666667

In [79]:
confusion_matrix = pd.crosstab(pep_df.EANDM_Final.astype(str), pep_df.EANDM_Suggested.astype(str))
confusion_matrix

EANDM_Suggested,"[99202, 99212]",[99202],"[99203, 99213]",[99203],"[99204, 99214]",[99204],[99205],"[99212, 99202]",[99212],"[99213, 99203]",...,[99394],"[99395, 99385]",[99395],"[99396, 99386]",[99396],"[99397, 99387]",[99397],[99442],[99443],[]
EANDM_Final,,,,,,,,,,,,,,,,,,,,,
"[99202, 99385]",0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99202],0,278,0,9,0,6,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
"[99203, 99386]",0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99203],0,173,1,650,0,98,1,0,5,0,...,0,0,0,0,0,0,1,0,0,3
"[99204, 99231]",0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99204, 99386]",0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99204],0,73,16,154,7,329,1,0,2,0,...,0,0,0,0,0,0,0,0,0,20
[99205],0,0,0,1,0,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99211],0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
[99212],0,3,0,4,0,0,0,2,754,0,...,0,0,0,0,0,0,1,0,0,118
"[99213, 99396]",0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99213, 99407]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99213],2,22,0,19,0,7,0,0,681,7,...,0,0,2,0,0,0,7,0,0,452
"[99214, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99214, 99396]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99214],0,0,0,4,0,4,0,0,71,0,...,0,0,0,0,0,0,0,0,0,63
[99215],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99384],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99385, 99203]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99385, 99204]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99385, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99385, 99214]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99385],0,1,0,5,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
"[99386, 99202]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99386, 99203]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99386, 99204]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99386, 99212]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99386, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99386],0,4,0,3,0,2,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
"[99387, 99212]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"[99387, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99387],0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99394],0,0,0,0,0,0,0,0,0,0,...,15,0,0,0,0,0,0,0,0,0
"[99395, 99212]",0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
"[99395, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,3,36,0,0,0,0,0,0,0
"[99395, 99214]",0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
[99395],0,0,0,0,0,0,0,0,1,0,...,0,43,402,0,0,0,0,0,0,0
"[99396, 99212]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
"[99396, 99213]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,4,18,0,0,0,0,0
"[99396, 99214]",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
[99396],0,0,0,1,0,0,0,0,0,0,...,0,0,0,56,557,0,0,0,0,0
[99397],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,52,0,0,0
[99441],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[99442],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
[99443],0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
[],8,45,21,30,0,10,0,0,407,0,...,0,2,8,0,22,4,103,0,0,1670

In [80]:
# from itertools import zip_longest

# def grouper(iterable, n, fillvalue=None):
#     args = [iter(iterable)] * n
#     return zip_longest(*args, fillvalue=fillvalue)

# # for x in grouper('ABCDEFG', 3, 'x'):
# #     print(x)
    
# def chunker(seq, size):
#     return (seq[pos:pos + size] for pos in range(0, len(seq), size))

# for col in chunker(confusion_matrix.columns, 5):
#     # print(list(col))
#     print(col)
#     display(confusion_matrix[list(col)])
#     print()

In [81]:
confusion_matrix.style.background_gradient(cmap='YlGnBu', vmin=-5, vmax=16.5)

In [82]:
req_columns = ['accountNumber', 'gender', 'pointOfCare', 'visitType']
pep_df[(pep_df.EANDM_Suggested.astype(str)=='[99213, 99203]') & (pep_df.EANDM_Final.astype(str)=='[99213]')][req_columns+['EANDM_Suggested', 'EANDM_Final']]
# pep_df[(pep_df.EANDM_Suggested.astype(str)=='[99202, 99212]')][req_columns+['EANDM_Suggested', 'EANDM_Final']]

,accountNumber,gender,pointOfCare,visitType,EANDM_Suggested,EANDM_Final
211,68451994,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,Annual Visit 20,"[99213, 99203]",[99213]
273,68452007,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,Annual Visit 20,"[99213, 99203]",[99213]
166,67706946,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,Annual Visit 20,"[99213, 99203]",[99213]
2449,69268511,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,Post Partum 20,"[99213, 99203]",[99213]
3005,68451488,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,New OB 20,"[99213, 99203]",[99213]
768,69461217,F,POR_RHC_COMPREHENSIVE,Established GYN 45,"[99213, 99203]",[99213]
3037,68451894,F,BRO_BAYFRONT HEALTH MEDICAL GROUP OB/GYN,Annual Visit 20,"[99213, 99203]",[99213]

In [83]:
def get_proper(x):
    if 99223 in x and (99238 in x or 99281 in x or 99283 in x or 99284 in x):
        return [99223]
    elif 99292 in x:
        return [99292]
    elif 99285 in x:
        return [99285]
    elif 99291 in x and (99283 in x or 99284 in x):
        return [99291]
    elif 99284 in x and (99283 in x or 99282 in x):
        return [99284]
    if 99418 in x:
        x.remove(99418)
    return x
pep_df.EANDM_Final.apply(get_proper).value_counts()

[99213]           2993
[]                2770
[99203]            971
[99214]            943
[99212]            942
[99204]            625
[99396]            619
[99395]            449
[99386]            300
[99202]            296
[99385]            158
[99397]             55
[99395, 99213]      40
[99387]             24
[99215]             24
[99396, 99213]      22
[99386, 99203]      21
[99394]             17
[99386, 99213]      16
[99385, 99203]      11
[99385, 99213]       6
[99205]              6
[99387, 99213]       3
[99443]              3
[99442]              2
[99396, 99212]       2
[99213, 99396]       2
[99211]              2
[99202, 99385]       1
[99386, 99212]       1
[99395, 99212]       1
[99387, 99212]       1
[99441]              1
[99384]              1
[99214, 99396]       1
[99204, 99386]       1
[99203, 99386]       1
[99385, 99204]       1
[99386, 99204]       1
[99396, 99214]       1
[99213, 99407]       1
[99204, 99231]       1
[99395, 99214]       1
[99386, 99202]       1
[99385, 99214]       1
[99214, 99213]       1
Name: EANDM_Final, dtype: int64

In [84]:
pep_df.EANDM_Suggested.apply(get_proper).value_counts()

[]                2327
[99213]           2033
[99212]           1924
[99214]           1013
[99203]            884
[99396]            602
[99202]            599
[99204]            459
[99395]            451
[99386]            351
[99385]            183
[99397]            164
[99387]            105
[99396, 99386]      61
[99395, 99385]      48
[99203, 99213]      38
[99215]             17
[99394]             15
[99214, 99204]      11
[99202, 99212]      10
[99213, 99203]       7
[99204, 99214]       7
[99397, 99387]       7
[99205]              7
[99386, 99396]       6
[99443]              3
[99442]              2
[99384]              2
[99212, 99202]       2
[99394, 99384]       1
[99385, 99395]       1
Name: EANDM_Suggested, dtype: int64

In [43]:
pd.crosstab(pep_df.EANDM_Final.apply(get_proper).astype(str), 
            pep_df.EANDM_Suggested.apply(get_proper).astype(str)).style.background_gradient(cmap='YlGnBu', vmin=-5, vmax=16.5)

TypeError: argument of type 'float' is not iterable

In [44]:
type(pep_df.EANDM_Final[0])

pandas.core.series.Series

In [ ]:
pep_df[pep_df.EANDM_Final.astype(str)=='[99223]'][req_columns]

In [ ]:
# df_accuracy_prev = df[df.serviceDate<'2023-01-01'].groupby(['facilityName', 'month']).apply(get_accuracy, codetype='CPT').reset_index()
# df_accuracy_new = df[df.serviceDate>='2023-01-01'].groupby(['facilityName', 'month']).apply(get_accuracy, codetype='CPT').reset_index()

In [ ]:
df_accuracy_new.head(30)

In [ ]:
df_accuracy_prev.head(30)

In [ ]:
def get_difference(data_df, codetype):
    
    d = OrderedDict()
    
    if data_df.shape[0]==2:
        jan = data_df[data_df.month=='2023-01'].iloc[0].to_dict()
        feb = data_df[data_df.month=='2023-02'].iloc[0].to_dict()
    
        d['diff_precision'] = feb['precision'] - jan['precision']
        d['diff_recall'] = feb['recall'] - jan['recall']
        d['diff_f1'] = feb['f1'] - jan['f1']
    
    else:
        d['diff_precision'] = 0.0
        d['diff_recall'] = 0.0
        d['diff_f1'] = 0.0

    return pd.Series(d)
                                                     
df_diff = df_accuracy.groupby('facilityName').apply(get_difference, codetype='CPT')

In [ ]:
df_accuracy[df_accuracy.facilityName=='NORTHWEST HEALTH-FAYETTEVILLE FSED']

In [ ]:
df.columns

In [ ]:
get_accuracy(df[df.month=='2023-01'], codetype='CPT')

In [ ]:
get_accuracy(df[df.month=='2023-02'], codetype='CPT')

In [ ]:
excluded_facilities = [
    'NORTHWEST HEALTH-FAYETTEVILLE FSED',
    'JASPER MEMORIAL HOSPITAL',
    'INDIAN PATH COMMUNITY HOSPITAL - PEDS',
    'HANCOCK COUNTY HOSPITAL - ICP',
    'THOREK MEMORIAL HOSPITAL-ANDERSONVILLE',
    'BIENVILLE MEDICAL CENTER',
]
# THOREK MEMORIAL HOSPITAL, HANCOCK COUNTY HOSPITAL - ICP, BAPTIST MEMORIAL HOSPITAL YAZOO - ICP,
# DICKENSON COMMUNITY HOSPITAL-ICP, BAPTIST MEMORIAL HOSPITAL CALHOUN - ICP,
# WINN PARISH MEDICAL CENTER, BIENVILLE MEDICAL CENTER, BRISTOL REGIONAL MEDICAL CENTER PEDS,

In [ ]:
get_accuracy(df[(df.month=='2023-02') & ~(df.facilityName.isin(excluded_facilities))], codetype='CPT')

In [ ]:
for name in df_diff.sort_values(['diff_precision'], ascending=[True]).reset_index().facilityName:
    print(df[df.facilityName==name].facilityCode.iloc[0])
    display(df_accuracy[df_accuracy.facilityName==name])
    print()

In [ ]:
for col in ['physicianId', 'userId', 'visitType', 'gender', 'pointOfCare', 'visitType.1', 'placeOfService.1', 
                'patientType', 'serviceLine', 'financialClass', 'payor']:
    print(col)        
    display(df[col].value_counts().reset_index())

In [ ]:
for name in df_diff.sort_values(['diff_precision'], ascending=[True]).reset_index().facilityName:
# for name in ['PIEDMONT CARTERSVILLE MEDICAL CENTER']:
    temp = df[df.facilityName==name]
    print(get_accuracy(temp[temp.month=='2023-01'], codetype='CPT'))
    print(get_accuracy(temp[temp.month=='2023-02'], codetype='CPT'))
    print(name)
    for col in ['physicianId', 'userId', 'processId', 'gender', 'financialClass', 'payor']:
        print(col)        
        display(temp[temp.month=='2023-01'][col].value_counts().reset_index())
        display(temp[temp.month=='2023-02'][col].value_counts().reset_index())
        print()
    print()
    print('----------------------------------------------------------')
    print()

In [ ]:
temp = df
get_accuracy(temp[(temp.facilityCode==1395) 
       & (temp.month=='2023-01')
           & (temp.serviceDate.str.contains('2023', na=False))
                 ], codetype='CPT')

In [ ]:
temp = df
get_accuracy(temp[(temp.facilityCode==1395) 
       & (temp.month=='2023-01')
           & (temp.serviceDate.str.contains('2022', na=False))
                 ], codetype='CPT')

In [ ]:
temp = df
get_accuracy(temp[(temp.facilityCode==1395) 
       & (temp.month=='2023-02')
           & (temp.serviceDate.str.contains('2023', na=False))
                 ], codetype='CPT')

In [ ]:
for eandmcode in ['99283', '99284', '99285', '99291']:
    print(eandmcode)
    temp = df[df.EANDM_Final.str.contains(eandmcode, na=False)]
    temp[(temp.facilityCode==1395) 
       & (temp.month=='2023-01') 
       & (temp.CPT_Suggested.str.contains('93010', na=False)) 
        & ~(temp.CPT_Final.str.contains('93010', na=False)) 
           & (temp.serviceDate.str.contains('2023', na=False)) 
       # & (df.EANDM_Final.str.contains('99282', na=False))
       # & (temp.refDocTypes.str.contains('EKG', na=False))
      ].sort_values('serviceDate').payor.value_counts().reset_index().apply(applytab, axis=1)
    # [['userId', 'processId', 'serviceDate', 'month', 'accountNumber',  'CPT_Final', 'CPT_Suggested', 'EANDM_Final', 'EANDM_Suggested']].apply(applytab,axis=1)
    print()
    print()

In [ ]:
for eandmcode in ['99283', '99284', '99285', '99291']:
    print(eandmcode)
    temp = df[df.EANDM_Final.str.contains(eandmcode, na=False)]
    temp[(temp.facilityCode==1395) 
       & (temp.month=='2023-01') 
       & (temp.CPT_Suggested.str.contains('93010', na=False)) 
       & (temp.CPT_Final.str.contains('93010', na=False)) 
         & (temp.serviceDate.str.contains('2023', na=False)) 
       # & (df.EANDM_Final.str.contains('99282', na=False))
       # & (temp.refDocTypes.str.contains('EKG', na=False))
      ].sort_values('serviceDate').payor.value_counts().reset_index().apply(applytab, axis=1)
    # [['userId', 'processId', 'serviceDate', 'month', 'accountNumber',  'CPT_Final', 'CPT_Suggested', 'EANDM_Final', 'EANDM_Suggested']].apply(applytab,axis=1)
    print()
    print()

In [ ]:
df[df.accountNumber==87340850][['userId', 'processId', 'serviceDate', 'month', 'accountNumber',  'CPT_Final', 'CPT_Suggested', 'EANDM_Final', 'EANDM_Suggested']]

In [ ]:
pd.crosstab(temp.EANDM_Suggested, temp.EANDM_Final).reset_index().T.reset_index().T.apply(applytab, axis=1);

In [ ]:
temp = df[(df.facilityCode==1395) 
       & (df.month=='2023-02')]

def get_new_counts(row):
    d = row.to_dict()
    if '99285' in row['EANDM_Suggested']:
        if '93010' in row['CPT_Accepted']:
            # display(row[['CPT_Final', 'EANDM_Final', 'EANDM_Suggested']])
            d['CPT_Accepted_Count'] -= 1
            d['CPT_Added_Count'] += 1
        elif '93010' in row['CPT_Rejected']:
            d['CPT_Rejected_Count'] -= 1
            
    return pd.Series(d)

temp_new_counts = temp.apply(get_new_counts,axis=1)

In [ ]:
temp.EANDM_Suggested.value_counts()

In [ ]:
temp.EANDM_Final.value_counts()

In [ ]:
display(get_accuracy(temp, codetype='CPT'))
display(get_accuracy(temp_new_counts, codetype='CPT'))