In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/trishalaswain/Downloads/SCP_1240/SCP_1240_DATA.xlsx', sep='\t')

In [3]:
df

,dpd_id,account_number,DIAGNOSTIC_PROCEDURE_SENTENCES,COURSE_SENTENCES,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,10554608,88930867,Results for orders placed or performed during ...,ED CourseProceduresProblem List as of 5/25/202...,NaN,NaN,NaN
1,10391161,89297481,Results for orders placed or performed during ...,External Documents Reviewed: None / See ED Cou...,NaN,NaN,NaN
2,10755429,88854484,Imaging ResultsNoneVital Signs:Patient Vitals ...,Additional Historians: None / See ED CourseExt...,NaN,NaN,NaN
3,11161304,89651846,Results for orders placed or performed during ...,"Please see my notable chief complaint, history...",NaN,NaN,NaN
4,10385982,89297396,Imaging ResultsNoneVital Signs:Patient Vitals ...,"Please see my notable chief complaint, history...",NaN,NaN,NaN
...,...,...,...,...,...,...,...
4542,10490839,89313568,"Imaging ResultsXR Ankle Complete min 3 views, ...",Additional Historians: None / See ED CourseExt...,NaN,NaN,NaN
4543,10597701,89389088,Labs ReviewedROUTINE CULTURE URINECBC WITH DIF...,ED CourseGlasgow Coma ScaleEye Opening: Sponta...,NaN,NaN,NaN
4544,10210588,89203884,Results for orders placed or performed during ...,ED CourseED Course as of 06/20/23 1729Sun Jun ...,NaN,NaN,NaN
4545,10755621,88930865,Imaging ResultsCT Chest Without IV Contrast (P...,Additional Historians: None / See ED CourseExt...,NaN,NaN,NaN
4546,10755504,88835914,Imaging ResultsXR Chest PA & Lateral (Final re...,Additional Historians: None / See ED CourseExt...,NaN,NaN,NaN

In [ ]:
df = pd.read_csv('/home/trishalaswain/Downloads/SCP_1240/SCP_1240_DATA.csv', index_col=False, sep='\t', lineterminator='\n', error_bad_lines=False)

In [ ]:
df.to_excel

In [ ]:
# df = pd.read_csv('/home/trishalaswain/Downloads/1240_Parent/1240_DATA.xlsx',  index_col=False, sep='\t', lineterminator='\n', error_bad_lines=False)

In [ ]:
# df = pd.read_csv("/home/trishalaswain/Downloads/1240_Parent/1240_DATA_2.xlsx",  index_col=False, sep='\t', lineterminator='\n', error_bad_lines=False)

In [ ]:
# df.to_excel('/home/trishalaswain/Downloads/1240_Parent/1240_DATA_2.xlsx', index=False)

In [ ]:
df = pd.read_excel('/home/trishalaswain/Downloads/SCP_4525_MAY_JUN_JUL_Sheet.xlsx', index_col=False)

In [ ]:
df

In [ ]:
df = df.dropna(subset=['lookup'])

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.to_excel('/home/trishalaswain/Downloads/docs_4525_MAY_JUN_JUL_DATA/overall_sheet.xlsx')