In [2]:
import pandas as pd
from sqlalchemy import create_engine
import regex as re
import time
from datetime import datetime
import os
from bs4 import BeautifulSoup

In [35]:
source_folder = r"/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_COMBINED_EMCS/"

In [37]:
df = pd.DataFrame()

In [38]:
df['account_number'] = None
df['final_code'] = None
df['text'] = None

In [43]:
count = 0
for sub1 in os.listdir(source_folder):
    for file in os.listdir(source_folder + '/'+sub1 + "/"):
        if file.endswith('pcs.xml'):
            # print(file)
            
            account_number = file.split('_')[0]
            df.loc[count,'account_number'] = account_number
            final_code = file.split('_')[2]
            df.loc[count,'final_code'] = final_code
            text = ''
            # print(final_code)
            path = str(source_folder +sub1+"/"+ file )
            fd = open(path, 'r')
            xml_file = fd.read()
            soup = BeautifulSoup(xml_file, 'lxml')
            for tag in soup.findAll("sentence"):
                text += tag["senttext"] + '\n'
            df.loc[count,'text'] = text
            count += 1

In [44]:
df

,account_number,final_code,text
0,V00001035548,99284,EMERGENCY DEPT REPORT Site Code: CVMC Name: LO...
1,V00001039788,None,EMERGENCY DEPT REPORT Site Code: CVMC Name: SA...
2,V00001036323,99285,EMERGENCY DEPT REPORT Site Code: CVMC Name: MU...
3,V00001028412,99292,EMERGENCY DEPT REPORT Site Code: CVMC Name: BE...
4,V00001041003,99285,EMERGENCY DEPT REPORT Site Code: CVMC Name: JI...
...,...,...,...
12982,V00001044352,99291,EMERGENCY DEPT REPORT Site Code: CVMC Name: BR...
12983,V00001044161,99284,EMERGENCY DEPT REPORT Site Code: CVMC Name: KH...
12984,V00001034500,99284,EMERGENCY DEPT REPORT Site Code: CVMC Name: LE...
12985,V00001029182,99284,EMERGENCY DEPT REPORT Site Code: CVMC Name: VE...
12986,V00001030618,99284,EMERGENCY DEPT REPORT Site Code: CVMC Name: MA...

In [42]:
df.to_excel('/home/trishalaswain/Downloads/Script_Testing/CHINO_ALL_TEXT_&_OUTPUT.xlsx')