In [199]:
import pandas as pd
import ast
import re

In [200]:
df = pd.read_excel('/home/trishalaswain/ClientData/PH/JULY_1_10_CHINO_overallSheet.xlsx', index_col=False)

In [201]:
df.shape

(746, 65)

In [202]:
df.columns

Index(['id', 'encounter_id', 'physician_id', 'service_date', 'processing_date',
       'admission_date', 'user_id', 'process_id', 'last_coding_date', 'month',
       'enc_visit_type', 'enc_place_of_service', 'account_id', 'client_code',
       'facility_code', 'account_number', 'date_of_birth', 'gender',
       'point_of_care', 'acc_visit_type', 'acc_place_of_service',
       'patient_class', 'patient_type', 'service_line', 'financial_class',
       'payor', 'enc_doc_id', 'enc_doc_type', 'ref_doc_id', 'ref_doc_type',
       'ref_codes', 'cm_final', 'cm_suggested', 'cm_accepted', 'cm_rejected',
       'cm_added', 'cm_accepted_count', 'cm_rejected_count', 'cm_added_count',
       'cpt_final', 'cpt_suggested', 'cpt_accepted', 'cpt_rejected',
       'cpt_added', 'cpt_accepted_count', 'cpt_rejected_count',
       'cpt_added_count', 'eandm_final', 'eandm_suggested', 'eandm_accepted',
       'eandm_rejected', 'eandm_added', 'eandm_accepted_count',
       'eandm_rejected_count', 'eandm_added_count', 'hcpcs_final',
       'hcpcs_suggested', 'hcpcs_accepted', 'hcpcs_rejected', 'hcpcs_added',
       'hcpcs_accepted_count', 'hcpcs_rejected_count', 'hcpcs_added_count',
       'local_suggested', 'local_suggested_2'],
      dtype='object')

In [203]:
df.columns

Index(['id', 'encounter_id', 'physician_id', 'service_date', 'processing_date',
       'admission_date', 'user_id', 'process_id', 'last_coding_date', 'month',
       'enc_visit_type', 'enc_place_of_service', 'account_id', 'client_code',
       'facility_code', 'account_number', 'date_of_birth', 'gender',
       'point_of_care', 'acc_visit_type', 'acc_place_of_service',
       'patient_class', 'patient_type', 'service_line', 'financial_class',
       'payor', 'enc_doc_id', 'enc_doc_type', 'ref_doc_id', 'ref_doc_type',
       'ref_codes', 'cm_final', 'cm_suggested', 'cm_accepted', 'cm_rejected',
       'cm_added', 'cm_accepted_count', 'cm_rejected_count', 'cm_added_count',
       'cpt_final', 'cpt_suggested', 'cpt_accepted', 'cpt_rejected',
       'cpt_added', 'cpt_accepted_count', 'cpt_rejected_count',
       'cpt_added_count', 'eandm_final', 'eandm_suggested', 'eandm_accepted',
       'eandm_rejected', 'eandm_added', 'eandm_accepted_count',
       'eandm_rejected_count', 'eandm_added_count', 'hcpcs_final',
       'hcpcs_suggested', 'hcpcs_accepted', 'hcpcs_rejected', 'hcpcs_added',
       'hcpcs_accepted_count', 'hcpcs_rejected_count', 'hcpcs_added_count',
       'local_suggested', 'local_suggested_2'],
      dtype='object')

In [204]:
df.enc_doc_id = df.enc_doc_id.astype('str')

In [205]:
df = df[~df.enc_doc_id.str.contains(',')]

In [206]:
df.shape

(746, 65)

In [207]:
# new_df = df[~(df.local_output_final=='vlookup_null')]

In [208]:
# new_df.shape

In [209]:
# new_df['lastCodingDate'] = pd.to_datetime(ne}1')]
#  & (df.lastCodingDate<='2023-05-01')

In [210]:
# new_df['serviceDate'] = pd.to_datetime(new_df.serviceDate)
# new_df = new_df[df.serviceDate>='2023-01-01']

In [211]:
# new_df.local_output_final.value_counts()

In [212]:
# new_df.EANDM_Final.value_counts()

In [213]:
# df = new_df.drop(['local_accounts', 'local_output'], axis = 1)

In [214]:
# for i,r in df.iterrows():
#     df.at[i, 'EANDM_Rejected'] = r['EANDM_Rejected'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Added'] = r['EANDM_Added'].replace(']', '').replace('[', '')
#     df.at[i, 'EANDM_Accepted'] = r['EANDM_Accepted'].replace(']', '').replace('[', '')
#     if (df.at[i, 'EANDM_Rejected'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Rejected']
#     else:
#        df.at[i, 'clean_suggested'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Rejected']
    
    
#     if (df.at[i, 'EANDM_Added'] != '') & (df.at[i, 'EANDM_Accepted'] != ''):
#         df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted'] + ', ' + df.at[i, 'EANDM_Added']
#     else:
#        df.at[i, 'clean_final'] = df.at[i, 'EANDM_Accepted']  + df.at[i, 'EANDM_Added']

In [215]:
for i,r in df.iterrows():
    df.at[i, 'eandm_rejected'] = r['eandm_rejected'].replace(']', '').replace('[', '')
    df.at[i, 'eandm_added'] = r['eandm_added'].replace(']', '').replace('[', '')
    df.at[i, 'eandm_accepted'] = r['eandm_accepted'].replace(']', '').replace('[', '')
    if (df.at[i, 'eandm_rejected'] != '') & (df.at[i, 'eandm_accepted'] != ''):
        df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_rejected']
    else:
       df.at[i, 'clean_suggested'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_rejected']
    
    
    if (df.at[i, 'eandm_added'] != '') & (df.at[i, 'eandm_accepted'] != ''):
        df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted'] + ', ' + df.at[i, 'eandm_added']
    else:
       df.at[i, 'clean_final'] = df.at[i, 'eandm_accepted']  + df.at[i, 'eandm_added']

In [216]:
# type(df.at[2,'clean_final'])

In [217]:
# for i,r in df.iterrows():
#     df.loc[i,'EANDM_Suggested_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Suggested']))])
#     df.loc[i,'EANDM_Final_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Final']))])

In [218]:
# df=df[['processingDate', 'serviceDate', 'encDocIds', 'accountNumber', 'EANDM_Suggested', 'EANDM_Final', 'EANDM_Suggested_Code', 'EANDM_Final_Code']]

In [219]:
# df = df.sort_values(by='serviceDate', ascending=False)

In [220]:
df.clean_final.value_counts()

99284           499
99285           135
99283            37
99291            29
99223            28
99284, 99406      4
99223, 99285      3
99406, 99284      3
99282             3
99285, 99406      2
99292, 99291      1
99222, 99285      1
99406, 99223      1
Name: clean_final, dtype: int64

In [221]:
# for i,r in df.iterrows():
#     if str(df.loc[i, 'clean_final']) == '99418, 99223':
#         df.loc[i, 'clean_final'] = '99223'
    
#     if str(df.loc[i, 'clean_final']) == '99284, 99406':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99284, 99406':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99284, 99406':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99284, 99406':
#         df.loc[i, 'clean_final'] = '99284'
#         # 
#     if str(df.loc[i, 'clean_final']) == '99284, 99406':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99285, 99406':
#         df.loc[i, 'clean_final'] = '99285'
        
#     if str(df.loc[i, 'clean_final']) == '99223, 99285':
#         df.loc[i, 'clean_final'] = '99285'
        
#     if str(df.loc[i, 'clean_final']) == '99291, 99406':
#         df.loc[i, 'clean_final'] = '99291'
        
#     if str(df.loc[i, 'clean_final']) == '99284, 99222':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99283, 99406':
#         df.loc[i, 'clean_final'] = '99283'
        
#     if str(df.loc[i, 'clean_final']) == '99292, 99223':
#         df.loc[i, 'clean_final'] = '99292'
        
#     if str(df.loc[i, 'clean_final']) == '99223, 99284':
#         df.loc[i, 'clean_final'] = '99284'
        
#     if str(df.loc[i, 'clean_final']) == '99292, 99291, 99406':
#         df.loc[i, 'clean_final'] = '99292, 99291'
        
#     if str(df.loc[i, 'clean_final']) == '99285, 99213':
#         df.loc[i, 'clean_final'] = '99285'
        
#     if str(df.loc[i, 'clean_final']) == '99223, 99239':
#         df.loc[i, 'clean_final'] = '99223'
        
#     if str(df.loc[i, 'clean_suggested']) == '99223':
#         df.loc[i, 'clean_suggested'] = '99285'
        
#     if str(df.loc[i, 'clean_suggested']) == '99222':
#         df.loc[i, 'clean_suggested'] = '99284'

#     if str(df.loc[i, 'clean_suggested']) == '99221':
#         df.loc[i, 'clean_suggested'] = '{No Code}'
        
#     if str(df.loc[i, 'clean_suggested']) == '99292, 99291':
#         df.loc[i, 'clean_suggested'] = '99291, 99292'

#     if str(df.loc[i, 'local_output_final']) == '99223':
#         df.loc[i, 'local_output_final'] = '99285'
        
#     if str(df.loc[i, 'local_output_final']) == '99222':
#         df.loc[i, 'local_output_final'] = '99284'

#     if str(df.loc[i, 'local_output_final']) == '99221':
#         df.loc[i, 'local_output_final'] = '{No Code}'
        
#     if str(df.loc[i, 'local_output_final']) == '99292, 99291':
#         df.loc[i, 'local_output_final'] = '99291, 99292'

In [222]:
# df.local_output_final.value_counts()

In [223]:
# df.clean_final.value_counts()

In [224]:
# df[df.EANDM_Final_Code.str.contains('99285,99223')]

In [225]:
# df.shape

In [226]:
# df = df[df.lastCodingDate>='2023-04-15']

In [227]:
# df_fac['accepted'] = 0
# df_fac['rejected'] = 0
# df_fac['added'] = 0
# df_fac['precision'] = 0
# df_fac['recall'] = 0
# df_fac['f1_score'] = 0

In [228]:
# df_fac.drop_duplicates(['facility_code'], inplace=True)

In [229]:
# df_fac.reset_index(inplace=True)

In [230]:
# df_fac

In [231]:
df.shape

(746, 67)

In [263]:
def get_counts(x):
    
    suggested = str(x['local_suggested_2'])
    final = str(x['clean_final'])
    
    if suggested != '':
        suggested_set = set(suggested.split(', '))
        final_set = set(final.split(', '))
        # if '99406' in suggested:
        #     suggested_set.remove('99406')
            # final_set.clear()
        if '9' not in final:
            final_set.clear()
        # if '99221' in suggested:
            # suggested_set.remove('99221')
            # suggested_set.clear()
        
        
    
        accepted = len(suggested_set.intersection(final_set))
        rejected = len(suggested_set - final_set)
        added = len(final_set - suggested_set)
        # if (rejected >= 1 or added >= 1):
        #     print('rejected',rejected)
        #     print('added',added)
        #     print('suggested_set',suggested_set,'\t final_set',final_set)
        #     print('accountNumber', str(x['sheet_accounts']))
            
    # for index, row in df_fac.iterrows():
    #     if (str(row['facility_code']) == str(x['facility_code'])):
    #         old_accepted = df_fac.loc[index,'accepted']
    #         df_fac.at[index,'accepted'] =  old_accepted + accepted
    #         # print('adding', accepted)
    #         old_added = df_fac.loc[index,'added']
    #         df_fac.at[index,'added'] = old_added+ added
    #         old_rejected = df_fac.loc[index,'rejected']
    #         df_fac.at[index,'rejected'] = old_rejected+ rejected

        return pd.Series({'accepted':accepted, 'rejected':rejected, 'added':added})

In [264]:
# df

In [265]:
count_df =  df.apply(get_counts, axis=1)
# def get_accuracy()

In [266]:
# for i,r in df.iterrows():
#     get_counts(r,df_fac)

In [267]:
count_df

     accepted  rejected  added
0           1         0      0
1           1         0      0
2           1         0      0
3           0         1      1
4           1         0      0
..        ...       ...    ...
741         1         0      0
742         1         0      0
743         0         1      1
744         1         0      0
745         1         0      0

[746 rows x 3 columns]

In [268]:
df2 = pd.concat([df, count_df], axis = 1)

In [269]:
df2.reindex()

,id,encounter_id,physician_id,service_date,processing_date,admission_date,user_id,process_id,last_coding_date,month,...,hcpcs_accepted_count,hcpcs_rejected_count,hcpcs_added_count,local_suggested,local_suggested_2,clean_suggested,clean_final,accepted,rejected,added
0,11909516,8141564,19670,2023-06-02 00:00:00,2023-07-02 05:05:51,2023-06-02 17:19:00,6248,1,2023-07-04 16:12:27,2023-07,...,0,0,0,99284,99284,99284,99284,1,0,0
1,11909813,8001143,19670,2023-06-24 00:00:00,2023-06-26 05:10:35,2023-06-24 15:03:00,6248,1,2023-07-04 16:16:37,2023-07,...,0,0,0,99285,99285,99285,99285,1,0,0
2,11909870,8001152,19670,2023-06-24 00:00:00,2023-06-26 05:10:54,2023-06-24 13:42:00,6248,1,2023-07-04 16:23:43,2023-07,...,0,0,0,99285,99285,99285,99285,1,0,0
3,11909569,7971482,19670,2023-06-24 00:06:00,2023-06-24 06:13:47,2023-06-23 23:14:00,4724,1,2023-07-04 16:39:04,2023-07,...,0,0,0,99284,99284,99284,99283,0,1,1
4,11909866,8001174,19670,2023-06-24 00:00:00,2023-06-26 05:11:40,2023-06-24 16:20:00,6248,1,2023-07-04 16:40:13,2023-07,...,0,0,0,99284,99284,99284,99284,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,11909776,8156642,19670,2023-07-02 00:00:00,2023-07-03 06:15:14,2023-07-02 20:58:00,6248,1,2023-07-09 22:24:23,2023-07,...,0,0,0,99284,99284,99284,99284,1,0,0
742,11909769,8183045,19670,2023-07-02 00:00:00,2023-07-04 08:02:58,2023-07-02 00:17:00,6248,1,2023-07-09 22:26:14,2023-07,...,0,0,0,99284,99284,99284,99284,1,0,0
743,11909764,8183058,19670,2023-07-02 00:00:00,2023-07-04 08:03:26,2023-07-02 04:32:00,6248,1,2023-07-09 22:30:14,2023-07,...,0,0,0,99283,99283,99283,99284,0,1,1
744,11909760,8183060,19670,2023-07-02 00:00:00,2023-07-04 08:03:29,2023-07-02 03:39:00,6248,1,2023-07-09 22:41:27,2023-07,...,0,0,0,99283,99283,99283,99283,1,0,0
745,11909762,8183063,19670,2023-07-02 00:00:00,2023-07-04 08:03:38,2023-07-02 03:08:00,6248,1,2023-07-09 22:43:00,2023-07,...,0,0,0,99284,99284,99284,99284,1,0,0

In [270]:
count_df.accepted.sum(), count_df.rejected.sum(), count_df.added.sum()

(586, 172, 175)

In [271]:
precision = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.rejected.sum())
recall = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.added.sum())
f1_score = (2 * precision * recall) / (recall + precision)

In [272]:
data = {"precision":precision, "recall":recall, "f1_score":f1_score}
pd.Series(data).to_frame('new_overall_sheet_stats_local')

           new_overall_sheet_stats_local
precision                       0.773087
recall                          0.770039
f1_score                        0.771560

In [273]:
df.clean_final.value_counts()

99284           499
99285           135
99283            37
99291            29
99223            28
99284, 99406      4
99223, 99285      3
99406, 99284      3
99282             3
99285, 99406      2
99292, 99291      1
99222, 99285      1
99406, 99223      1
Name: clean_final, dtype: int64

In [274]:
# df.local_output_final.value_counts()

In [289]:
cs =  pd.crosstab(df.clean_final, df.local_suggested_2, margins=True)

In [290]:
cs.style.background_gradient(cmap='YlGnBu', vmin=-5, vmax=15)

In [291]:
df.clean_suggested = df.clean_suggested.astype('str')
df.clean_final = df.clean_final.astype('str')
df.local_suggested = df.local_suggested.astype('str')

In [292]:
def highlight_same(data):
    
    highlighter = pd.DataFrame("", index=data.index, columns=data.columns)
    for col in data.columns:
        for index in data.index:

 

            if col == index:
                highlighter.loc[index, col] = 'background-color : springgreen'
                
            elif str(col)>str(index) and data.loc[index, col]>10:
                highlighter.loc[index, col] = 'background-color : lightskyblue'

            elif data.loc[index, col]>10:
                highlighter.loc[index, col] = 'background-color : PaleVioletRed'

    return highlighter

 

crosstab = cs.style.apply(highlight_same, axis=None)

In [293]:
crosstab.to_excel('/home/trishalaswain/ClientData/PH/CHINO_JULY_1_TO_10/CHINO_JULY_1_TO_10_local_crosstab.xlsx')

In [298]:
crosstab

In [297]:
df.clean_final.value_counts()

99284           499
99285           135
99283            37
99291            29
99223            28
99284, 99406      4
99223, 99285      3
99406, 99284      3
99282             3
99285, 99406      2
99292, 99291      1
99222, 99285      1
99406, 99223      1
Name: clean_final, dtype: int64

In [305]:
df.local_suggested_2 = df.local_suggested_2.astype('str')
df.clean_final = df.clean_final.astype('str')

In [313]:
new = df[(df.local_suggested_2.str.contains('99285')) & (df.clean_final.str.contains('99284'))]
new[['account_number', 'clean_final', 'clean_suggested', 'local_suggested_2']]

    account_number   clean_final clean_suggested local_suggested_2
28    V00001051947         99284           99284             99285
37    V00001051954         99284           99284             99285
42    V00001051959         99284           99284             99285
44    V00001051962         99284           99284             99285
47    V00001051964         99284           99284             99285
63    V00001051982         99284           99284             99285
66    V00001051987         99284           99284             99285
76    V00001052001         99284           99284             99285
88    V00001052033         99284           99285             99285
105   V00001052064         99284           99284             99285
109   V00001052088         99284           99285             99285
111   V00001052093         99284           99284             99285
114   V00001052065         99284           99284             99285
115   V00001052109         99284           99284             99285
163   V00001052134         99284           99284             99285
173   V00001052169         99284           99285             99285
202   V00001052296         99284           99285             99285
292   V00001052374         99284           99285             99285
338   V00001052367         99284           99284             99285
343   V00001052467         99284           99285             99285
366   V00001052396         99284           99285             99285
375   V00001052510         99284           99285             99285
389   V00001052523         99284           99285             99285
409   V00001052563         99284           99284             99285
421   V00001052551         99284           99285             99285
565   V00001052545         99284           99284             99285
571   V00001052557         99284           99285             99285
572   V00001052662         99284           99285             99285
578   V00001052671  99406, 99284    99406, 99285      99285, 99406
579   V00001052687         99284           99285             99285
580   V00001052691         99284           99284             99285
583   V00001052692  99406, 99284    99406, 99285      99285, 99406
588   V00001052713         99284           99284             99285
589   V00001052689         99284           99285             99285
606   V00001052796         99284           99285             99285
684   V00001052970         99284           99284             99285
723   V00001053007         99284           99285             99285

In [143]:
cols_to_use = ['service_date', 'account_number', 'facility_code', 'local_suggested', 'clean_suggested', 'clean_final']

In [287]:
df[df.clean_final.str.contains('99284') & df.local_suggested_2.str.contains('99285')][cols_to_use]

,service_date,account_number,facility_code,local_suggested,clean_suggested,clean_final
578,2023-06-30,V00001052671,CHINO,"99285, 99406","99406, 99285","99406, 99284"
583,2023-06-30,V00001052692,CHINO,"99285, 99406","99406, 99285","99406, 99284"

In [158]:
# confusion_matrix

In [159]:
# cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix, display_labels = df.clean_suggested.unique().tolist())

In [160]:
# confusion_matrix = pd.crosstab(df.clean_final, df.clean_suggested,margins = True, margins_name='Total')

In [161]:
# confusion_matrix.to_excel('/home/trishalaswain/ClientData/PH/CHINO_MONTH_WISE/CHINO_ALL_OP/25_MAY/test_matrix.xlsx')

In [162]:
# for i, r in df_fac.iterrows():
    
#     precision = df_fac.at[i,'accepted'] / (df_fac.at[i,'accepted'] + df_fac.at[i,'rejected'])
#     recall = df_fac.at[i,'accepted'] / (df_fac.at[i,'accepted'] + df_fac.at[i,'added'])
#     f1_score = (2 * precision * recall) / (recall + precision)
#     df_fac.at[i,'precision'] = precision
#     df_fac.at[i,'recall'] = recall
#     df_fac.at[i,'f1_score'] = f1_score

In [163]:
# df_fac

In [164]:
# df_fac.to_excel('/home/trishalaswain/Downloads/Script_Testing/excel_1.xlsx')

In [165]:
# precision, recall, f1_score

In [166]:
# def check_suggested(df):
#     for ind,row in df.iterrows():
#         row['new_suggested'] = str(row['new_suggested']).split(',')
#         for item in row['new_suggested']:
#             if str(item) == '{No Code}':
#                 df.at[ind,'rejected'] = 0
#                 continue
#             if str(item) in str(row['final']):
#                 df.at[ind,'accepted'] += 1
#             if str(item) not in str(row['final']):
#                 df.at[ind,'rejected'] +=1

In [167]:
# def check_final(df):
#     for ind,row in df.iterrows():
#         row['final'] = str(row['final']).split(',')
#         for final_code in row['final']:
#             if final_code not in str(row['new_suggested']):
#                 df.at[ind,'added'] +=1

In [168]:
# check_suggested(df)
# check_final(df)

In [169]:
# df['EANDM_Suggested_code'] = None

In [170]:
# def emsugg_filtered(df):
#     df['EANDM_Suggested_code'] = None
#     for ind, row in df.iterrows():

#         li = ast.literal_eval(row["EM_accepted"])
#         li2 = ast.literal_eval(row["EM_rejected"])
#         li3 = li + li2
#         df.at[ind,'EANDM_Suggested_code'] = li3

In [171]:
# emsugg_filtered(df)

In [172]:
# df

In [173]:
# def check_suggested2(df):
#     for ind,row in df.iterrows():
#         for item in row['EANDM_Suggested_code']:
#             if str(item) in str(row['final']):
#                 df.at[ind,'old_accepted'] += 1
#             if str(item) not in str(row['final']):
#                 df.at[ind,'old_rejected'] +=1

In [174]:
# def check_final2(df):
#     for ind,row in df.iterrows():
#         row['final'] = str(row['final']).split(',')
#         for final_code in row['final']:
#             if final_code not in str(row['EANDM_Suggested_code']):
#                 df.at[ind,'old_added'] +=1

In [175]:
# check_suggested2(df)
# check_final2(df)

In [176]:
# df2 = pd.read_excel('/home/trishalaswain/Downloads/Script_Testing/CHINO_ALL_TEXT_&_OUTPUT.xlsx', index_col=False)

In [177]:
# df2.final_code.value_counts()

99284    7000
99285    2623
99283    1817
99291     713
99223     298
None      144
99282     128
99406     116
99418      55
99292      33
99220      16
99222      16
993X0      11
99236       4
99219       3
99221       3
99281       2
99218       2
99239       1
99215       1
99359       1
Name: final_code, dtype: int64