In [49]:
import pandas as pd
import ast

In [50]:
# /home/trishalaswain/Downloads/SCP-1526-MONROE COUNTY HOSPITAL - FORSYTH-2023-02-01-2023-02-15.xlsx

In [51]:
df = pd.read_excel('/home/trishalaswain/Downloads/PH-HEMAG-Hollywood EMA Group-2023-04-01-2023-04-30.xlsx', index_col=False)

In [52]:
df['lastCodingDate'] = pd.to_datetime(df.lastCodingDate)

In [53]:
df.sort_values('lastCodingDate')

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
2988,6102299,20003,2023-04-01 00:00:00.0,2023-04-02 01:43:10.0,2023-03-17 13:45:00.0,5339,1,2023-04-02 23:28:49,2023-04,New Patient,...,1,1,NaN,[],[],[],{},0,0,0
3014,6102312,20003,2023-04-01 00:00:00.0,2023-04-02 01:43:28.0,2023-03-17 17:29:00.0,5339,1,2023-04-02 23:30:00,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
2945,6102249,20003,2023-04-01 00:00:00.0,2023-04-02 01:41:21.0,2023-03-20 14:26:00.0,5339,1,2023-04-02 23:30:42,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
3001,6102274,20003,2023-04-01 00:00:00.0,2023-04-02 01:42:40.0,2023-03-20 16:06:00.0,5339,1,2023-04-02 23:31:55,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
3147,6078345,20003,2023-03-21 00:00:00.0,2023-04-21 01:42:34.0,2023-03-20 23:10:00.0,5339,1,2023-04-02 23:34:03,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,6604218,20003,2023-04-25 00:00:00.0,2023-04-26 01:52:18.0,2023-04-25 02:59:00.0,5339,1,2023-04-30 23:51:34,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
526,6604272,20003,2023-04-25 00:00:00.0,2023-04-26 01:56:46.0,2023-04-25 04:29:00.0,5339,1,2023-04-30 23:52:36,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
516,6604261,20003,2023-04-25 00:00:00.0,2023-04-26 02:56:35.0,2023-04-25 05:56:00.0,5339,1,2023-04-30 23:56:28,2023-04,New Patient,...,0,1,NaN,[],[],[],{},0,0,0
619,6604372,20003,2023-04-25 00:00:00.0,2023-04-26 02:02:45.0,2023-04-25 06:56:00.0,5339,1,2023-04-30 23:57:28,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0
746,6604609,20003,2023-04-25 00:00:00.0,2023-04-26 02:11:24.0,2023-04-25 06:57:00.0,5339,1,2023-04-30 23:58:41,2023-04,New Patient,...,0,0,NaN,[],[],[],{},0,0,0

In [54]:
df = df[df.lastCodingDate>='2023-04-15']

In [63]:
df.accountNumber.to_excel('/home/trishalaswain/Downloads/Script_Testing/time_df.xlsx')