In [11]:
# method 2

import os
import pandas as pd

In [12]:
df_data = pd.read_excel("/home/jaiminrana/Analysis/SCP/SCP-3412-BAPTIST MEMORIAL HOSPITAL - ATTALA-2023-03-01-2023-03-15.xlsx")
df_use = df_data[['accountNumber','EANDM_Suggested','EANDM_Final']]

In [13]:
df_use = df_use[(df_use.EANDM_Final.str.contains('99284')) | (df_use.EANDM_Final.str.contains('99285'))]
# df_use.set_index('accountNumber',inplace = True)

In [14]:
df_use['problem'] = None
df_use['cui'] = None

In [15]:
df_use

,accountNumber,EANDM_Suggested,EANDM_Final,problem,cui
0,87701409,{99284=[]},99284,None,None
1,87701407,{99285=[25]},99285,None,None
2,87701406,{99285=[25]},99285 = [25-Sig/Sep ID E&M Same Pro/Day],None,None
3,87701404,{99284=[]},99284,None,None
4,87701402,{99284=[]},99284,None,None
...,...,...,...,...,...
456,87338235,{99284=[25]},99284,None,None
457,87338229,{99285=[25]},99284,None,None
458,87338225,{99285=[25]},99285,None,None
461,87290126,{99284=[25]},99284,None,None
462,87257242,{99285=[25]},99284,None,None

In [16]:
df_use[df_use.accountNumber==87257242]

     accountNumber EANDM_Suggested EANDM_Final problem   cui
462       87257242    {99285=[25]}       99284    None  None

In [17]:
file = open("/home/jaiminrana/Documents/problem.txt", "r")
account = ''

for i in file.readlines():
    problem_list = set()
    cui_set = set()
    
    if(i.__contains__('FILE ')):
        account_list = i.split(" -")
        account = account_list[1][0:8]
    else:   
        problem_cui_list = i.split("\t")
    #         problem_cui_list.remove('')
    #         problem_cui_list.remove('\n')

    #         print(problem_cui_list)
        for item in problem_cui_list:
            if(item == '' or item == '\n'):
                continue
            problem = item.split("==")[0]
            cui = item.split("==")[1]
            
    #             print(problem)
    #             print(cui)
    
            problem_list.add(problem)
            cui_set.add(cui)
    
#         print(account)
#         print(problem_list)
#         print(cui_list)
#         print(problem_list)
#         print(cui_set)
#         print(df_use.loc[df_use["accountNumber"] == int(account)].shape)
#         print(account, print(type(account)))
        df_use.loc[df_use["accountNumber"] == int(account), "problem"] = ', '.join(problem_list)
        df_use.loc[df_use["accountNumber"] == int(account), "cui"] = ', '.join(cui_set)

In [26]:
df_use.sample(10)

,accountNumber,EANDM_Suggested,EANDM_Final,problem,cui
123,87623495,{99285=[25]},99285,"Hypokalemia, hypertension, Uncontrolled hypert...","205318, 100002892, 20538, 100001819"
50,87670714,{99284=[25]},99285,Gastroesophageal reflux disease,17168
456,87338235,{99284=[25]},99284,"shortness, SOB, breath",13404
63,87654465,{99284=[25]},99284 = [25-Sig/Sep ID E&M Same Pro/Day],"palpitations, Rapid palpitations, Rapid","1637379, 30252, 425585"
394,87494407,{99284=[]},99284 = [25-Sig/Sep ID E&M Same Pro/Day],"Acute, body, right, ear, Acute infective otiti...","1268086, 16542, 21355, 521421, 1289033, 100017..."
165,87606051,{99285=[25]},99285 = [25-Sig/Sep ID E&M Same Pro/Day],"Acute, Chest pain, Chest, Acute pain, left, pa...","3538919, NO-CUI, 441994, 1288640, 184567, 1000..."
32,87670733,{99291=[25]},99285 = [25-Sig/Sep ID E&M Same Pro/Day],"hypotension, pregnancy, collapse, unspecified,...","120004548, 205370, 39070, 100021760, 20649, 31..."
74,87654453,{99284=[]},99284,Viral syndrome,42740
381,87494426,{99284=[]},99284,Gilbert syndrome,17551
416,87477795,{99284=[]},99284,"otitis media, unspecified otitis media, otitis...","205370, 2827407, 677540, 29882, 2881704, 29877..."

In [31]:
df_use.EANDM_Final.value_counts()

99284                                       298
99285                                        81
99285 = [25-Sig/Sep ID E&M Same Pro/Day]     28
99284 = [25-Sig/Sep ID E&M Same Pro/Day]     23
Name: EANDM_Final, dtype: int64

In [32]:
df_use.EANDM_Suggested.value_counts()

{99284=[]}                  229
{99285=[25]}                 88
{99284=[25]}                 73
{99285=[]}                   17
{99291=[25]}                 11
{99285=[25, 25]}              3
{99291=[]}                    3
{99292=[25], 99291=[25]}      1
{99285=[25], 99284=[25]}      1
{99285=[], 99284=[]}          1
{99291=[25, 25]}              1
{99284=[25, 25]}              1
{99285=[25], 99284=[]}        1
Name: EANDM_Suggested, dtype: int64

In [33]:
df_use[(df_use.EANDM_Suggested.str.contains('99284')) & (df_use.EANDM_Final.str.contains('99285'))].shape

(13, 5)

In [25]:
df_use[(df_use.EANDM_Suggested.str.contains('99285')) 
      & (df_use.EANDM_Final.str.contains('99284'))].problem.value_counts()

bone, without loss of consciousness, vascular disease, fracture, nasal bone, Cerebral, Closed, BMI, Concussion, Falling, nasal, loss, consciousness, Obesity, Concussion without loss, Closed fracture                                                                                                           1
examination                                                                                                                                                                                                                                                                                                      1
side, Sciatica, left side                                                                                                                                                                                                                                                                                        1
unspecified, hematuria, Urinary tract infection                                                                                                                                                                                                                                                                  1
Epigastric pain                                                                                                                                                                                                                                                                                                  1
URI, Mild, Viral URI, dehydration, Mild dehydration                                                                                                                                                                                                                                                              1
Anxiety, depression                                                                                                                                                                                                                                                                                              1
Bowel, Dehydration, Bowel perforation, HCC, perforation                                                                                                                                                                                                                                                          1
Anxiety, Noncompliance, attack, Anxiety attack                                                                                                                                                                                                                                                                   1
Ureterolithiasis, Ureterollhhasis, right, right side, colic, Renal, side, Renal colic                                                                                                                                                                                                                            1
fracture, severe headache, collision, MVC, blunt head trauma, mechanism, vertebra, minor, severe, MVA, CT, Minor Head Trauma, headache, Minor, Trauma, injury, Compression fracture, L3, blunt, Head CT, HCC, Head, Head Trauma, head trauma, motor vehicle collision, head, trauma, Compression, L3 vertebra    1
right tibia, proximal end, right fibula, fibula, fracture, right, Closed, torus, distal end, fracture of proximal, torus fracture, tibia, Closed torus fracture, proximal, distal, of                                                                                                                            1
infection, Wound, Wound infection                                                                                                                                                                                                                                                                                1
Umbilical, SURGERY                                                                                                                                                                                                                                                                                               1
enteritis, Moderate, dehydration, Viral enteritis, Moderate dehydration                                                                                                                                                                                                                                          1
Urinary fistula, fistula                                                                                                                                                                                                                                                                                         1
Hypokalemia, Palpitations, Anemia                                                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                 1
Costochondritis                                                                                                                                                                                                                                                                                                  1
Acute, acute, unspecified acute appendicitis, unspecified, appendicitis, Acute appendicitis                                                                                                                                                                                                                      1
Duodenitis                                                                                                                                                                                                                                                                                                       1
virus infection, infection, vomiting, unspecified vomiting, Nausea, unspecified, COVID-19                                                                                                                                                                                                                        1
Dehydration, HCC, Seizures                                                                                                                                                                                                                                                                                       1
Pleurodynia                                                                                                                                                                                                                                                                                                      1
right hip, blunt head trauma, older, contusion, minor, hip, CT, right, Minor Head Trauma, Minor, Lumbar, Trauma, blunt, Head CT, focal, neurologic deficit, Head, Head Trauma, head trauma, Contusion, head, trauma, focal neurologic deficit, neurologic, Lumbar contusion                                      1
Abdominal pain, abdominal, location, unspecified                                                                                                                                                                                                                                                                 1
disorder, Bipolar, Difficulty controlling anger, Bipolar 1 disorder, Difficulty, controlling anger, HCC, anger                                                                                                                                                                                                   1
Alcoholic intoxication, Depression, hallucinations, unspecified depression, unspecified, Auditory hallucinations, HCC, depression, intoxication                                                                                                                                                                  1
Abrasions, back, multiple, Contusion                                                                                                                                                                                                                                                                             1
carcinomatosis, Abdominal carcinomatosis, HCC, Abdominal                                                                                                                                                                                                                                                         1
hypotension, Fatigue, unspecified, Hypotension, unspecified hypotension                                                                                                                                                                                                                                          1
Name: problem, dtype: int64

In [19]:
from collections import defaultdict
cui_count_99284 = defaultdict(int)

for val in df_use[df_use.EANDM_Final.str.contains('99284')].cui:
    for c in val:
        cui_count_99284[c]+=1

cui_count_99285 = defaultdict(int)
for val in df_use[df_use.EANDM_Final.str.contains('99285')].cui:
    for c in val:
        cui_count_99285[c]+=1

In [21]:
# for key, val in sorted(cui_count_99285.items(), key=lambda item: item[1], reverse=True):
#     print(key, val, cui_count_99284[key])