In [1]:
# Importing modules
import csv
from xlsxwriter.workbook import Workbook

# Input file path
tsv_file = '/home/trishalaswain/Downloads/PH_jan/PH-PIMG-Palomar Intensivist Medical Group, Inc.-2023-01-01-2023-01-31.tsv'
# Output file path
xlsx_file = '/home/trishalaswain/Downloads/PH_jan/PH-PIMG-Palomar Intensivist Medical Group, Inc.-2023-01-01-2023-01-31.xlsx'

# Creating an XlsxWriter workbook object and adding
# a worksheet.
workbook = Workbook(xlsx_file)
worksheet = workbook.add_worksheet()

# Reading the tsv file.
read_tsv = csv.reader(open(tsv_file, 'r', encoding='utf-8'), delimiter='\t')

# We'll use a loop with enumerate to pass the data
# together with its row position number, which we'll
# use as the cell number in the write_row() function.
for row, data in enumerate(read_tsv):
	worksheet.write_row(row, 0, data)

# Closing the xlsx file.
workbook.close()

In [2]:
import pandas as pd

In [3]:
df =  pd.read_table(r'/home/trishalaswain/Downloads/PH_jan/PH-PIMG-Palomar Intensivist Medical Group, Inc.-2023-01-01-2023-01-31.tsv',index_col = False)

In [4]:
df

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
0,4248968,13853,2022-12-14 00:00:00.0,2022-12-31 01:07:23.0,2022-12-06 11:56:39.0,5847,1,2023-01-01 15:29:28.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
1,4256752,13796,2022-12-26 00:00:00.0,2023-01-01 01:17:39.0,2022-12-21 15:29:04.0,5847,1,2023-01-01 15:33:33.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
2,4208567,13796,2022-12-28 00:00:00.0,2022-12-29 01:16:41.0,2022-12-25 11:19:13.0,5847,1,2023-01-01 15:39:30.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
3,4208578,13796,2022-12-28 00:00:00.0,2022-12-29 01:17:47.0,2022-12-26 02:53:40.0,5847,1,2023-01-01 15:44:38.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
4,4208591,3618,2022-12-28 00:00:00.0,2022-12-29 01:18:05.0,2022-12-25 20:37:56.0,5847,1,2023-01-01 15:48:05.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,4766169,3498,2023-01-24 00:00:00.0,2023-01-25 01:15:01.0,2023-01-14 20:07:43.0,4752,1,2023-01-25 19:14:27.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
1004,4766165,6931,2023-01-24 00:00:00.0,2023-01-26 01:13:21.0,2023-01-18 10:23:00.0,4752,1,2023-01-25 19:17:05.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
1005,4766161,13796,2023-01-24 00:00:00.0,2023-01-25 01:16:13.0,2023-01-23 04:01:48.0,4752,1,2023-01-25 19:31:52.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
1006,4766146,3498,2023-01-24 00:00:00.0,2023-01-25 01:14:04.0,2023-01-21 10:05:34.0,4752,1,2023-01-25 19:33:30.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
1007,4766124,13796,2023-01-24 00:00:00.0,2023-01-25 01:13:45.0,2023-01-06 10:56:38.0,4752,1,2023-01-25 19:35:03.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0

In [5]:
df['EANDM_Final'].unique()

array(['99291', '99238', nan, '99233', '99223',
       '99291 = [25-Sig/Sep ID E&M Same Pro/Day]', '99292, 99291',
       '99292 = [25-Sig/Sep ID E&M Same Pro/Day], 99291 = [25-Sig/Sep ID E&M Same Pro/Day]',
       '99232', '99239', '99233 = [25-Sig/Sep ID E&M Same Pro/Day]',
       '99291, 99238', '99238, 99232', '99238, 99233',
       '99223 = [25-Sig/Sep ID E&M Same Pro/Day]',
       '99292, 99291 = [25-Sig/Sep ID E&M Same Pro/Day]', '99497'],
      dtype=object)

In [6]:
def emsugg_filtered(df):
    df['EANDM_Suggested_code'] = None
    for index, row in df.iterrows():
        li = []
        i = str(row["EANDM_Suggested"])
        if "99285" in i:
            li.append(99285)
        if "99284" in i:
            li.append(99284)
        if "99283" in i:
            li.append(99283)
        if "99282" in i:
            li.append(99282)
        # if "99281" in i:
        #     li.append(99281)
        if "99291" in i:
            li.append(99291)
        if "99292" in i:
            li.append(99292)
        if "99211" in i:
            li.append(99211)
        if "99212" in i:
            li.append(99212)
        if "99213" in i:
            li.append(99213)
        if "99214" in i:
            li.append(99214)
        if "99215" in i:
            li.append(99215)
        if "99216" in i:
            li.append(99216)
        if "99217" in i:
            li.append(99217)
        if "99218" in i:
            li.append(99218)
        if "99219" in i:
            li.append(99219)
        if "99220" in i:
            li.append(99220)
        if "99221" in i:
            li.append(99221)
        if "99222" in i:
            li.append(99222)
        if "99223" in i:
            li.append(99223)
        if "99224" in i:
            li.append(99224)
        if "99225" in i:
            li.append(99225)
        if "99226" in i:
            li.append(99226)
        if "99231" in i:
            li.append(99231)
        if "99232" in i:
            li.append(99232)
        if "99233" in i:
            li.append(99233)
        if "99234" in i:
            li.append(99234)
        if "99235" in i:
            li.append(99235)
        if "99238" in i:
            li.append(99238)
        if "99239" in i:
            li.append(99239)
        if "99406" in i:
            li.append(99406)
        if "99418" in i:
            li.append(99418)

        df.at[index,'EANDM_Suggested_code'] = li

In [7]:
def emfinal_filtered(df):
    df['EANDM_Final_code'] = None
    for index, row in df.iterrows():
        li = []
        i = str(row["EANDM_Final"])
        if "99285" in i:
            li.append(99285)
        if "99284" in i:
            li.append(99284)
        if "99283" in i:
            li.append(99283)
        if "99282" in i:
            li.append(99282)
        if "99281" in i:
            li.append(99281)
        if "99291" in i:
            li.append(99291)
        if "99292" in i:
            li.append(99292)
        if "99211" in i:
            li.append(99211)
        if "99212" in i:
            li.append(99212)
        if "99213" in i:
            li.append(99213)
        if "99214" in i:
            li.append(99214)
        if "99215" in i:
            li.append(99215)
        if "99216" in i:
            li.append(99216)
        if "99217" in i:
            li.append(99217)
        if "99218" in i:
            li.append(99218)
        if "99219" in i:
            li.append(99219)
        if "99220" in i:
            li.append(99220)
        if "99221" in i:
            li.append(99221)
        if "99222" in i:
            li.append(99222)
        if "99223" in i:
            li.append(99223)
        if "99224" in i:
            li.append(99224)
        if "99225" in i:
            li.append(99225)
        if "99226" in i:
            li.append(99226)
        if "99231" in i:
            li.append(99231)
        if "99232" in i:
            li.append(99232)
        if "99233" in i:
            li.append(99233)
        if "99234" in i:
            li.append(99234)
        if "99235" in i:
            li.append(99235)
        if "99238" in i:
            li.append(99238)
        if "99239" in i:
            li.append(99239)
        if "99406" in i:
            li.append(99406)
        if "99418" in i:
            li.append(99418)

        df.at[index,'EANDM_Final_code'] = li

In [8]:
df = df[(df['EANDM_Accepted_Count'] != 0) | (df['EANDM_Rejected_Count'] != 0) | (df['EANDM_Added_Count'] != 0)]
df = df.reset_index()
df = df[["facilityCode","facilityName","accountNumber","EANDM_Final","EANDM_Suggested","EANDM_Accepted_Count","EANDM_Rejected_Count","EANDM_Added_Count"]].reset_index()

emsugg_filtered(df)
emfinal_filtered(df)

In [27]:
for i,r in df.iterrows():
    li =  r["EANDM_Suggested_code"]
    for item in li:

KeyError: '99291'

In [21]:
df_final = pd.DataFrame()

In [10]:
df

,index,facilityCode,facilityName,accountNumber,EANDM_Final,EANDM_Suggested,EANDM_Accepted_Count,EANDM_Rejected_Count,EANDM_Added_Count,EANDM_Suggested_code,EANDM_Final_code
0,0,PIMG,"Palomar Intensivist Medical Group, Inc.",13092027,99291,{99291=[]},1,0,0,[99291],[99291]
1,1,PIMG,"Palomar Intensivist Medical Group, Inc.",13105277,99238,{99238=[25]},1,0,0,[99238],[99238]
2,2,PIMG,"Palomar Intensivist Medical Group, Inc.",13107694,99291,{99291=[25]},1,0,0,[99291],[99291]
3,3,PIMG,"Palomar Intensivist Medical Group, Inc.",13107979,99291,{99291=[]},1,0,0,[99291],[99291]
4,4,PIMG,"Palomar Intensivist Medical Group, Inc.",13107884,99291,{99291=[]},1,0,0,[99291],[99291]
...,...,...,...,...,...,...,...,...,...,...,...
854,854,PIMG,"Palomar Intensivist Medical Group, Inc.",13124803,99233,{99231=[]},0,1,1,[99231],[99233]
855,855,PIMG,"Palomar Intensivist Medical Group, Inc.",13127670,99291,{99291=[]},1,0,0,[99291],[99291]
856,856,PIMG,"Palomar Intensivist Medical Group, Inc.",13131221,99291 = [25-Sig/Sep ID E&M Same Pro/Day],{99291=[]},1,0,0,[99291],[99291]
857,857,PIMG,"Palomar Intensivist Medical Group, Inc.",13130449,99233,{99231=[]},0,1,1,[99231],[99233]
858,858,PIMG,"Palomar Intensivist Medical Group, Inc.",13117457,99291,{99291=[25]},1,0,0,[99291],[99291]