In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("SCP-5365-GREENVILLE COMMUNITY HOSPITAL EAST-2023-01-01-2023-01-31.xlsx", index_col=False)

In [12]:
accepted_counts = 0

In [19]:

def get_accepted_counts(x):
    if str({x.new_suggested}) in str({x.final}):
        return 1
    else:
        return 0
    
df['get_accepted_counts'] = df.apply(get_accepted_counts, axis = 1)

In [20]:
df

,acoount,new_suggested,final,EM_accepted,EM_rejected,get_accepted_counts
0,84767141,99283,99283,[],"[99284, 99281]",1
1,84767162,{No Code},99284,[99284],[],0
2,84767186,99283,99285,[],"[99284, 99281]",0
3,84820779,99285,99285,[99285],[],1
4,84854375,99291,99285,[],"[99281, 99291]",0
...,...,...,...,...,...,...
2733,87055781,99284,99284,[99284],[],1
2734,87055786,99284,99284,[99284],[],1
2735,87055787,99284,99284,[],[99285],1
2736,87055788,99284,99284,[99284],[],1
2737,87073920,99284,99284,[99284],[],1

In [22]:
df.get_accepted_counts.sum()

1805