In [4]:
import pandas as pd
import re

In [5]:
df = pd.read_excel("/home/trishalaswain/Downloads/Apr_01_to_15/SCP-3035-OSF ST. FRANCIS HOSPITAL & MEDICAL GROUP-2023-04-01-2023-04-15.xlsx", index_col=False)

In [6]:
df

     accountNumbers_sheet EANDM_Final emcs_local_suggested_2
0                87888097       99285                  99285
1                86429795       99291                  99291
2                87849629       99285                  99291
3                87720697       99285                  99285
4                87938729       99285                  99285
..                    ...         ...                    ...
561              88162638       99283                  99284
562              88162625       99285                  99291
563              88133774       99291                  99291
564              88117785       99291                  99291
565              86915371       99291                  99285

[566 rows x 3 columns]

In [9]:
def get_counts(x):
    
    suggested = str(x['emcs_local_suggested_2']).strip()
    final = str(x['EANDM_Final']).strip()
    
    suggested_set = set(suggested.split(', '))
    if '{No Code}Â ' in suggested_set:
        suggested_set.remove('{No Code}')
    
    final_set = set(final.split(', '))
    
    accepted = len(suggested_set.intersection(final_set))
    rejected = len(suggested_set - final_set)
    added = len(final_set - suggested_set)
    if (rejected >= 1 or added >= 1):
        # print(x['accountNumber'])
        print('rejected',rejected)
        print('added',added)
        print('suggested_set',suggested_set,'\t final_set',final_set)
            
    return pd.Series({'accepted':accepted, 'rejected':rejected, 'added':added})

In [10]:
count_df =  df.apply(get_counts, axis=1)

rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'{No Code}'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 2
added 1
suggested_set {'99291', '99292'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'{No Code}'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99282'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 2
added 1
suggested_set {'99291', '99292'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'{No Code}'} 	 final_set {'99291'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 0
suggested_set {'99291', '99292'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99282'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'{No Code}'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'{No Code}'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99284'}
rejected 1
added 1
suggested_set {'99284'} 	 final_set {'99283'}
rejected 1
added 1
suggested_set {'99291'} 	 final_set {'99285'}
rejected 1
added 1
suggested_set {'99285'} 	 final_set {'99291'}

In [11]:
count_df

     accepted  rejected  added
0           1         0      0
1           1         0      0
2           0         1      1
3           1         0      0
4           1         0      0
..        ...       ...    ...
561         0         1      1
562         0         1      1
563         1         0      0
564         1         0      0
565         0         1      1

[566 rows x 3 columns]

In [12]:
count_df.accepted.sum(), count_df.rejected.sum(), count_df.added.sum()

(325, 251, 243)

In [13]:
precision = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.rejected.sum())
recall = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.added.sum())
f1_score = (2 * precision * recall) / (recall + precision)

In [14]:
f1_score

0.5681818181818181