In [93]:
import pandas as pd
df = pd.read_table(r'/home/trishalaswain/Downloads/PH_jan/PH-PEP-Palomar Emergency Physicians, Inc.-2023-01-01-2023-01-31.tsv',index_col = False)

In [94]:
import ast

In [101]:
df['serviceDate'] = pd.to_datetime( df.serviceDate)

In [111]:
df[df.serviceDate>='2023-01-01']

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,EANDM_Rejected_Count,EANDM_Added_Count,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count
152,4268547,3331,2023-01-01 21:29:49,2023-01-02 05:07:31.0,2023-01-01 21:29:49.0,6156,1,2023-01-02 19:42:48.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
664,4265234,3331,2023-01-01 01:02:45,2023-01-02 02:13:52.0,2023-01-01 01:02:45.0,5217,1,2023-01-03 05:38:28.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
668,4265027,3331,2023-01-01 02:10:18,2023-01-02 02:00:48.0,2023-01-01 02:10:18.0,5217,1,2023-01-03 05:41:51.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
876,4267057,3331,2023-01-01 08:46:55,2023-01-02 04:10:09.0,2023-01-01 08:46:55.0,5215,1,2023-01-03 21:48:05.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
878,4267058,3331,2023-01-01 09:42:13,2023-01-02 04:10:10.0,2023-01-01 09:42:13.0,5215,1,2023-01-03 21:52:29.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9645,4824337,3331,2023-01-25 11:55:07,2023-01-28 01:16:22.0,2023-01-25 11:55:07.0,5217,1,2023-01-31 00:08:26.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
9646,4790922,3331,2023-01-25 03:43:50,2023-01-29 01:11:46.0,2023-01-25 03:43:50.0,6152,1,2023-01-31 00:09:57.0,2023-01,New Patient,...,2,1,[],[],[],[],[],0,0,0
9647,4767592,3331,2023-01-24 14:21:47,2023-01-25 02:16:38.0,2023-01-24 14:21:47.0,6156,1,2023-01-31 00:11:11.0,2023-01,New Patient,...,1,1,[],[],[],[],[],0,0,0
9648,4825073,3331,2023-01-27 11:02:00,2023-01-28 02:11:28.0,2023-01-27 11:02:00.0,5217,1,2023-01-31 00:11:36.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0
9649,4767419,3331,2023-01-24 12:16:58,2023-01-25 02:09:40.0,2023-01-24 12:16:58.0,5217,1,2023-01-31 00:14:42.0,2023-01,New Patient,...,0,0,[],[],[],[],[],0,0,0

In [95]:
df1 = df[["EANDM_Final","EANDM_Suggested","EANDM_Accepted","EANDM_Rejected","EANDM_Added"]]

In [96]:
df1

,EANDM_Final,EANDM_Suggested,EANDM_Accepted,EANDM_Rejected,EANDM_Added
0,99285,{99284=[25]},[],[99284],[99285]
1,99285,{99285=[25]},[99285],[],[]
2,99283,{99282=[]},[],[99282],[99283]
3,99285,{99284=[]},[],[99284],[99285]
4,99285 = [U7-M/Caid Care Lev 7 State Def],{99284=[]},[],[99284],[99285]
...,...,...,...,...,...
9645,99285 = [25-Sig/Sep ID E&M Same Pro/Day],{99285=[25]},[99285],[],[]
9646,99283,"{99284=[], 99281=[]}",[],"[99284, 99281]",[99283]
9647,99285 = [25-Sig/Sep ID E&M Same Pro/Day],{99284=[25]},[],[99284],[99285]
9648,99291 = [25-Sig/Sep ID E&M Same Pro/Day],{99291=[25]},[99291],[],[]
9649,99291 = [25-Sig/Sep ID E&M Same Pro/Day],{99291=[25]},[99291],[],[]

In [97]:
def emsugg_filtered(df1):
    df1['EANDM_Suggested_code'] = None
    for ind, row in df1.iterrows():
        if len(row["EANDM_Accepted"]) == 2:
            accepted = ""
        else:
            accepted = row["EANDM_Accepted"][1:-1]
            
        if len(row["EANDM_Rejected"]) == 2:
            rejected = ""
        else:
            rejected = row["EANDM_Rejected"][1:-1]

            
        if len(accepted) == 0:
            li = []
        else:
            li = ast.literal_eval(accepted)
            li = [li]

        if len(rejected) == 0:
            li2 = []
        else:
            li2 = ast.literal_eval(rejected)
            li2 = [li2]

        li3 = list(li) + list(li2)
        # print(li3)
        # row["EANDM_Accepted"] = [str(x) for x in row["EANDM_Accepted"]]
        # row["EANDM_Rejected"] = [str(x) for x in row["EANDM_Rejected"]]
        # df1=df1.astype({"EANDM_Accepted":"str"})
        # df1=df1.astype({"EANDM_Rejected":"str"})
        
        # li = ast.literal_eval(row["EANDM_Accepted"])
        # li2 = ast.literal_eval(row["EANDM_Rejected"])
        
        

        li3 = li + li2
        if 99281 in li3:
            li3.remove(99281)
            
        # output = [str(x) for x in li3]



        df1.at[ind,'EANDM_Suggested_code'] = li3

In [58]:
# def emsugg_filtered(df1):
#     df1['EANDM_Suggested_code'] = None
#     for index, row in df1.iterrows():
#         li = []
#         i = str(row["EANDM_Suggested"])
#         if "99285" in i:
#             li.append(99285)
#         if "99284" in i:
#             li.append(99284)
#         if "99283" in i:
#             li.append(99283)
#         if "99282" in i:
#             li.append(99282)
#         # if "99281" in i:
#         #     li.append(99281)
#         if "99291" in i:
#             li.append(99291)
#         if "99292" in i:
#             li.append(99292)
#         if "99211" in i:
#             li.append(99211)
#         if "99212" in i:
#             li.append(99212)
#         if "99213" in i:
#             li.append(99213)
#         if "99214" in i:
#             li.append(99214)
#         if "99215" in i:
#             li.append(99215)
#         if "99216" in i:
#             li.append(99216)
#         if "99217" in i:
#             li.append(99217)
#         if "99218" in i:
#             li.append(99218)
#         if "99219" in i:
#             li.append(99219)
#         if "99220" in i:
#             li.append(99220)
#         if "99221" in i:
#             li.append(99221)
#         if "99222" in i:
#             li.append(99222)
#         if "99223" in i:
#             li.append(99223)
#         if "99224" in i:
#             li.append(99224)
#         if "99225" in i:
#             li.append(99225)
#         if "99226" in i:
#             li.append(99226)
#         if "99231" in i:
#             li.append(99231)
#         if "99232" in i:
#             li.append(99232)
#         if "99233" in i:
#             li.append(99233)
#         if "99234" in i:
#             li.append(99234)
#         if "99235" in i:
#             li.append(99235)
#         if "99238" in i:
#             li.append(99238)
#         if "99239" in i:
#             li.append(99239)
#         if "99406" in i:
#             li.append(99406)
#         if "99418" in i:
#             li.append(99418)
#         if "99202" in i:
#             li.append(99202)

#         df1.at[index,'EANDM_Suggested_code'] = li

In [98]:
df1

,EANDM_Final,EANDM_Suggested,EANDM_Accepted,EANDM_Rejected,EANDM_Added
0,99285,{99284=[25]},[],[99284],[99285]
1,99285,{99285=[25]},[99285],[],[]
2,99283,{99282=[]},[],[99282],[99283]
3,99285,{99284=[]},[],[99284],[99285]
4,99285 = [U7-M/Caid Care Lev 7 State Def],{99284=[]},[],[99284],[99285]
...,...,...,...,...,...
9645,99285 = [25-Sig/Sep ID E&M Same Pro/Day],{99285=[25]},[99285],[],[]
9646,99283,"{99284=[], 99281=[]}",[],"[99284, 99281]",[99283]
9647,99285 = [25-Sig/Sep ID E&M Same Pro/Day],{99284=[25]},[],[99284],[99285]
9648,99291 = [25-Sig/Sep ID E&M Same Pro/Day],{99291=[25]},[99291],[],[]
9649,99291 = [25-Sig/Sep ID E&M Same Pro/Day],{99291=[25]},[99291],[],[]

In [ ]:
# def emsugg_filtered(df1):
#     df1['EANDM_Suggested_code'] = None
#     for ind, row in df1.iterrows():
#         row["EANDM_Accepted"] = [str(x) for x in row["EANDM_Accepted"]]
#         row["EANDM_Rejected"] = [str(x) for x in row["EANDM_Rejected"]]

#         li = ast.literal_eval(row["EANDM_Accepted"])
#         li2 = ast.literal_eval(row["EANDM_Rejected"])
        
        

#         li3 = li + li2
#         if 99281 in li3:
#             li3.remove(99281)
            
#         # output = [str(x) for x in li3]



#         df1.at[ind,'EANDM_Suggested_code'] = li3

In [ ]:
# def emfinal_filtered(df1):
#     df1['EANDM_Final_code'] = None
#     for index, row in df1.iterrows():
#         li = []
#         i = str(row["EANDM_Final"])
#         if "99285" in i:
#             li.append(99285)
#         if "99284" in i:
#             li.append(99284)
#         if "99283" in i:
#             li.append(99283)
#         if "99282" in i:
#             li.append(99282)
#         if "99281" in i:
#             li.append(99281)
#         if "99291" in i:
#             li.append(99291)
#         if "99292" in i:
#             li.append(99292)
#         if "99211" in i:
#             li.append(99211)
#         if "99212" in i:
#             li.append(99212)
#         if "99213" in i:
#             li.append(99213)
#         if "99214" in i:
#             li.append(99214)
#         if "99215" in i:
#             li.append(99215)
#         if "99216" in i:
#             li.append(99216)
#         if "99217" in i:
#             li.append(99217)
#         if "99218" in i:
#             li.append(99218)
#         if "99219" in i:
#             li.append(99219)
#         if "99220" in i:
#             li.append(99220)
#         if "99221" in i:
#             li.append(99221)
#         if "99222" in i:
#             li.append(99222)
#         if "99223" in i:
#             li.append(99223)
#         if "99224" in i:
#             li.append(99224)
#         if "99225" in i:
#             li.append(99225)
#         if "99226" in i:
#             li.append(99226)
#         if "99231" in i:
#             li.append(99231)
#         if "99232" in i:
#             li.append(99232)
#         if "99233" in i:
#             li.append(99233)
#         if "99234" in i:
#             li.append(99234)
#         if "99235" in i:
#             li.append(99235)
#         if "99238" in i:
#             li.append(99238)
#         if "99239" in i:
#             li.append(99239)
#         if "99406" in i:
#             li.append(99406)
#         if "99418" in i:
#             li.append(99418)
#         if "99202" in i:
#             li.append(99202)

#         df1.at[index,'EANDM_Final_code'] = li

In [ ]:
# def emfinal_filtered(df1):
#     df1['EANDM_Final_code'] = None
#     for ind, row in df1.iterrows():
#         row["EANDM_Accepted"] = [str(x) for x in row["EANDM_Accepted"]]
#         row["EANDM_Added"] = [str(x) for x in row["EANDM_Added"]]
        
        
#         li = ast.literal_eval(row["EANDM_Accepted"])
#         li2 = ast.literal_eval(row["EANDM_Added"])

#         li3 = li + li2
#         # output = [str(x) for x in li3]


#         df1.at[ind,'EANDM_Final_code'] = li3

In [42]:
# logic:
# Accepted + Added = new_final
# Rejected + Accepted = new_suggested