In [1]:
import pandas as pd
import re
import os

In [5]:
# dir_path = r'/home/trishalaswain/Documents/Sheets/SCP_Mar_01_to_31/'
# res = []

# for path in os.listdir(dir_path):
#     if os.path.isfile(os.path.join(dir_path, path)) and str(path).endswith("31.xlsx"):
#         res.append(dir_path + path)

In [6]:
df = pd.read_excel('/home/trishalaswain/Downloads/SCP-1240-MOUNT SINAI MEDICAL CENTER-2023-04-01-2023-04-30.xlsx', index_col=False)

In [12]:
cols_to_use = ['processingDate','accountNumber', 'EANDM_Suggested', 'EANDM_Final', 'EANDM_Accepted', 'EANDM_Rejected', 'EANDM_Added', 'EANDM_Accepted_Count', 'EANDM_Rejected_Count', 'EANDM_Added_Count',];

In [13]:
df['EANDM_Suggested_Code'] = None
df['EANDM_Final_Code'] = None

In [14]:
def clean(df):
    for i,r in df.iterrows():
        df.at[i,'EANDM_Suggested_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Suggested']))])
        df.at[i,'EANDM_Final_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Final']))])
        return df[cols_to_use].fillna('')

In [15]:
def get_counts(x):
    
    suggested = str(x['EANDM_Suggested_Code'])
    final = str(x['EANDM_Final_Code'])
    
    suggested_set = set(suggested.split(','))
    final_set = set(final.split(','))
    
    # if '9' not in final:
    #     # print(x)
    #     # print('final',final)
    #     # print('final_set', final_set)
    #     final_set.clear()
    #     # print('final_set afer clear: ', final_set)
        
    # if '9' not in suggested:
    #     # print(x)
    #     # print('suggested: ',suggested)
    #     # print('suggested_set: ', suggested_set)
    #     suggested_set.clear()
    #     # print('suggested_set after clear: ', suggested_set)
        
    
    accepted = len(suggested_set.intersection(final_set))
    rejected = len(suggested_set - final_set)
    added = len(final_set - suggested_set)
    
    if (rejected >= 1 or added >= 1):
        print('rejected',rejected)
        print('added',added)
        print('suggested_set',suggested_set,'\t final_set',final_set)
            
    return pd.Series({'accepted':accepted, 'rejected':rejected, 'added':added})

In [16]:
df

,id,physicianId,serviceDate,processingDate,admissionDate,userId,processId,lastCodingDate,month,visitType,...,HCPCS_Final,HCPCS_Accepted,HCPCS_Rejected,HCPCS_Added,HCPCS_Suggested,HCPCS_Accepted_Count,HCPCS_Rejected_Count,HCPCS_Added_Count,EANDM_Suggested_Code,EANDM_Final_Code
0,6299744,27946,2023-03-25 00:00:00.0,2023-04-12 05:36:44.0,2023-03-25 00:00:00.0,5987,1,2023-04-13 10:16:20.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
1,5906523,27946,2023-03-03 00:00:00.0,2023-04-07 23:24:50.0,2023-03-03 00:00:00.0,6274,1,2023-04-10 02:29:28.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
2,5906525,27946,2023-03-03 00:00:00.0,2023-04-07 23:20:44.0,2023-03-03 00:00:00.0,6270,1,2023-04-10 01:37:44.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
3,5906514,27946,2023-03-03 00:00:00.0,2023-04-07 23:24:35.0,2023-03-03 00:00:00.0,5022,1,2023-04-10 02:59:04.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
4,5906515,27946,2023-03-03 00:00:00.0,2023-04-07 23:24:37.0,2023-03-03 00:00:00.0,5022,1,2023-04-10 02:56:29.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5414,6053804,27946,2023-03-13 00:00:00.0,2023-04-12 23:19:47.0,2023-03-13 00:00:00.0,6274,1,2023-04-13 23:05:11.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
5415,5644206,27946,2023-02-18 00:00:00.0,2023-04-04 12:39:37.0,2023-02-18 00:00:00.0,5240,1,2023-04-04 22:42:47.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
5416,6578079,27946,2023-04-04 00:00:00.0,2023-04-25 08:02:06.0,2023-04-04 00:00:00.0,6270,1,2023-04-25 22:03:45.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
5417,6053794,27946,2023-03-13 00:00:00.0,2023-03-31 00:43:40.0,2023-03-13 00:00:00.0,5022,1,2023-04-03 08:33:58.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None
5418,6053795,27946,2023-03-13 00:00:00.0,2023-03-31 00:43:42.0,2023-03-13 00:00:00.0,5022,1,2023-04-03 08:08:20.0,2023-04,New Patient,...,NaN,[],[],[],{},0,0,0,None,None

In [17]:
df = df[cols_to_use]
clean_df = clean(df)
clean_df.dropna(inplace=True)
count_df =  clean_df.apply(get_counts, axis = 1)

# old_sum = df.EANDM_Accepted_Count.sum() + df.EANDM_Added_Count.sum()
# print(old_sum)
new_sum = count_df.accepted.sum() + count_df.added.sum()
# print("New Accepted + Added\t" +  str(new_sum))

precision = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.rejected.sum())
recall = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.added.sum())
f1_score = (2 * precision * recall) / (recall + precision)
print(precision, recall, f1_score)

/tmp/ipykernel_20280/1177480803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[i,'EANDM_Suggested_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Suggested']))])
/tmp/ipykernel_20280/1177480803.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[i,'EANDM_Final_Code'] = ','.join([str(elem) for elem in re.findall(r"\b\d{5}\b", str(r['EANDM_Final']))])

KeyError: 'EANDM_Suggested_Code'

In [47]:
df

,accountNumber,EANDM_Suggested,EANDM_Final,EANDM_Accepted,EANDM_Rejected,EANDM_Added,EANDM_Accepted_Count,EANDM_Rejected_Count,EANDM_Added_Count
0,726000220276,99284,99283,[],[99284],[99283],0,1,1
1,726000219954,{99223=[25]},99285,[],[99223],[99285],0,1,1
2,726000209439,{99284=[25]},99284 = [U7-M/Caid Care Lev 7 State Def],[99284],[],[],1,0,0
3,726000215033,{99233=[25]},NaN,[],[99233],[],0,1,0
4,726000220502,{99284=[]},99283,[],[99284],[99283],0,1,1
...,...,...,...,...,...,...,...,...,...
2532,726000217884,{99284=[]},99284,[99284],[],[],1,0,0
2533,726000222224,{99284=[25]},99284,[99284],[],[],1,0,0
2534,726000222249,{99282=[]},NaN,[],[99282],[],0,1,0
2535,726000222165,{99285=[25]},99285,[99285],[],[],1,0,0
2536,726000222134,{99284=[25]},99284,[99284],[],[],1,0,0

In [31]:
df['EANDM_Added_Count'].sum()

EANDM_Added_Count    802
EANDM_Added_Count    802
dtype: int64

In [13]:
count_df

      accepted  rejected  added
0            0         1      1
1            0         1      1
2            0         1      1
3            0         1      1
4            0         1      1
...        ...       ...    ...
2532         0         1      1
2533         0         1      1
2534         0         1      1
2535         0         1      1
2536         0         1      1

[2537 rows x 3 columns]

In [8]:
for file in res:
    filename = re.findall("SCP-.*", file)
    
    print(str(filename))
    df = pd.read_excel(file, index_col = False)
    clean_df = clean(df)
    clean_df.dropna(inplace=True)
    count_df =  clean_df.apply(get_counts, axis = 1)
    
    old_sum = df['EANDM_Accepted_Count'].sum() + df['EANDM_Added_Count'].sum()
    print("Old Accepted + Added\t" +  str(old_sum))
    new_sum = count_df.accepted.sum() + count_df.added.sum()
    print("New Accepted + Added\t" +  str(new_sum))
    
    precision = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.rejected.sum())
    recall = count_df.accepted.sum() / (count_df.accepted.sum() + count_df.added.sum())
    f1_score = (2 * precision * recall) / (recall + precision)
    print(precision, recall, f1_score)

['SCP-39-CHRISTUS OCHSNER LAKE AREA HOSPITAL-2023-03-01-2023-03-31.xlsx']

/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Old Accepted + Added	1982
New Accepted + Added	1982
0.0005027652086475615 0.0005045408678102926 0.000503651473180559
['SCP-6114-SMYTH COUNTY COMMUNITY HOSPITAL-2023-03-01-2023-03-31.xlsx']

/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Old Accepted + Added	1405
New Accepted + Added	1406
0.0 0.0 nan
['SCP-5381-INDIAN PATH COMMUNITY HOSPITAL-2023-03-01-2023-03-31.xlsx']

/tmp/ipykernel_8202/2385503818.py:17: RuntimeWarning: invalid value encountered in double_scalars
  f1_score = (2 * precision * recall) / (recall + precision)
/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Old Accepted + Added	2066
New Accepted + Added	2066
0.0004608294930875576 0.000484027105517909 0.00047214353163361664
['SCP-4035-PLAINS REGIONAL MEDICAL CENTER-2023-03-01-2023-03-31.xlsx']

/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Old Accepted + Added	2296
New Accepted + Added	2297
0.0 0.0 nan
['SCP-3314-LAKE REGIONAL HEALTH SYSTEM-2023-03-01-2023-03-31.xlsx']

/tmp/ipykernel_8202/2385503818.py:17: RuntimeWarning: invalid value encountered in double_scalars
  f1_score = (2 * precision * recall) / (recall + precision)
/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Old Accepted + Added	2973
New Accepted + Added	2974
0.0 0.0 nan
['SCP-3434-BAPTIST MEMORIAL HOSPITAL - NORTH MISSISSIPPI-2023-03-01-2023-03-31.xlsx']

/tmp/ipykernel_8202/2385503818.py:17: RuntimeWarning: invalid value encountered in double_scalars
  f1_score = (2 * precision * recall) / (recall + precision)
/home/trishalaswain/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

KeyboardInterrupt: